Repository mesosphere/dcos-docs-site, pull requests merged in 2020-03, with the labels that each got.

#2787 Add Prometheus monitoring settings topic
  pages/ksphere/konvoy/latest/monitoring/recommendations/index.md
Labels: KONVOY, ready to merge

#2790 Add KCL tutorial
  pages/ksphere/kommander/latest/tutorials/use-kcl-from-kubectl/index.md
Labels: Kommander, ready to merge

#2794 feat(kommander): attach cluster using isolated service account
  pages/ksphere/kommander/latest/clusters/attach-cluster/index.md
Labels: Kommander, ready to merge

#2809 Changes for ELB Jira tickets D2IQ-64446 -64524 -64677 -64794 -64862 -…
  pages/mesosphere/dcos/services/edge-lb/1.5/getting-started/auto-pools/index.md
  pages/mesosphere/dcos/services/edge-lb/1.5/getting-started/edge-lb-mlb-example/index.md
  pages/mesosphere/dcos/services/edge-lb/1.5/getting-started/installing/index.md
  pages/mesosphere/dcos/services/edge-lb/1.5/getting-started/single-lb/index.md
  pages/mesosphere/dcos/services/edge-lb/1.5/how-to-tasks/scale-up/index.md
Labels: ready to merge

#2802 konvoy: Update docs for konvoy release
  pages/ksphere/konvoy/latest/gpu/index.md
  pages/ksphere/konvoy/latest/install/install-airgapped/index.md
  pages/ksphere/konvoy/latest/install/install-aws/advanced-provisioning/index.md
  pages/ksphere/konvoy/latest/install/install-azure/advanced-provisioning/index.md
  pages/ksphere/konvoy/latest/install/install-onprem/index.md
  pages/ksphere/konvoy/latest/install/node-pools/index.md
  pages/ksphere/konvoy/latest/networking/index.md
  pages/ksphere/konvoy/latest/operations/accessing-the-cluster/index.md
  pages/ksphere/konvoy/latest/quick-start/index.md
  pages/ksphere/konvoy/latest/reference/cluster-configuration/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-cordon/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-cordon/konvoy-cordon-nodepool/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-create/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-create/konvoy-create-nodepool/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-drain/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-drain/konvoy-drain-nodepool/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-get/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-get/konvoy-get-nodepools/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-scale/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-scale/konvoy-scale-nodepool/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-uncordon/index.md
  pages/ksphere/konvoy/latest/reference/command-line-interface/konvoy-uncordon/konvoy-uncordon-nodepool/index.md
  pages/ksphere/konvoy/latest/tutorials/addon-repositories/index.md
  pages/ksphere/konvoy/latest/tutorials/replacing-failed-control-plane-node/index.md
  pages/ksphere/konvoy/latest/tutorials/update-worker-machines/index.md
Labels: KONVOY, ready to merge

#2811 corrected "konovy" typo
  pages/ksphere/konvoy/latest/upgrade/upgrade-kubernetes-addons/index.md
Labels: KONVOY, ready to merge

#2807 [D2IQ-65610] Describe new upgrade procedure for master nodes.
  pages/mesosphere/dcos/2.1/installing/production/upgrading/index.md
Labels: DC/OS 2.1, ready to merge

#2803 Added a namespace which is required in order to retrieve the minio ac…
  pages/ksphere/konvoy/partner-solutions/minio/index.md
Labels: KONVOY, ready to merge

#2800 Add instructions for using 3rd party Docker volume driver.
  pages/mesosphere/dcos/1.13/storage/external-storage/index.md
  pages/mesosphere/dcos/2.0/storage/external-storage/index.md
  pages/mesosphere/dcos/2.1/storage/external-storage/index.md
Labels: DC/OS Improvements, ready to merge

#2819 Ru/d2 iq 66116
  pages/ksphere/kommander/latest/operations/cloud-providers/configure-aws-cloud-provider-roles/index.md
  pages/ksphere/kommander/latest/operations/cloud-providers/configure-aws-cloud-provider-static-credentials/index.md
  pages/ksphere/kommander/latest/operations/cloud-providers/configure-azure-cloud-provider/index.md
  pages/ksphere/kommander/latest/operations/cloud-providers/configure-on-prem-provider/index.md
  pages/ksphere/kommander/latest/operations/cloud-providers/index.md
Labels: Kommander, ready to merge
