Repository mesosphere/dcos-docs-site, pull requests merged in 2020-06, with the labels that each got.

#2962 fixing command
  pages/mesosphere/dcos/2.1/networking/SDN/calico/index.md
Labels: DC/OS 2.1

#2968 Added a "needs_triage" label to track Feedback button docs for better triaging
  layouts/components/content-actions.pug
Labels: doc tools fix, ready to merge

#2966 Removed Portworx from Partner Solutions.
  pages/ksphere/konvoy/1.4/tutorials/portworx-persistent-storage/index.md
  pages/ksphere/konvoy/1.5.0-beta/tutorials/portworx-persistent-storage/index.md
  pages/ksphere/konvoy/partner-solutions/portworx/index.md
Labels: KONVOY, ready to merge

#2967 KUDO Kubeflow Release Docs 1.0.1-0.3.1
  pages/ksphere/kubeflow/1.0.1-0.3.0/download/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/img/d2iq-kubeflow-overview.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/img/d2kf-overview.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/img/kubeflow-admin-permissions.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/img/kubeflow-edit-permissions.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/img/kubeflow-view-permissions.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/img/notebook-configurations-select.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/introducing/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/legal-notices/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/secrets-management/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/fairing/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/katib/img/katib-1.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/katib/img/katib-2.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/katib/img/katib-3.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/katib/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/metadata/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/pipelines/img/graph.png
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/pipelines/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/training/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/training/mxnet/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/training/pytorch/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/tutorials/training/tensorflow/index.md
  pages/ksphere/kubeflow/1.0.1-0.3.0/user-management/index.md
Labels: kubeflow, ready to merge

#2971 Fix seccomp for 1.13
  pages/mesosphere/dcos/1.13/security/oss/secure-compute-profiles/index.md
Labels: DC/OS Improvements, ready to merge

#2965 Kommander 1.1.0 Release Notes (Beta 0 - RC 1)
  pages/ksphere/kommander/1.1.0-beta/release-notes/index.md
Labels: Kommander, ready to merge

#2974 Updated Introduction to Kommander info.
  pages/ksphere/kommander/1.1.0-beta/index.md
Labels: Kommander, doc-athon, ready to merge

#2982 adding welcome copy to 1.0
  pages/ksphere/kommander/1.0/index.md
Labels: Kommander, doc-athon

#2980 Kommander v1.1.0-rc.2 release notes
  pages/ksphere/kommander/1.1.0-beta/release-notes/index.md
Labels: Kommander, ready to merge

#2979 hexdump would show if secrets are encrypted
  pages/mesosphere/dcos/services/kubernetes/2.4.10-1.15.10/operations/encrypt-data/index.md
Labels: DC/OS Services, ready to merge

#2981 D2IQ-67768+D2IQ-67774: updates outdated screenshots for Kommander 1.1 beta
  pages/ksphere/kommander/1.1.0-beta/img/Identity-provider-enabled-checkbox.png
  pages/ksphere/kommander/1.1.0-beta/img/Identity-providers-table.png
  pages/ksphere/kommander/1.1.0-beta/img/access-control-cluster-policies.png
  pages/ksphere/kommander/1.1.0-beta/img/access-control-cluster-roles.png
  pages/ksphere/kommander/1.1.0-beta/img/access-control-idp-groups.png
  pages/ksphere/kommander/1.1.0-beta/img/cloud provider actions.png
  pages/ksphere/kommander/1.1.0-beta/img/cloud providers table.png
  pages/ksphere/kommander/1.1.0-beta/img/dashboard.png
  pages/ksphere/kommander/1.1.0-beta/img/group actions.png
  pages/ksphere/kommander/1.1.0-beta/img/identity provider actions.png
  pages/ksphere/kommander/1.1.0-beta/img/policy actions.png
  pages/ksphere/kommander/1.1.0-beta/img/project actions.png
  pages/ksphere/kommander/1.1.0-beta/img/project clusters 2.png
  pages/ksphere/kommander/1.1.0-beta/img/project cluters.png
  pages/ksphere/kommander/1.1.0-beta/img/project config map actions.png
  pages/ksphere/kommander/1.1.0-beta/img/project config map table.png
  pages/ksphere/kommander/1.1.0-beta/img/project policies actions.png
  pages/ksphere/kommander/1.1.0-beta/img/project roles actions.png
  pages/ksphere/kommander/1.1.0-beta/img/project secret actions.png
  pages/ksphere/kommander/1.1.0-beta/img/project secret table.png
  pages/ksphere/kommander/1.1.0-beta/img/projects filter.png
  pages/ksphere/kommander/1.1.0-beta/img/role actions.png
  pages/ksphere/kommander/1.1.0-beta/img/tutorial-auth-developer-policy.png
Labels: Kommander, doc-athon, ready to merge

#2989 just one more img
  pages/ksphere/kommander/1.1.0-beta/clusters/index.md
Labels: Kommander, doc-athon, ready to merge

#2994 Revert master upgrade procedure for DC/OS 2.1
  pages/mesosphere/dcos/2.1/installing/production/upgrading/index.md
Labels: DC/OS 2.1, ready to merge

#2995 Update versions for upgrading and patching DC/OS
  pages/mesosphere/dcos/2.0/installing/production/patching/index.md
  pages/mesosphere/dcos/2.0/installing/production/upgrading/index.md
  pages/mesosphere/dcos/2.1/installing/production/patching/index.md
  pages/mesosphere/dcos/2.1/installing/production/upgrading/index.md
Labels: DC/OS 2.1, ready to merge

#2988 docs: update licensing instructions
  pages/ksphere/kommander/1.1.0-beta/licensing/index.md
Labels: Kommander, doc-athon, ready to merge

#2993 Added default Debian packages to MKE.
  pages/mesosphere/dcos/services/kubernetes/2.4.10-1.15.10/supported-versions/index.md
  pages/mesosphere/dcos/services/kubernetes/2.4.9-1.15.10/supported-versions/index.md
  pages/mesosphere/dcos/services/kubernetes/2.5.0-1.16.9/supported-versions/index.md
Labels: DC/OS Services, ready to merge

#3000 fixing version number in template
  pages/mesosphere/dcos/install-include/aws-remote-region-all.tmpl
Labels: DC/OS Improvements, ready to merge

#3010 changing sidebar for Kommander
  layouts/partials/sidebar/en-sidebar.pug
Labels: Kommander, ready to merge

#3009 removing digitalocean community support
  pages/mesosphere/dcos/1.13/installing/evaluation/community-supported-methods/digitalocean/index.md
  pages/mesosphere/dcos/1.13/installing/evaluation/community-supported-methods/index.md
  pages/mesosphere/dcos/1.13/installing/evaluation/index.md
  pages/mesosphere/dcos/2.0/installing/evaluation/community-supported-methods/digitalocean/index.md
  pages/mesosphere/dcos/2.0/installing/evaluation/community-supported-methods/index.md
  pages/mesosphere/dcos/2.0/installing/evaluation/index.md
  pages/mesosphere/dcos/2.1/installing/evaluation/community-supported-methods/digitalocean/index.md
  pages/mesosphere/dcos/2.1/installing/evaluation/community-supported-methods/index.md
  pages/mesosphere/dcos/2.1/installing/evaluation/index.md
Labels: DC/OS Improvements, ready to merge

#3013 docs: add kommander 1.1.0 rc3 release notes
  pages/ksphere/kommander/1.1.0-beta/release-notes/index.md
Labels: Kommander, ready to merge

#3017 docs: add kommander project sections
  pages/ksphere/kommander/1.1.0-beta/img/create config map.png
  pages/ksphere/kommander/1.1.0-beta/img/create-project-form.png
  pages/ksphere/kommander/1.1.0-beta/img/project create role.png
  pages/ksphere/kommander/1.1.0-beta/img/project policies edit.png
  pages/ksphere/kommander/1.1.0-beta/img/project-catalog.png
  pages/ksphere/kommander/1.1.0-beta/img/project-create-configmap.png
  pages/ksphere/kommander/1.1.0-beta/img/project-create-role.png
  pages/ksphere/kommander/1.1.0-beta/img/project-create-secret.png
  pages/ksphere/kommander/1.1.0-beta/img/project-create.png
  pages/ksphere/kommander/1.1.0-beta/img/project-edit-policy.png
  pages/ksphere/kommander/1.1.0-beta/img/project-quota.png
  pages/ksphere/kommander/1.1.0-beta/img/project-secret-create.png
  pages/ksphere/kommander/1.1.0-beta/introducing-kommander/index.md
  pages/ksphere/kommander/1.1.0-beta/projects/addon-catalog/index.md
  pages/ksphere/kommander/1.1.0-beta/projects/index.md
  pages/ksphere/kommander/1.1.0-beta/projects/platform-services/index.md
  pages/ksphere/kommander/1.1.0-beta/projects/project-configmaps/index.md
  pages/ksphere/kommander/1.1.0-beta/projects/project-policies/index.md
  pages/ksphere/kommander/1.1.0-beta/projects/project-quotas/index.md
  pages/ksphere/kommander/1.1.0-beta/projects/project-roles/index.md
  pages/ksphere/kommander/1.1.0-beta/projects/project-secrets/index.md
Labels: Kommander, doc-athon, ready to merge

#3019 fixing wording on specific line - COPS-5188
  pages/mesosphere/dcos/1.13/release-notes/1.13.0/index.md
Labels: DC/OS Improvements, ready to merge

#3021 Qa/kommander 1 1 beta backup
  pages/ksphere/kommander/1.1.0-beta/backup-and-restore/index.md
Labels: Kommander, ready to merge

#3023 Update redirects-307.map
  docker/nginx/redirects-307.map
Labels: DC/OS 2.1, ready to merge

#3025 Qa/kommander 1 1 aws create
  pages/ksphere/kommander/1.1.0-beta/clusters/creating-konvoy-cluster-aws/index.md
Labels: Kommander, ready to merge

#3016 docs: update workspaces docs
  pages/ksphere/kommander/1.1.0-beta/img/create-workspace.png
  pages/ksphere/kommander/1.1.0-beta/img/org-nav.png
  pages/ksphere/kommander/1.1.0-beta/img/workspace-annotations.png
  pages/ksphere/kommander/1.1.0-beta/workspaces/index.md
Labels: Kommander, doc-athon, ready to merge

#3033 COPS-4997 - fix incorrect script path
  pages/mesosphere/dcos/1.10/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/1.11/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/1.12/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/1.13/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/1.9/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/2.0/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/2.1/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/cn/1.11/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/cn/1.12/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/cn/1.13/tutorials/autoscaling/cpu-memory/index.md
  pages/mesosphere/dcos/cn/2.0/tutorials/autoscaling/cpu-memory/index.md
Labels: DC/OS Improvements, ready to merge

#3034 Add Release Date Checklist to Pull Request Template.
  pull_request_template
Labels: doc tools fix, ready to merge

#3040 updated dispatch release date in rn
  pages/ksphere/dispatch/1.2/release-notes/index.md
Labels: Dispatch

#3044 Update kubernetes service latest package redirect for new release
  docker/nginx/redirects-307.map
Labels: DC/OS Services, ready to merge

#3045 makes markdown links that are in a different domain link out to a new…
  js/main.js
Labels: doc tools fix, ready to merge

#3048 Update kubecost url
  pages/ksphere/kommander/1.1.0-beta/centralized-cost-monitoring/index.md
Labels: Kommander, ready to merge

#3052 docs: add kommander license deletion
  pages/ksphere/kommander/1.1.0-beta/licensing/index.md
Labels: Kommander, ready to merge

#2945 Update Version Policy
  pages/mesosphere/dcos/version-policy/index.md
Labels: DC/OS 2.1, DC/OS Improvements, ready to merge

#3053 fix include path
  pages/mesosphere/dcos/cn/2.0/storage/index.md
Labels: DC/OS Improvements, TRANSLATION, ready to merge

#3042 feat: special Kommander 1.1 limitation for workspace -> project authz inheritance
  pages/ksphere/kommander/1.1.0-beta/operations/access-control/index.md
Labels: Kommander, ready to merge

#3056 Typo fixes
  pages/ksphere/konvoy/1.4/install/install-azure/index.md
Labels: KONVOY, backport, needs eng review

#3060 updates to CD tutorial hierarchy and general improvements to Navipane titles
  pages/ksphere/dispatch/1.2/install/cli/index.md
  pages/ksphere/dispatch/1.2/overview_concepts/dispatch-cd/index.md
  pages/ksphere/dispatch/1.2/tutorials/cd_tutorials/canary-deployment/index.md
  pages/ksphere/dispatch/1.2/tutorials/cd_tutorials/deploy-application-to-multiple-environments/index.md
  pages/ksphere/dispatch/1.2/tutorials/cd_tutorials/deploy-to-multiple-production-clusters/index.md
  pages/ksphere/dispatch/1.2/tutorials/cd_tutorials/deployment_tutorials/index.md
  pages/ksphere/dispatch/1.2/tutorials/cd_tutorials/index.md
  pages/ksphere/dispatch/1.2/tutorials/cd_tutorials/rolling-deployment/index.md
  pages/ksphere/dispatch/1.2/tutorials/cd_tutorials/trust-self-signed-tls-certificates/index.md
  pages/ksphere/dispatch/1.2/tutorials/cd_tutorials/using-argocd-cli/index.md
  pages/ksphere/dispatch/1.2/tutorials/ci_tutorials/buildkit/index.md
  pages/ksphere/dispatch/1.2/tutorials/ci_tutorials/credentials/index.md
  pages/ksphere/dispatch/1.2/tutorials/ci_tutorials/import-tasks-from-dispatchfile/index.md
  pages/ksphere/dispatch/1.2/tutorials/ci_tutorials/local-runner/index.md
  pages/ksphere/dispatch/1.2/tutorials/ci_tutorials/triggering-pipelines-using-chatops/index.md
Labels: Dispatch, ready to merge

#3057 Add Kommander 1.1.0 RC 4 Release Notes
  pages/ksphere/kommander/1.1.0-beta/release-notes/index.md
Labels: Kommander, ready to merge

#3058 Fix Thanos Version
  pages/ksphere/kommander/1.1.0-beta/release-notes/index.md
Labels: Kommander, ready to merge
