Repository mesosphere/dcos-docs-site, pull requests merged in 2020-09, with the labels that each got.

#3194 Document the changes to launching slave_public apps with multi-role
  pages/mesosphere/dcos/2.0/multi-tenancy/quota-management/index.md
  pages/mesosphere/dcos/2.0/security/ent/perms-reference/index.md
  pages/mesosphere/dcos/2.1/multi-tenancy/quota-management/index.md
  pages/mesosphere/dcos/2.1/security/ent/perms-reference/index.md
  pages/mesosphere/dcos/2.2/multi-tenancy/quota-management/index.md
Labels: DC/OS Improvements, ready to merge

#3197 Add namespace and namespaced to Vale vocab
  .github/styles/Vocab/Docs/accept.txt
Labels: doc tools fix

#3179 Fix indentation in jenkins docs
  pages/ksphere/konvoy/partner-solutions/jenkins/index.md
Labels: Konvoy, ready to merge

#3193 Fix REST API typos
  pages/mesosphere/dcos/services/kafka/2.10.0-2.4.0/reference/index.md
Labels: DC/OS Services

#3199 Added note for Kommander 1.1 and 1.2 that kubecost has storage requir…
  pages/ksphere/kommander/1.1/backup-and-restore/index.md
  pages/ksphere/kommander/1.2/backup-and-restore/index.md
Labels: Kommander, ready to merge

#3208 Remove dcos tunnel docs
  pages/mesosphere/dcos/2.1/developing-services/tunnel/index.md
  pages/mesosphere/dcos/2.2/developing-services/tunnel/index.md
Labels: DC/OS Improvements, ready to merge

#3212 Add instructions to delete MKE backup
  pages/mesosphere/dcos/services/kubernetes/2.7.0-1.18.6/operations/disaster-recovery/index.md
Labels: DC/OS Services, Kommander, ready to merge

#3220 chore: Fix description of `make docker-liveedit` in README
  README.md
Labels: doc tools fix

#3222 Added upgrade pathes for 1.13.10
  pages/mesosphere/dcos/1.13/installing/production/patching/index.md
  pages/mesosphere/dcos/2.0/installing/production/upgrading/index.md
  pages/mesosphere/dcos/2.1/installing/production/upgrading/index.md
Labels: DC/OS Improvements, ready to merge

#3198 DCOS 2.2 Release Notes
  pages/mesosphere/dcos/2.2/release-notes/2.2/index.md
Labels: DC/OS 2.2, ready to merge

#3225 Modify custom CA instructions for certificate renewal
  pages/mesosphere/dcos/2.2/security/ent/tls-ssl/ca-custom/index.md
Labels: DC/OS 2.2, ready to merge

#3227 removing do not build for 2.2
  config.json
Labels: DC/OS 2.2

#3229 Update the CSI external storage documentation.
  pages/mesosphere/dcos/2.2/storage/external-storage/csi/index.md
  pages/mesosphere/dcos/2.2/storage/external-storage/dvdi/index.md
Labels: DC/OS 2.2, ready to merge

#3221 docs site documentation on installing airgapped Kommander
  pages/ksphere/kommander/1.2/install-airgapped/index.md
Labels: Kommander, ready to merge

#3224 Fix typos in jenkins docs
  pages/ksphere/konvoy/partner-solutions/jenkins/index.md
Labels: Konvoy, backport

#3226 Add a `latest` redirect for kubeflow.
  docker/nginx/redirects-307.map
Labels: doc tools fix, ready to merge

#3228 mesos-calico: clarify labeling for Docker vs UCR
  pages/mesosphere/dcos/2.1/networking/SDN/calico/index.md
  pages/mesosphere/dcos/2.2/networking/SDN/calico/index.md
Labels: DC/OS, DC/OS Improvements, ready to merge

#3119 importing license information for dcos 2.1
  pages/mesosphere/dcos/2.1/release-notes/open-source-attribution/index.md
Labels: DC/OS 2.1, ready to merge

#3231 change "config.yaml" to "cluster.yaml"
  pages/ksphere/kubeflow/1.0.1-0.5.0/install/air-gapped/index.md
Labels: backport, kubeflow

#3234 docs: improve air-gapped Kommander installation documentation
  pages/ksphere/kommander/1.2/install-airgapped/index.md
Labels: Kommander, ready to merge

#3243 konvoy: Update 1.4 docs
  pages/ksphere/konvoy/1.4/install/install-airgapped/index.md
  pages/ksphere/konvoy/1.4/release-notes/index.md
Labels: Konvoy

#3183 Update DC/OS documentation to reflect Package Registry based upgrades.
  pages/mesosphere/dcos/1.12/administering-clusters/repo/package-registry/operating/managing/index.md
  pages/mesosphere/dcos/1.13/administering-clusters/package-registry/index.md
  pages/mesosphere/dcos/2.0/administering-clusters/package-registry/index.md
  pages/mesosphere/dcos/2.1/administering-clusters/package-registry/index.md
  pages/mesosphere/dcos/2.2/administering-clusters/package-registry/index.md
Labels: DC/OS Improvements, ready to merge

#3240 making links a bit more md friendly per sams feedback for kommander-i…
  pages/ksphere/kommander/1.2/install-airgapped/index.md
Labels: Kommander, ready to merge

#3246 Updating Accept List
  .github/styles/Vocab/Docs/accept.txt
Labels: doc tools fix, ready to merge

#3241 clean up the shortcodes file
  scss/shortcodes/_message.scss
  shortcodes/index.js
Labels: doc tools fix, ready to merge

#3245 [Konvoy] Update 1.5 Docs
  pages/ksphere/konvoy/1.5/autoscaling/index.md
  pages/ksphere/konvoy/1.5/install/install-airgapped/index.md
  pages/ksphere/konvoy/1.5/install/install-aws/index.md
  pages/ksphere/konvoy/1.5/install/install-azure/index.md
  pages/ksphere/konvoy/1.5/install/install-dev/index.md
  pages/ksphere/konvoy/1.5/install/install-onprem/index.md
  pages/ksphere/konvoy/1.5/install/install-secured/index.md
  pages/ksphere/konvoy/1.5/quick-start/index.md
  pages/ksphere/konvoy/1.5/reference/cluster-configuration/index.md
  pages/ksphere/konvoy/1.5/reference/cluster-configuration/v1beta1/index.md
  pages/ksphere/konvoy/1.5/reference/cluster-configuration/v1beta2/index.md
  pages/ksphere/konvoy/1.5/tutorials/provision-a-custom-cluster/index.md
  pages/ksphere/konvoy/1.5/upgrade/upgrade-kubernetes-addons/index.md
Labels: Konvoy, ready to merge
