Repository mesosphere/dcos-docs-site, pull requests merged in 2020-12, with the labels that each got.

#3362 shrink favicon
  assets/apple-touch-icon.png
  assets/favicon-16x16.png
  assets/favicon-32x32.png
  assets/favicon.ico
  layouts/partials/head.pug
Labels: doc tools, ready to merge

#3304 D2IQ-72587 Kommander custom addons
  pages/dkp/kommander/1.3/clusters/index.md
Labels: Kommander, ready to merge

#3366 show all products in the product selector
  js/search.js
Labels: doc tools

#3365 Fix broken YAML formatting in argo-cd customization poge
  pages/dkp/dispatch/1.2/install/configure-argocd/index.md
  pages/dkp/dispatch/1.3/install/configure-argocd/index.md
Labels: Dispatch

#3369 Fix missing/truncated link in Grafana docs
  pages/mesosphere/dcos/services/dcos-monitoring/1.4.0/operations/grafana/config/index.md
Labels: DC/OS Services, ready to merge

#3371 Update common SDK doc
  pages/mesosphere/dcos/services/include/configuration-service-settings.tmpl
Labels: DC/OS Services

#3373 COPS-6728: kommander limit range docs
  pages/dkp/kommander/1.2/projects/project-quotas-limit-range/index.md
  pages/dkp/kommander/1.3/projects/project-quotas-limit-range/index.md
Labels: Kommander, ready to merge

#3376 konvoy: Update 1.6 docs
  pages/dkp/konvoy/1.6/access-authentication/oidc/generate-client-access-token/index.md
  pages/dkp/konvoy/1.6/access-authentication/rbac/index.md
  pages/dkp/konvoy/1.6/addons/addon-repositories/index.md
  pages/dkp/konvoy/1.6/addons/helmv2-to-v3-migration/index.md
  pages/dkp/konvoy/1.6/autoscaling/index.md
  pages/dkp/konvoy/1.6/cli/command-line-interface/konvoy-diagnose/index.md
  pages/dkp/konvoy/1.6/cli/command-line-interface/konvoy-init/index.md
  pages/dkp/konvoy/1.6/cli/command-line-interface/konvoy-provision/index.md
  pages/dkp/konvoy/1.6/cli/command-line-interface/konvoy-up/index.md
  pages/dkp/konvoy/1.6/concepts/index.md
  pages/dkp/konvoy/1.6/d2iq-words.txt
  pages/dkp/konvoy/1.6/gpu/index.md
  pages/dkp/konvoy/1.6/include/kba-addon-intro.tmpl
  pages/dkp/konvoy/1.6/install/install-airgapped/index.md
  pages/dkp/konvoy/1.6/install/install-aws/index.md
  pages/dkp/konvoy/1.6/install/install-azure/index.md
  pages/dkp/konvoy/1.6/install/install-dev/index.md
  pages/dkp/konvoy/1.6/install/install-gcp/index.md
  pages/dkp/konvoy/1.6/install/install-onprem/index.md
  pages/dkp/konvoy/1.6/install/install-secured/index.md
  pages/dkp/konvoy/1.6/install/provision-a-custom-cluster/index.md
  pages/dkp/konvoy/1.6/install/supported-operating-systems/index.md
  pages/dkp/konvoy/1.6/legal/open-source-attribution/index.md
  pages/dkp/konvoy/1.6/logging/index.md
  pages/dkp/konvoy/1.6/logging/splunk-integration/index.md
  pages/dkp/konvoy/1.6/multi-cluster/index.md
  pages/dkp/konvoy/1.6/networking/container-network-interface/calico-version/index.md
  pages/dkp/konvoy/1.6/operations/manage-docker-hub-rate-limits/index.md
  pages/dkp/konvoy/1.6/quick-start/index.md
  pages/dkp/konvoy/1.6/reference/addons/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/v1beta1/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/v1beta2/index.md
  pages/dkp/konvoy/1.6/release-notes/1.6.1/index.md
  pages/dkp/konvoy/1.6/release-notes/1.6/index.md
  pages/dkp/konvoy/1.6/release-notes/index.md
  pages/dkp/konvoy/1.6/release-notes/kubernetes-base-addon/index.md
  pages/dkp/konvoy/1.6/storage/troubleshooting/index.md
  pages/dkp/konvoy/1.6/upgrade/upgrade-cli/index.md
  pages/dkp/konvoy/1.6/upgrade/upgrade-kubernetes-addons/index.md
  pages/dkp/konvoy/1.6/upgrade/upgrade-kubernetes-addons/to-1.6/index.md
  pages/dkp/konvoy/1.6/version-policy/index.md
Labels: Konvoy

#3377 Add upgrade note to Kaptain install docs
  pages/dkp/kaptain/1.0.1-0.6.0/install/index.md
Labels: Kaptain, backport, ready to merge

#3364 dcos: add 2.1.3 release notes
  pages/mesosphere/dcos/2.1/release-notes/2.1.3/index.md
Labels: DC/OS
