Repository mesosphere/dcos-docs-site, pull requests merged in 2020-07, with the labels that each got.

#3068 refernce -> reference
  pages/ksphere/konvoy/1.4/release-notes/index.md
  pages/ksphere/konvoy/1.4/upgrade/upgrade-kubernetes-addons/index.md
  pages/ksphere/konvoy/1.5/release-notes/index.md
Labels: Konvoy, backport, ready to merge

#3069 fixing links in jupyter beta docs
  pages/mesosphere/dcos/services/beta-jupyter/1.2.0-0.33.7-beta/example/index.md
  pages/mesosphere/dcos/services/beta-jupyter/1.2.0-0.33.7-beta/index.md
  pages/mesosphere/dcos/services/beta-jupyter/1.2.0-0.33.7-beta/installing/index.md
  pages/mesosphere/dcos/services/beta-jupyter/1.2.0-0.33.7-beta/limitations/index.md
  pages/mesosphere/dcos/services/beta-jupyter/1.2.0-0.33.7-beta/overview/index.md
  pages/mesosphere/dcos/services/beta-jupyter/1.2.0-0.33.7-beta/quick-start/index.md
  pages/mesosphere/dcos/services/beta-jupyter/1.2.0-0.33.7-beta/uninstall/index.md
  pages/mesosphere/dcos/services/beta-jupyter/index.md
Labels: DC/OS Improvements, DC/OS Services

#3070 fixing beta tags
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/advanced/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/configuration/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/limitations/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/operations/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/policy/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/reference/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/release-notes/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/security/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/started/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/troubleshooting/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/uninstall/index.md
  pages/mesosphere/dcos/services/beta-kafka/2.10.0-2.4.0-beta/updates/index.md
  pages/mesosphere/dcos/services/beta-kafka/kafka-auth/index.md
Labels: DC/OS Improvements, DC/OS Services

#3072 Improved the debugging section of node draining docs.
  pages/mesosphere/dcos/2.0/administering-clusters/draining-a-node/index.md
  pages/mesosphere/dcos/2.1/administering-clusters/draining-a-node/index.md
Labels: DC/OS, ready to merge

#3071 ksphere/kommander: Fix konvoy 1.5 docs URLs
  pages/ksphere/kommander/1.1.0-beta/backup-and-restore/index.md
  pages/ksphere/kommander/1.1.0-beta/clusters/attach-eks-cluster/index.md
  pages/ksphere/kommander/1.1.0-beta/clusters/creating-konvoy-cluster-on-prem/index.md
  pages/ksphere/kommander/1.1.0-beta/clusters/index.md
  pages/ksphere/kommander/1.1.0-beta/operations/access-control/index.md
Labels: Kommander, ready to merge

#3074 checking for 1.1. Fixing some links, some grammar, looks good otherwise.
  pages/ksphere/kommander/1.1.0-beta/security/distributed-authnz/index.md
Labels: Kommander, ready to merge

#3076 docs: clarify RBAC requirements
  pages/ksphere/kommander/1.1.0-beta/operations/access-control/index.md
  pages/ksphere/kommander/1.1.0-beta/tutorials/authorize-all-users/index.md
Labels: Kommander, ready to merge

#3078 some grammar and adding a heading
  pages/ksphere/konvoy/1.5/uninstall/index.md
Labels: Konvoy, ready to merge

#3080 chore: update access-control document to reflect current state
  pages/ksphere/kommander/1.1.0-beta/operations/access-control/index.md
Labels: Kommander, ready to merge

#3081 Fix centralized monitoring dashboard name and typos
  pages/ksphere/kommander/1.1.0-beta/centralized-cost-monitoring/index.md
  pages/ksphere/kommander/1.1.0-beta/centralized-monitoring/index.md
Labels: Kommander, ready to merge

#3079 updating link, adding link about granting access to k8s, minor grammar
  pages/ksphere/konvoy/1.5/security/external-idps/howto-dex-github-connector/index.md
Labels: Konvoy, ready to merge

#3082 Kommander On-Prem Infrastructure Provider
  pages/ksphere/kommander/1.0/operations/cloud-providers/configure-on-prem-provider/index.md
  pages/ksphere/kommander/1.1.0-beta/operations/infrastructure-providers/configure-on-prem-provider/index.md
Labels: Kommander, doc-athon, ready to merge

#3073 docs: add Kommander troubleshooting docs
  pages/ksphere/kommander/1.1.0-beta/img/kommander-links.png
  pages/ksphere/kommander/1.1.0-beta/img/kommander-ui.png
  pages/ksphere/kommander/1.1.0-beta/img/konvoy-ui.png
  pages/ksphere/kommander/1.1.0-beta/troubleshooting/index.md
Labels: Kommander, ready to merge

#3083 Updated Configuring AWS Provider with User Role
  pages/ksphere/kommander/1.0/operations/cloud-providers/configure-aws-cloud-provider-roles/index.md
  pages/ksphere/kommander/1.1.0-beta/operations/infrastructure-providers/configure-aws-infrastructure-provider-roles/index.md
Labels: Kommander, doc-athon, ready to merge

#3086 chore: updates kommander API via kubectl tutorial
  pages/ksphere/kommander/1.1.0-beta/tutorials/use-kcl-from-kubectl/index.md
Labels: Kommander, ready to merge

#3089 Kommander Infrastrucutre Provider: Added Docathon input
  pages/ksphere/kommander/1.1.0-beta/operations/infrastructure-providers/index.md
Labels: Kommander, doc-athon, ready to merge

#3093 docs(kommander): update release notes
  pages/ksphere/kommander/1.1/release-notes/index.md
Labels: Kommander

#3091 changed menuweight
  pages/ksphere/dispatch/1.2/release-notes/1.2.2/index.md
Labels: Dispatch, ready to merge

#3094 chore: squash Kommander release notes for 1.1.0 GA
  pages/ksphere/kommander/1.1/release-notes/index.md
Labels: Kommander, ready to merge

#3101 konvoy: redirect latest to 1.5
  docker/nginx/redirects-307.map
Labels: Konvoy

#3065 nginx: redirect konvoy 1.5 "replace a failed node" URL
  docker/nginx/redirects-301.map
Labels: doc tools fix

#3103 konvoy: use 1.5 as the latest docs
  index.js
Labels: Konvoy

#3100 [D2iQ-70163][DOCS] Jenkins 4.0.0-2.204.6 Remove Beta from Navigation Titles.
  pages/mesosphere/dcos/services/jenkins/4.0.0-2.204.6/index.md
  pages/mesosphere/dcos/services/jenkins/4.0.0-2.204.6/release-notes/index.md
Labels: DC/OS, DC/OS Services, ready to merge

#3105 kommander: use 1.1 as latest
  index.js
Labels: Kommander, ready to merge

#3104 Add federated-addons page
  pages/ksphere/kommander/1.1/clusters/attach-cluster/attach-eks-cluster/index.md
  pages/ksphere/kommander/1.1/clusters/attach-cluster/federated-addons/index.md
  pages/ksphere/kommander/1.1/clusters/attach-cluster/index.md
Labels: Kommander, ready to merge

#3109 removing links to broken images COPS-5954
  pages/mesosphere/dcos/1.11/tutorials/dcos-debug/scenarios/scen-1/index.md
  pages/mesosphere/dcos/1.12/tutorials/dcos-debug/scenarios/scen-1/index.md
  pages/mesosphere/dcos/1.13/tutorials/dcos-debug/scenarios/scen-1/index.md
  pages/mesosphere/dcos/2.0/tutorials/dcos-debug/scenarios/scen-1/index.md
  pages/mesosphere/dcos/2.1/tutorials/dcos-debug/scenarios/scen-1/index.md
Labels: DC/OS Improvements, ready to merge

#3107 small changes for backup/index.md, standardized links
  pages/ksphere/konvoy/1.5/backup/index.md
Labels: ready to merge

#3111 chore: updates kommander on-premise installation tutorial.
  pages/ksphere/kommander/1.1/tutorials/on-prem/index.md
Labels: Kommander

#3108 COPS-6375: Backup and restore of etcd should be added to DC/OS docs
  pages/mesosphere/dcos/2.1/administering-clusters/backup-and-restore/backup-restore-cli/index.md
Labels: DC/OS Improvements, ready to merge

#3115 Add link to service endpoint details for Admin Router permissions
  pages/mesosphere/dcos/1.13/security/ent/perms-reference/index.md
  pages/mesosphere/dcos/2.0/security/ent/perms-reference/index.md
  pages/mesosphere/dcos/2.1/security/ent/perms-reference/index.md
Labels: DC/OS Improvements

#3116 COPS-6378: Add instructions for DC/OS UI update from within UI
  pages/mesosphere/dcos/1.13/gui/updating-gui/index.md
  pages/mesosphere/dcos/1.13/img/ui-package-repos.png
  pages/mesosphere/dcos/1.13/img/ui-update-available.png
  pages/mesosphere/dcos/1.13/img/ui-update-reload.png
  pages/mesosphere/dcos/2.0/gui/updating-gui/index.md
  pages/mesosphere/dcos/2.0/img/ui-package-repos.png
  pages/mesosphere/dcos/2.0/img/ui-update-available.png
  pages/mesosphere/dcos/2.0/img/ui-update-reload.png
  pages/mesosphere/dcos/2.1/gui/updating-gui/index.md
  pages/mesosphere/dcos/2.1/img/ui-package-repos.png
  pages/mesosphere/dcos/2.1/img/ui-update-available.png
  pages/mesosphere/dcos/2.1/img/ui-update-reload.png
Labels: DC/OS Improvements, ready to merge

#3118 COPS-6365: Adding info about private Docker registry options in DC/OS
  pages/mesosphere/dcos/1.13/deploying-services/private-docker-registry/index.md
  pages/mesosphere/dcos/2.0/deploying-services/private-docker-registry/index.md
  pages/mesosphere/dcos/2.1/deploying-services/private-docker-registry/index.md
Labels: DC/OS Improvements, ready to merge
