Repository mesosphere/dcos-docs-site, pull requests merged in 2020-04, with the labels that each got.

#2826 Fixed 1.12 references on 2.0 Upgrading page
  pages/mesosphere/dcos/2.0/installing/production/upgrading/index.md
Labels: DC/OS Improvements, wip

#2831 ss/D2IQ-64957 formatting edits
  pages/ksphere/dispatch/latest/operations/logging/index.md
Labels: ready to merge

#2818 [D2IQ-62646] Couchbase v1.0.1-6.0.0 docs
  docker/nginx/redirects-307.map
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/configuration/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/getting-started/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/add_user.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_3.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_creds.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_dashboard.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_dev_conf_1.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_dev_conf_2.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_dev_conf_3.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_dnodes.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_edit.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_install.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_install_finished.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_prod_conf_1.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/couch_prod_conf_2.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/data_bucket.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/edit_conf.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/running.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/img/todos.png
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/limitations/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/operations/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/release-notes/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/security/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/supported-versions/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/troubleshooting/index.md
  pages/mesosphere/dcos/services/couchbase/1.0.1-6.0.0/uninstall/index.md
  pages/mesosphere/dcos/services/include/operations.tmpl
Labels: DC/OS Services, ready to merge

#2833 tremoving release notes for patch 1.13.8 as download has been removed.
  pages/mesosphere/dcos/1.13/release-notes/1.13.8/index.md
Labels: ready to merge

#2834 COPS-6012 - Link in Konvoy docs leads to 404
  pages/ksphere/konvoy/latest/install/node-pools/index.md
Labels: KONVOY, wip

#2812 draft of 2.0.3 release notes
  pages/mesosphere/dcos/2.0/release-notes/2.0.3/index.md
Labels: DC/OS, ready to merge

#2840 [COPS-6106] Fix broken confluent zookeeper link
  docker/nginx/redirects-307.map
Labels: DC/OS Services, ready to merge

#2842 COPS-6029: Removing shell prompt from Jenkins command examples
  pages/mesosphere/dcos/services/jenkins/3.5.2-2.107.2/jenkins-auth/index.md
  pages/mesosphere/dcos/services/jenkins/3.5.3-2.150.1/jenkins-auth/index.md
  pages/mesosphere/dcos/services/jenkins/3.5.4-2.150.1/jenkins-auth/index.md
  pages/mesosphere/dcos/services/jenkins/3.6.0-2.190.1/jenkins-auth/index.md
Labels: DC/OS Improvements, DC/OS Services, wip

#2846 Ru/add kb addons
  pages/ksphere/konvoy/latest/release-notes/kubernetes-base-addon/index.md
Labels: KONVOY, ready to merge

#2845 [konvoy/kommander] updated policy according to latest konvoy needs
  pages/ksphere/kommander/latest/operations/cloud-providers/configure-aws-cloud-provider-roles/index.md
  pages/ksphere/kommander/latest/operations/cloud-providers/configure-aws-cloud-provider-static-credentials/index.md
  pages/ksphere/konvoy/latest/install/install-aws/index.md
Labels: KONVOY, backport

#2849 fix: feedback button query
  layouts/components/content-actions.pug
Labels: doc tools fix, ready to merge

#2851 fix: search landing path
  js/search.js
Labels: doc tools fix, ready to merge

#2854 D2IQ-67167: bump bootprint, bootprint-openapi deps
  package.json
Labels: doc tools fix

#2856 Removed the Qualification in Progress notices
  pages/mesosphere/dcos/version-policy/index.md
Labels: DC/OS Improvements, wip

#2859 Ignore more DC/OS documentation for the dispatch branch build
  config.json
Labels: Dispatch, ready to merge

#2861 chore: update indexing
  package.json
  plugins/metalsmith-algolia.js
Labels: doc tools fix, ready to merge

#2860 Revert "chore: bump bootprint, bootprint-openapi deps"
  package.json
Labels: ready to merge

#2850 Added os support in the script.
  pages/ksphere/kommander/latest/clusters/attach-cluster/index.md
Labels: Kommander, ready to merge

#2869 Update dispatch release notes with details about using Dispatch 1.1.0 in konvoy
  pages/ksphere/dispatch/1.1/release-notes/index.md
Labels: Dispatch

#2853 Update the attach cluster to Kommander docs
  pages/ksphere/kommander/latest/clusters/attach-cluster/index.md
Labels: Kommander, ready to merge

#2871 konvoy: Update docs for konvoy release v1.5.0-beta.1
  pages/ksphere/konvoy/1.5.0-beta/gpu/index.md
  pages/ksphere/konvoy/1.5.0-beta/install/install-airgapped/index.md
  pages/ksphere/konvoy/1.5.0-beta/install/install-aws/advanced-provisioning/index.md
  pages/ksphere/konvoy/1.5.0-beta/install/install-azure/advanced-provisioning/index.md
  pages/ksphere/konvoy/1.5.0-beta/install/install-onprem/index.md
  pages/ksphere/konvoy/1.5.0-beta/install/install-secured/index.md
  pages/ksphere/konvoy/1.5.0-beta/install/node-pools/index.md
  pages/ksphere/konvoy/1.5.0-beta/networking/custom-domain/index.md
  pages/ksphere/konvoy/1.5.0-beta/operations/accessing-the-cluster/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/addons/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/cluster-configuration/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/cluster-configuration/v1beta1/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/cluster-configuration/v1beta2/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/konvoy-deploy/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/konvoy-deploy/konvoy-deploy-addons/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/konvoy-deploy/konvoy-deploy-kubernetes/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/konvoy-init/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/konvoy-provision/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/konvoy-pull/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/konvoy-push/index.md
  pages/ksphere/konvoy/1.5.0-beta/reference/command-line-interface/konvoy-up/index.md
  pages/ksphere/konvoy/1.5.0-beta/release-notes/index.md
  pages/ksphere/konvoy/1.5.0-beta/release-notes/kubernetes-base-addon/index.md
  pages/ksphere/konvoy/1.5.0-beta/security/letsencrypt/index.md
  pages/ksphere/konvoy/1.5.0-beta/tutorials/addon-repositories/index.md
  pages/ksphere/konvoy/1.5.0-beta/tutorials/splunk-integration/index.md
  pages/ksphere/konvoy/1.5.0-beta/upgrade/upgrade-kubernetes-addons/index.md
Labels: KONVOY, ready to merge

#2874 update for kommanders cloud-provider Azure steps
  pages/ksphere/kommander/latest/operations/cloud-providers/configure-azure-cloud-provider/index.md
Labels: Kommander, ready to merge

#2876 chore: remove an obsolete crawler
  Makefile
  package.json
  scripts/crawler.js
Labels: doc tools fix

#2873 chore: improve speed when using RPP
  index.js
Labels: doc tools fix

#2848 chore: update catalog addon deployment docs
  pages/ksphere/kommander/1.1.0-beta/img/project-catalog-deploy-helm.png
  pages/ksphere/kommander/1.1.0-beta/img/project-catalpg-deploy-kudo.png
  pages/ksphere/kommander/1.1.0-beta/projects/addon-catalog/index.md
Labels: Kommander, ready to merge

#2857 Edited Centralized Monitoring topic to support non-Konvoy clusters an…
  pages/ksphere/kommander/1.1.0-beta/centralized-monitoring/index.md
  pages/ksphere/kommander/1.1.0-beta/clusters/attach-cluster/index.md
Labels: Kommander, ready to merge

#2875 changing qutoes position
  pages/ksphere/kommander/1.0/introducing-kommander/index.md
  pages/ksphere/kommander/1.1.0-beta/introducing-kommander/index.md
Labels: Kommander, ready to merge

#2879 chore: kommander role usage update
  pages/ksphere/kommander/1.0/operations/cloud-providers/configure-aws-cloud-provider-roles/index.md
  pages/ksphere/kommander/1.1.0-beta/operations/cloud-providers/configure-aws-cloud-provider-roles/index.md
Labels: Kommander, ready to merge
