Repository mesosphere/dcos-docs-site, pull requests merged in 2021-01, with the labels that each got.

#3382 Split workspace topics into separate pages
  pages/dkp/kommander/1.3/workspaces/create-workspaces/index.md
  pages/dkp/kommander/1.3/workspaces/edit-delete-workspaces/index.md
  pages/dkp/kommander/1.3/workspaces/index.md
Labels: Kommander, ready to merge

#3381 Konvoy is available for more than one public cloud provider (AWS)
  pages/dkp/konvoy/1.4/introduction/index.md
  pages/dkp/konvoy/1.5/introduction/index.md
  pages/dkp/konvoy/1.6/introduction/index.md
  pages/dkp/konvoy/1.7/introduction/index.md
Labels: Konvoy, ready to merge

#3386 [Konvoy] Update Docs
  pages/dkp/konvoy/1.6/cicd/index.md
  pages/dkp/konvoy/1.6/cli/index.md
  pages/dkp/konvoy/1.6/install/supported-operating-systems/index.md
  pages/dkp/konvoy/1.6/legal/index.md
  pages/dkp/konvoy/1.6/networking/container-network-interface/calico-version/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/index.md
  pages/dkp/konvoy/1.6/storage/operations/index.md
  pages/dkp/konvoy/1.6/support-services/index.md
  pages/dkp/konvoy/1.6/upgrade/upgrade-cli/index.md
Labels: Konvoy, ready to merge

#3394 [Doc][Kommander]Updated Kommander 1.3 Release Notes for New Features.
  pages/dkp/kommander/1.3/release-notes/index.md
Labels: Kommander, ready to merge

#3401 changing /Architecture to /architecture
  s3config.json
Labels: Kommander

#3398 small grammar stuff pages/dkp/kommander/1.3/introducing-kommander/ind…
  pages/dkp/kommander/1.3/introducing-kommander/index.md
Labels: Kommander

#3397 updating link for pages/dkp/kommander/1.3/release-notes/legal-notices…
  pages/dkp/kommander/1.3/release-notes/legal-notices/index.md
Labels: Kommander

#3396 links for pages/dkp/kommander/1.3/release-notes/open-source-attributi…
  pages/dkp/kommander/1.3/release-notes/open-source-attributions/index.md
Labels: Kommander

#3387 Fix subscription name in az command example
  pages/dkp/konvoy/1.5/install/install-azure/index.md
  pages/dkp/konvoy/1.6/install/install-azure/index.md
  pages/dkp/konvoy/1.7/install/install-azure/index.md
Labels: Konvoy, backport

#3404 [op docs] Remove konvoy download instructions from kommander docs
  pages/dkp/kommander/1.3/install/index.md
Labels: Kommander, ready to merge
