Repository mesosphere/dcos-docs-site, pull requests merged in 2021-11, with the labels that each got.

#3859 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/logging/splunk-integration/index.md
Labels: ready to merge, Konvoy

#3877 chore: remove jira link that no longer works
  layouts/components/content-actions.pug
Labels: ready to merge

#3898 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.1/gpu/kommander-config/index.md
  pages/dkp/kommander/2.1/index.md
  pages/dkp/kommander/2.1/install/networked/index.md
  pages/dkp/kommander/2.1/major-upgrade/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/cleanup/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/prepare-apps/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/supported-apps/index.md
  pages/dkp/kommander/2.1/projects/applications/index.md
  pages/dkp/kommander/2.1/projects/applications/platform-applications/application-deployment/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/continuous-delivery/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/gitops/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/prerequisites/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/troubleshooting/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/view-helm-releases/index.md
  pages/dkp/kommander/2.1/release-notes/index.md
  pages/dkp/kommander/2.1/tutorials/continuous-delivery/index.md
  pages/dkp/kommander/2.1/tutorials/continuous-delivery/storing-secrets-with-gitops/index.md
Labels: kommander 2.1

#3899 fix: making redirects also for 2.1
  s3config.json
Labels: ready to merge, Konvoy 2.1, kommander 2.1

#3897 Sync mesosphere/konvoy2:release-2.1
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/aws/index.md
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/preprovisioned/index.md
Labels: Konvoy 2.1

#3900 updates from main to prod
  Jenkinsfile.cron
  index.js
  pages/dkp/kommander/2.1/gpu/kommander-config/index.md
  pages/dkp/kommander/2.1/index.md
  pages/dkp/kommander/2.1/install/networked/index.md
  pages/dkp/kommander/2.1/major-upgrade/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/cleanup/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/prepare-apps/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/supported-apps/index.md
  pages/dkp/kommander/2.1/projects/applications/index.md
  pages/dkp/kommander/2.1/projects/applications/platform-applications/application-deployment/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/continuous-delivery/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/gitops/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/prerequisites/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/troubleshooting/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/view-helm-releases/index.md
  pages/dkp/kommander/2.1/release-notes/index.md
  pages/dkp/kommander/2.1/tutorials/continuous-delivery/index.md
  pages/dkp/kommander/2.1/tutorials/continuous-delivery/storing-secrets-with-gitops/index.md
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/aws/index.md
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/preprovisioned/index.md
  s3config.json
Labels: Konvoy 2.1, kommander 2.1

#3903 Sync mesosphere/kommander:release-2.1
  pages/dkp/kommander/2.1/install/networked/index.md
  pages/dkp/kommander/2.1/logging/disable-audit-logs/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/cleanup/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/index.md
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/prepare-apps/index.md
Labels: kommander 2.1
