Repository mesosphere/dcos-docs-site, pull requests merged in 2021-03, with the labels that each got.

#3452 updating PR template
  pull_request_template
Labels: chore

#3459 Fix dead link
  pages/dkp/dispatch/1.3/install/configure-argocd/index.md
Labels: Dispatch, ready to merge

#3463 Implement tooling to make backport prs
  ci/docs-to-upstream.sh
  ci/upstream-prs.sh
Labels: doc tools

#3466 Update kommander platform services docs
  pages/dkp/kommander/1.3/workspaces/platform-service-dependencies/index.md
  pages/dkp/kommander/1.3/workspaces/workspace-platform-services/index.md
  pages/dkp/kommander/1.4/workspaces/platform-service-dependencies/index.md
  pages/dkp/kommander/1.4/workspaces/workspace-platform-services/index.md
Labels: Kommander, ready to merge

#3473 konvoy: Update 1.7 docs
  pages/dkp/konvoy/1.7/addons/addon-repositories/index.md
  pages/dkp/konvoy/1.7/autoscaling/index.md
  pages/dkp/konvoy/1.7/cli/command-line-interface/konvoy-init/index.md
  pages/dkp/konvoy/1.7/cli/command-line-interface/konvoy-provision/index.md
  pages/dkp/konvoy/1.7/cli/command-line-interface/konvoy-up/index.md
  pages/dkp/konvoy/1.7/concepts/index.md
  pages/dkp/konvoy/1.7/gpu/index.md
  pages/dkp/konvoy/1.7/include/kba-addon-intro.tmpl
  pages/dkp/konvoy/1.7/include/kba-addons-versions.tmpl
  pages/dkp/konvoy/1.7/install/install-airgapped/index.md
  pages/dkp/konvoy/1.7/install/install-aws/index.md
  pages/dkp/konvoy/1.7/install/install-azure/index.md
  pages/dkp/konvoy/1.7/install/install-dev/index.md
  pages/dkp/konvoy/1.7/install/install-onprem/index.md
  pages/dkp/konvoy/1.7/install/install-secured/index.md
  pages/dkp/konvoy/1.7/install/provision-a-custom-cluster/index.md
  pages/dkp/konvoy/1.7/networking/container-network-interface/calico-version/index.md
  pages/dkp/konvoy/1.7/quick-start/index.md
  pages/dkp/konvoy/1.7/reference/addons/index.md
  pages/dkp/konvoy/1.7/reference/cluster-configuration/index.md
  pages/dkp/konvoy/1.7/reference/cluster-configuration/v1beta1/index.md
  pages/dkp/konvoy/1.7/reference/cluster-configuration/v1beta2/index.md
  pages/dkp/konvoy/1.7/release-notes/1.7.1/index.md
  pages/dkp/konvoy/1.7/release-notes/1.7/index.md
  pages/dkp/konvoy/1.7/release-notes/index.md
  pages/dkp/konvoy/1.7/release-notes/kubernetes-base-addon/index.md
  pages/dkp/konvoy/1.7/support-services/tips-tricks/generate-diagnostic-bundle/index.md
  pages/dkp/konvoy/1.7/upgrade/upgrade-cli/index.md
  pages/dkp/konvoy/1.7/upgrade/upgrade-kubernetes-addons/index.md
  pages/dkp/konvoy/1.7/version-policy/index.md
Labels: Konvoy, ready to merge

#3485 sync Kommander 2.0 pages
  Jenkinsfile.cron
Labels: wip

#3482 Sync mesosphere/konvoy:release-1.5
  pages/dkp/konvoy/1.5/security/external-idps/howto-dex-saml-connector/index.md
Labels: ready to merge

#3483 [Doc][Kommander] Added updated Release Notes info for 1.4 beta 1.
  pages/dkp/kommander/1.4/release-notes/index.md
  pages/dkp/kommander/1.4/version-policy/index.md
Labels: Kommander, ready to merge

#3492 make CVE-publishing explicit
  .gitignore
  Makefile
  README.md
  assets/cves.json
  assets/konvoy_cves.json
  assets/konvoy_latest.json
  ci/group_cves.js
  js/cve.js
Labels: CVE

#3496 QA - just adding beta label to this page in kommander 1.4 pages/dkp/k…
  pages/dkp/kommander/1.4/version-policy/index.md
Labels: Kommander, ready to merge

#3498 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/install/install-airgapped/index.md
Labels: Konvoy, ready to merge

#3499 Sync mesosphere/konvoy:release-1.5
  pages/dkp/konvoy/1.5/gpu/index.md
  pages/dkp/konvoy/1.5/include/kba-addon-intro.tmpl
  pages/dkp/konvoy/1.5/install/install-airgapped/index.md
  pages/dkp/konvoy/1.5/install/install-onprem/index.md
  pages/dkp/konvoy/1.5/reference/addons/index.md
  pages/dkp/konvoy/1.5/reference/cluster-configuration/index.md
  pages/dkp/konvoy/1.5/reference/command-line-interface/konvoy-init/index.md
  pages/dkp/konvoy/1.5/reference/command-line-interface/konvoy-provision/index.md
  pages/dkp/konvoy/1.5/reference/command-line-interface/konvoy-up/index.md
  pages/dkp/konvoy/1.5/release-notes/kubernetes-base-addon/index.md
  pages/dkp/konvoy/1.5/tutorials/addon-repositories/index.md
  pages/dkp/konvoy/1.5/upgrade/upgrade-cli/index.md
Labels: Konvoy, ready to merge

#3489 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/addons/helmv2-to-v3-migration/index.md
  pages/dkp/konvoy/1.6/autoscaling/index.md
  pages/dkp/konvoy/1.6/cli/command-line-interface/konvoy-init/index.md
  pages/dkp/konvoy/1.6/cli/command-line-interface/konvoy-provision/index.md
  pages/dkp/konvoy/1.6/cli/command-line-interface/konvoy-up/index.md
  pages/dkp/konvoy/1.6/install/install-airgapped/index.md
  pages/dkp/konvoy/1.6/install/install-onprem/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/index.md
  pages/dkp/konvoy/1.6/release-notes/1.6.1/index.md
  pages/dkp/konvoy/1.6/release-notes/1.6.2/index.md
  pages/dkp/konvoy/1.6/release-notes/1.6.3/index.md
  pages/dkp/konvoy/1.6/upgrade/upgrade-cli/index.md
  pages/dkp/konvoy/1.6/upgrade/upgrade-kubernetes-addons/to-1.6/index.md
Labels: Konvoy, ready to merge

#3504 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/install/install-aws/advanced-provisioning/index.md
Labels: Konvoy

#3507 release notes for 1.1.4
  pages/dkp/kommander/1.1/release-notes/index.md
Labels: Kommander, ready to merge

#3503 [Doc][Kommander] Added info for Kommander 1.2.2 Patch to Release Notes.
  pages/dkp/kommander/1.2/release-notes/1.2.2/index.md
Labels: Kommander, ready to merge
