Repository mesosphere/dcos-docs-site, pull requests merged in 2021-02, with the labels that each got.

#3410 kommander: Align feature description with marketing doc
  pages/dkp/kommander/1.3/introducing-kommander/index.md
Labels: Kommander

#3411 kommander: document upgrade limitation
  pages/dkp/kommander/1.3/clusters/upgrading-kubernetes/index.md
  pages/dkp/kommander/1.3/img/upgrade-kubernetes-action-1-3-0.png
  pages/dkp/kommander/1.3/img/upgrade-kubernetes-confirmation-1-3-0.png
Labels: Kommander

#3414 fixing release notes for Kommander
  pages/dkp/kommander/1.3/release-notes/index.md
Labels: Kommander, ready to merge

#3413 Update index.md to add missing parameter
  pages/dkp/konvoy/1.6/operations/manage-docker-hub-rate-limits/index.md
Labels: Konvoy, backport, ready to merge

#3415 [Doc][Kom]Fixed broken link in Release Notes.
  pages/dkp/kommander/1.3/release-notes/index.md
Labels: Kommander, ready to merge

#3417 license updates pages/dkp/kommander/1.3/licensing/index.md
  pages/dkp/kommander/1.3/licensing/index.md
Labels: Kommander, ready to merge

#3418 kommander: Update fedaddon ES req
  pages/dkp/kommander/1.3/workspaces/platform-service-requirements/index.md
Labels: Kommander, ready to merge

#3425 make 404 page not look broken
  index.js
  layouts/404.pug
  pages/404/index.md
  scss/base/_content.scss
  scss/base/_layout.scss
  scss/base/_search.scss
  scss/base/_typography.scss
Labels: doc tools, ready to merge

#3431 adding to release notes - Konvoy
  pages/dkp/konvoy/1.7/release-notes/index.md
Labels: Konvoy, ready to merge

#3436 use the "real" export
  js/cve.js
Labels: doc tools, ready to merge

#3439 [Kaptain] Resolve COPS-6825
  pages/dkp/kaptain/1.2.0-1.0.0/custom-configuration/external-spark/index.md
  pages/dkp/kaptain/1.2.0-1.0.0/custom-configuration/notebook-servers-configuration/index.md
  pages/dkp/kaptain/1.2.0-1.0.0/install/index.md
  pages/dkp/kaptain/1.2.0-1.0.0/troubleshooting/kaptain-1.0.0/index.md
  pages/dkp/kaptain/1.2.0-1.0.0/tutorials/index.md
  pages/dkp/kaptain/1.2.0-1.0.0/tutorials/sdk/index.md
  pages/dkp/kaptain/1.2.0-1.0.0/user-management/index.md
  pages/dkp/kaptain/1.2.0-1.0.0/version-policy/index.md
Labels: Kaptain, ready to merge

#3440 mark mitigated entries and add an according filter
  js/cve.js
  scss/base/_content.scss
  scss/components/_cve-table.scss
Labels: CVE, ready to merge

#3446 remove all scripts
  Makefile
  scripts/clean.sh
  scripts/generate-marathon-api.sh
  scripts/group_cves.js
  scripts/service-update-scripts/beta-cassandra-merge-script.sh
  scripts/service-update-scripts/beta-confluent-merge.sh
  scripts/service-update-scripts/beta-confluent-zookeeper-merge.sh
  scripts/service-update-scripts/beta-dse-merge.sh
  scripts/service-update-scripts/beta-elastic-merge-script.sh
  scripts/service-update-scripts/beta-hdfs-merge-script.sh
  scripts/service-update-scripts/beta-kafka-merge-script.sh
  scripts/service-update-scripts/beta-kafka-zookeeper-merge-script.sh
  scripts/service-update-scripts/beta-spark-merge.sh
  scripts/service-update-scripts/cassandra-ga-merge.sh
  scripts/service-update-scripts/confluent-merge.sh
  scripts/service-update-scripts/dcos-commons-merge.sh
  scripts/service-update-scripts/dse-merge.sh
  scripts/service-update-scripts/elastic-merge-script.sh
  scripts/service-update-scripts/hdfs-merge-script.sh
  scripts/service-update-scripts/kafka-merge-script.sh
  scripts/service-update-scripts/kafka-zookeeper-merge-script.sh
  scripts/service-update-scripts/kubernetes-1x-merge-branch.sh
  scripts/service-update-scripts/kubernetes-1x-merge.sh
  scripts/service-update-scripts/kubernetes-merge-branch.sh
  scripts/service-update-scripts/kubernetes-merge.sh
  scripts/service-update-scripts/merge-lists/beta-cassandra-merge-list.txt
  scripts/service-update-scripts/merge-lists/beta-confluent-merge-list.txt
  scripts/service-update-scripts/merge-lists/beta-confluent-zookeper-merge-list.txt
  scripts/service-update-scripts/merge-lists/beta-elastic-service-merge-list.txt
  scripts/service-update-scripts/merge-lists/beta-hdfs-service-merge-list.txt
  scripts/service-update-scripts/merge-lists/beta-kafka-merge-list.txt
  scripts/service-update-scripts/merge-lists/beta-spark-build-merge-list.txt
  scripts/service-update-scripts/merge-lists/beta-zookeeper-merge-list.txt
  scripts/service-update-scripts/merge-lists/cassandra-merge-list.txt
  scripts/service-update-scripts/merge-lists/confluent-merge-list.txt
  scripts/service-update-scripts/merge-lists/dcos-cassandra-service-merge-list.txt
  scripts/service-update-scripts/merge-lists/dcos-elastic-service-merge-list.txt
  scripts/service-update-scripts/merge-lists/dcos-hdfs-service-merge-list.txt
  scripts/service-update-scripts/merge-lists/dse-merge-list.txt
  scripts/service-update-scripts/merge-lists/dse-private-merge-list.txt
  scripts/service-update-scripts/merge-lists/elastic-merge-list.txt
  scripts/service-update-scripts/merge-lists/hdfs-merge-list.txt
  scripts/service-update-scripts/merge-lists/kafka-merge-list.txt
  scripts/service-update-scripts/merge-lists/kafka-zookeeper-merge-list.txt
  scripts/service-update-scripts/merge-lists/spark-build-merge-list.txt
  scripts/service-update-scripts/spark-merge.sh
  scripts/validate-clean-workspace.sh
Labels: chore, doc tools, ready to merge

#3445 Fix typo in Dispatch 1.4.0 release date
  pages/dkp/dispatch/1.4/release-notes/1.4/index.md
Labels: Dispatch, ready to merge

#3447 Add clarification about Istio support status
  pages/dkp/kaptain/1.2.0-1.0.0/version-policy/index.md
Labels: Kaptain, ready to merge
