Repository mesosphere/dcos-docs-site, pull requests merged in 2021-07, with the labels that each got.

#3676 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/version-policy/index.md
Labels: Konvoy

#3679 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/access-authentication/api-reference/index.md
  pages/dkp/konvoy/1.7/reference/cluster-configuration/v1beta1/index.md
  pages/dkp/konvoy/1.7/reference/cluster-configuration/v1beta2/index.md
Labels: Konvoy, ready to merge

#3680 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/access-authentication/api-reference/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/v1beta1/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/v1beta2/index.md
Labels: Konvoy, ready to merge

#3681 Sync mesosphere/konvoy:release-1.5
  pages/dkp/konvoy/1.5/reference/cluster-configuration/v1beta1/index.md
  pages/dkp/konvoy/1.5/reference/cluster-configuration/v1beta2/index.md
  pages/dkp/konvoy/1.5/security/external-idps/api-reference/index.md
Labels: Konvoy, ready to merge

#3684 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/access-authentication/letsencrypt/index.md
  pages/dkp/konvoy/1.7/deployments/deploy-sample-app/index.md
  pages/dkp/konvoy/1.7/networking/container-network-interface/calico-encapsulation/index.md
Labels: Konvoy, ready to merge

#3686 fix: use default function from cheerio
  plugins/metalsmith-hierarchy.js
Labels: doc tools, ready to merge

#3691 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/workspaces/index.md
Labels: Kommander 2.0

#3692 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/clusters/attach-cluster/access-managed-cluster/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/attach-eks-cluster/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/requirements-for-attaching/index.md
  pages/dkp/kommander/2.0/clusters/index.md
  pages/dkp/kommander/2.0/img/add-cluster-connect.png
  pages/dkp/kommander/2.0/workspaces/service-federation/index.md
Labels: Kommander 2.0

#3693 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/release-notes/index.md
Labels: Kommander 2.0

#3697 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/logging/enable-logging/create-appdeployment-workspace/index.md
  pages/dkp/kommander/2.0/logging/multi-tenant-logging/create-proj-logging-config/index.md
Labels: Kommander 2.0, ready to merge
