Repository mesosphere/dcos-docs-site, pull requests merged in 2021-12, with the labels that each got.

#3921 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/networking/container-network-interface/calico-version/index.md
  pages/dkp/konvoy/1.8/reference/cluster-configuration/index.md
Labels: Konvoy

#3922 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/networking/container-network-interface/calico-version/index.md
  pages/dkp/konvoy/1.7/reference/cluster-configuration/index.md
Labels: Konvoy

#3936 docs: sync with mesosphere/kommander:release-2.1
  pages/dkp/kommander/2.1/install/http-proxy/index.md
  pages/dkp/kommander/2.1/licensing/index.md
  pages/dkp/kommander/2.1/reference/apps/v1alpha2/index.md
  pages/dkp/kommander/2.1/release-notes/index.md
  plugins/metalsmith-hierarchy.test.js
Labels: kommander 2.1

#3933 remove all sync jobs
  Jenkinsfile.cron
  ci/pull-upstream.sh
  ci/rebase.sh
Labels: DO NOT MERGE, needs eng review

#3919 fix: add auto-ips ip range to no_proxy variable
  pages/dkp/konvoy/1.8/install/http-proxy/index.md
Labels: needs docs dev review

#3930 docs: delete deploy|destroy with single cmd topics
  pages/dkp/konvoy/2.1/choose-infrastructure/deploy-with-one-command/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/destroy-with-one-command/index.md
Labels: Konvoy 2.1

#3942 fix: updates nvidia platform services installation
  pages/dkp/kommander/2.1/gpu/kommander-config/index.md
Labels: kommander 2.1, kommander 2.2

#3944 fix: updates nvidia platform services installation - kommander 2.2
  pages/dkp/kommander/2.2/gpu/kommander-config/index.md
Labels: kommander 2.2

#3952 restructure the workspace docs
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/index.md
  pages/dkp/kommander/2.1/workspaces/applications/index.md
  pages/dkp/kommander/2.1/workspaces/applications/platform-applications/application-deployment/index.md
  pages/dkp/kommander/2.1/workspaces/applications/platform-applications/index.md
  pages/dkp/kommander/2.1/workspaces/applications/platform-applications/platform-service-dependencies/index.md
  pages/dkp/kommander/2.1/workspaces/applications/platform-applications/platform-service-requirements/index.md
Labels: kommander 2.1

#3929 [RN] Add kommander 1.4.3 release notes
  pages/dkp/kommander/1.4/release-notes/1.4.3/index.md
Labels: ready to merge, Kommander

#3958 docs: updating upgrade cli for calico
  pages/dkp/konvoy/1.8/upgrade/upgrade-cli/index.md
Labels: Konvoy

#3953 Qa/adding contributing style guides
  .github/styles/Vocab/Docs/accept.txt
  CONTRIBUTING.md
  pull_request_template
Labels: chore

#3955 [kommander][2.1.1]feat: ws catalog appd & use CR in project
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/custom-resources-workspace-catalog/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/application-deployment/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/index.md
Labels: Kommander, kommander 2.1

#3960 docs: add example to OIDC page
  pages/dkp/kommander/2.1/security/oidc/index.md
Labels: kommander 2.1, kommander 2.2

#3966 docs: add example to OIDC page
  pages/dkp/kommander/2.2/security/oidc/index.md
Labels: ready to merge, kommander 2.2

#3976 docs: just cleanup following JCBs edits
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/cleanup/index.md
Labels: Konvoy, Konvoy 2.1

#3978 redirect for dispatch broken link
  s3config.json
Labels: DO NOT MERGE, doc tools

#3971 Add ZooKeeper operator docs (2.1.1)
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/custom-resources-workspace-catalog/zookeeper/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/zookeeper-operator/index.md
Labels: DO NOT MERGE, Kommander, DKP 2.1.1

#3969 feat: workspace catalog app ui steps 2.1.1
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/application-deployment/index.md
Labels: DO NOT MERGE, Kommander, DKP 2.1.1

#3972 Add Kafka operator docs (2.1.1)
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/custom-resources-workspace-catalog/kafka/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/kafka-operator/index.md
Labels: DO NOT MERGE, Kommander, DKP 2.1.1

#3970 Spark operator doc 2.1.1
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/custom-resources-workspace-catalog/spark-operator-custom-resources/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/spark-operator/index.md
Labels: Kommander, DKP 2.1.1

#3980 Create advanced cluster with YAML
  .github/styles/write-good/Weasel.yml
  pages/dkp/kommander/2.1/clusters/creating-konvoy-cluster-advanced/index.md
  pages/dkp/kommander/2.1/clusters/creating-konvoy-cluster-aws/index.md
Labels: ready to merge, Kommander, kommander 2.1

#3982 Spark link to cr 2.1.1
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/custom-resources-workspace-catalog/spark/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/spark-operator/index.md
Labels: Kommander, DKP 2.1.1

#3973 Add install instructions for the workspace catalog repo
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/index.md
Labels: DKP 2.1.1

#3985 konvoy: remove incorrect information about AWS_REGION env
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/prerequisites/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/quick-start/index.md
Labels: Konvoy 2.1, DKP 2.1.1

#3989 docs: Add dkp-applications subdir under catalog-apps
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/custom-applications/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/custom-resources-workspace-catalog/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/kafka/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/spark/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/zookeeper/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/index.md
  pages/dkp/kommander/2.1/projects/applications/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/dkp-applications/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/dkp-applications/kafka-operator/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/dkp-applications/spark-operator/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/dkp-applications/zookeeper-operator/index.md
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/index.md
Labels: kommander 2.1, DKP 2.1.1

#3990 [DOCS Env] D2IQ-82072 - added needed Vale terms and made corrections
  .github/styles/Vocab/Docs/accept.txt
Labels: ready to merge, doc tools, documentation

#3991 [Konvoy 2.1][DOCS] D2IQ-82072 Azure install updates
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/certificate_renewal/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/delete/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/explore/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/quick-start-azure/index.md
  pages/dkp/konvoy/2.1/image-builder/override-files/create-custom-or-files/proxy-or-files/index.md
Labels: ready to merge, Konvoy 2.1, documentation

#3993 co/upgrade_updates
  pages/dkp/konvoy/2.1/major-version-upgrade/index.md
Labels: DKP 2.1.1

#3999 Konvoy 2.1.1 Custom AWS CA needs set for CAPI
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/advanced/bootstrap/index.md
Labels: needs eng review, documentation, DKP 2.1.1

#4000 Co/cops 7027
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/prerequisites/index.md
Labels: Konvoy 2.1

#3997 changing order of products on home page
  layouts/all-products-landing.pug
Labels: doc tools

#4007 D2IQ-83122 fixes to 211 release notes
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/konvoy/2.1/release-notes/2.1.1/index.md
Labels: ready to merge, Konvoy 2.1, documentation
