Repository mesosphere/dcos-docs-site, pull requests merged in 2021-04, with the labels that each got.

#3511 docs: attach cluster behind a proxy
  pages/dkp/kommander/1.4/clusters/attach-cluster/index.md
  pages/dkp/kommander/1.4/img/add-cluster-tunnel-connect.png
  pages/dkp/kommander/1.4/img/attach-cluster-tunnel-manifest.png
Labels: wip

#3510 adding note to cover COPS-6883 being resolved
  pages/dkp/konvoy/1.7/release-notes/1.7.1/index.md
Labels: Konvoy, backport

#3520 CLI tunnel examples
  pages/dkp/kommander/1.4/clusters/tunnel-cli/index.md
Labels: Kommander, needs docs dev review, ready to merge

#3527 adding beta in dropdown nav for kommander 1.4 and 2.0
  pages/dkp/kommander/1.4/index.md
  pages/dkp/kommander/2.0/index.md
Labels: Kommander, ready to merge

#3525 Cleanup tunnel API reference page
  pages/dkp/kommander/1.4/clusters/tunnel-cli/api-reference/index.md
Labels: Kommander, ready to merge

#3519 [Doc][Kommander]Updated Release Note info for Kommander 1.3.2.
  pages/dkp/kommander/1.3/release-notes/1.3.2/index.md
Labels: Kommander

#3526 Creating a network policy to restrict tunnel agent connections
  pages/dkp/kommander/1.4/clusters/tunnel-cli/index.md
Labels: Kommander

#3531 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/networking/container-network-interface/cidr-pools/index.md
Labels: Konvoy, ready to merge

#3534 docs: add documentation about resource placement
  pages/dkp/kommander/1.4/projects/index.md
Labels: Kommander, ready to merge

#3549 KUDO Zookeeper Platform Service Docs
  pages/dkp/kommander/1.3/include/kudo-zookeeper-instance.tmpl
  pages/dkp/kommander/1.3/include/kudo-zookeeper-plans.tmpl
  pages/dkp/kommander/1.3/projects/platform-services/platform-services-catalog/kudo-zookeeper/index.md
Labels: Kommander, ready to merge

#3556 fixing link for cluster-with-network-restrictions page
  pages/dkp/kommander/1.4/clusters/attach-cluster/index.md
  pages/dkp/kommander/1.4/clusters/attach-cluster/requirements-for-attaching/index.md
Labels: Kommander, ready to merge

#3558 editing link and updating k8s version for attach cluster
  pages/dkp/kommander/1.4/clusters/attach-cluster/requirements-for-attaching/index.md
  pages/dkp/kommander/1.4/clusters/creating-konvoy-cluster-azure/index.md
Labels: Kommander, ready to merge

#3554 adding link to version support policy in upgrade/index.md
  pages/dkp/kommander/1.4/upgrade/index.md
Labels: Kommander, ready to merge

#3562 fixing broken links - Kommander docs
  pages/dkp/kommander/1.0/security/distributed-authnz/index.md
  pages/dkp/kommander/1.1/security/distributed-authnz/index.md
  pages/dkp/kommander/1.2/security/distributed-authnz/index.md
  pages/dkp/kommander/1.3/security/distributed-authnz/index.md
  pages/dkp/kommander/1.4/security/distributed-authnz/index.md
Labels: Kommander, ready to merge

#3559 [Doc][Komm] D2IQ-74802 Added network tunneling blurb to RelNotes... (1.4)
  pages/dkp/kommander/1.4/clusters/attach-cluster/cluster-with-network-restrictions/index.md
  pages/dkp/kommander/1.4/release-notes/index.md
Labels: Kommander, ready to merge

#3550 Add clarification of keepalived's config for on-prem and airgapp Konv…
  pages/dkp/konvoy/1.6/install/install-airgapped/index.md
  pages/dkp/konvoy/1.6/install/install-onprem/index.md
  pages/dkp/konvoy/1.7/install/install-airgapped/index.md
  pages/dkp/konvoy/1.7/install/install-onprem/index.md
  pages/dkp/konvoy/1.8/install/install-airgapped/index.md
  pages/dkp/konvoy/1.8/install/install-onprem/index.md
Labels: Konvoy, backport, ready to merge

#3570 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/install/install-airgapped/index.md
  pages/dkp/konvoy/1.7/install/install-onprem/index.md
Labels: Konvoy, ready to merge

#3571 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/install/install-airgapped/index.md
  pages/dkp/konvoy/1.6/install/install-onprem/index.md
Labels: Konvoy, ready to merge

#3569 nit - ID caps in pages/dkp/kommander/1.4/security/distributed-authnz/…
  pages/dkp/kommander/1.4/security/distributed-authnz/index.md
Labels: Kommander, ready to merge

#3572 updating links pages/dkp/kommander/1.4/uninstall/index.md
  pages/dkp/kommander/1.4/uninstall/index.md
Labels: Kommander, ready to merge

#3573 Qa/kommander 1 4 uninstall
  pages/dkp/kommander/1.4/uninstall/index.md
Labels: Kommander, ready to merge

#3528 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/index.md
  pages/dkp/kommander/2.0/projects/index.md
  pages/dkp/kommander/2.0/projects/platform-services/index.md
  pages/dkp/kommander/2.0/projects/project-configmaps/index.md
  pages/dkp/kommander/2.0/projects/project-deployments/index.md
  pages/dkp/kommander/2.0/projects/project-network-policies/index.md
  pages/dkp/kommander/2.0/projects/project-policies/index.md
  pages/dkp/kommander/2.0/projects/project-quotas-limit-range/index.md
  pages/dkp/kommander/2.0/projects/project-roles/index.md
  pages/dkp/kommander/2.0/projects/project-secrets/index.md
  pages/dkp/kommander/2.0/workspaces/create-workspaces/index.md
  pages/dkp/kommander/2.0/workspaces/edit-delete-workspaces/index.md
  pages/dkp/kommander/2.0/workspaces/index.md
  pages/dkp/kommander/2.0/workspaces/platform-service-dependencies/index.md
  pages/dkp/kommander/2.0/workspaces/platform-service-requirements/index.md
  pages/dkp/kommander/2.0/workspaces/workspace-platform-services/index.md
Labels: DO NOT MERGE, Kommander 2.0

#3577 Cassandra Platform Service docs for kommander 1.4
  pages/dkp/kommander/1.4/img/platform-services-cassandra-config-dialog.png
  pages/dkp/kommander/1.4/img/platform-services-cassandra-monitoring.png
  pages/dkp/kommander/1.4/include/kudo-cassandra-instance.tmpl
  pages/dkp/kommander/1.4/include/kudo-cassandra-plans.tmpl
  pages/dkp/kommander/1.4/include/kudo-intro.tmpl
  pages/dkp/kommander/1.4/projects/platform-services/federated-addons/index.md
  pages/dkp/kommander/1.4/projects/platform-services/kudo-based/index.md
  pages/dkp/kommander/1.4/projects/platform-services/platform-services-catalog/kudo-cassandra/index.md
Labels: Kommander, ready to merge
