Repository mesosphere/dcos-docs-site, pull requests merged in 2021-09, with the labels that each got.

#3749 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/reference/index.md
  pages/dkp/konvoy/2.0/reference/infrastructure/index.md
  pages/dkp/konvoy/2.0/reference/infrastructure/v1alpha1/index.md
Labels: Konvoy 2.0

#3769 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/autoscaling/index.md
  pages/dkp/konvoy/1.8/install/install-aws/advanced-provisioning/index.md
  pages/dkp/konvoy/1.8/logging/splunk-integration/index.md
Labels: Konvoy

#3770 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/autoscaling/index.md
  pages/dkp/konvoy/1.7/install/install-aws/advanced-provisioning/index.md
  pages/dkp/konvoy/1.7/logging/splunk-integration/index.md
Labels: Konvoy

#3771 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/release-notes/1.6.3/index.md
Labels: ready to merge, Konvoy

#3776 Sync mesosphere/konvoy2:release-2.0
  pages/dkp/konvoy/2.0/choose_infrastructure/pre-provisioned/delete-cluster/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/pre-provisioned/self-managing/index.md
Labels: Konvoy 2.0

#3781 Sync mesosphere/konvoy2:release-2.0
  pages/dkp/konvoy/2.0/supported-operating-systems/index.md
Labels: ready to merge, Konvoy 2.0

#3785 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/autoscaling/index.md
  pages/dkp/konvoy/1.8/install/install-aws/index.md
Labels: ready to merge, Konvoy

#3791 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/access-authentication/oidc/change-token-lifetime/index.md
Labels: ready to merge, Konvoy

#3790 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/access-authentication/oidc/change-token-lifetime/index.md
Labels: ready to merge, Konvoy

#3800 fix: change detail of security updates
  pages/dkp/security-updates/index.md
Labels: CVE

#3801 Sync mesosphere/kommander:release-2.0
  pages/dkp/kommander/2.0/install/air-gapped/index.md
Labels: ready to merge, Konvoy 2.0

#3794 [Docs][Kommander] Update Kommander 1.4.2 and 1.3.4 RNs
  pages/dkp/kommander/1.3/release-notes/1.3.4/index.md
  pages/dkp/kommander/1.4/release-notes/1.4.2/index.md
Labels: ready to merge, Kommander

#3804 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/gpu/index.md
Labels: ready to merge, Konvoy

#3805 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/gpu/index.md
Labels: ready to merge, Konvoy
