Repository mesosphere/dcos-docs-site, pull requests merged in 2021-06, with the labels that each got.

#3633 docs(fix): removing h tags for open source pages
  pages/dkp/kommander/1.4/release-notes/open-source-attributions/index.md
  pages/dkp/konvoy/1.8/legal/open-source-attribution/index.md
Labels: Kommander, Konvoy, ready to merge

#3634 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/legal/open-source-attribution/index.md
Labels: Konvoy, ready to merge

#3637 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/download/index.md
Labels: Konvoy

#3640 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/install/index.md
Labels: Kommander 2.0

#3641 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/custom-git/index.md
Labels: Kommander 2.0

#3646 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/custom-git/index.md
Labels: Kommander 2.0

#3647 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/install/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.0/install/advanced/configure_drivers/index.md
  pages/dkp/konvoy/2.0/install/advanced/delete/index.md
  pages/dkp/konvoy/2.0/install/advanced/explore/index.md
  pages/dkp/konvoy/2.0/install/advanced/index.md
  pages/dkp/konvoy/2.0/install/advanced/new/index.md
  pages/dkp/konvoy/2.0/install/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.0/install/advanced/self-managing/index.md
  pages/dkp/konvoy/2.0/install/advanced/update/index.md
Labels: Konvoy 2.0, ready to merge

#3648 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/install/index.md
Labels: Kommander 2.0, ready to merge

#3650 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/install/index.md
Labels: Kommander 2.0

#3655 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/upgrade/upgrade-cli/index.md
Labels: Konvoy

#3657 Manually copied latest beta docs.
  pages/dkp/kommander/2.0/clusters/attach-cluster/access-managed-cluster/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/attach-eks-cluster/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/requirements-for-attaching/index.md
  pages/dkp/kommander/2.0/clusters/index.md
  pages/dkp/kommander/2.0/clusters/management-cluster/index.md
  pages/dkp/kommander/2.0/custom-git/index.md
  pages/dkp/kommander/2.0/index.md
  pages/dkp/kommander/2.0/install/index.md
  pages/dkp/kommander/2.0/projects/index.md
  pages/dkp/kommander/2.0/projects/project-configmaps/index.md
  pages/dkp/kommander/2.0/projects/project-network-policies/index.md
  pages/dkp/kommander/2.0/projects/project-policies/index.md
  pages/dkp/kommander/2.0/projects/project-quotas-limit-range/index.md
  pages/dkp/kommander/2.0/projects/project-roles/index.md
  pages/dkp/kommander/2.0/projects/project-secrets/index.md
  pages/dkp/kommander/2.0/workspaces/index.md
  pages/dkp/kommander/2.0/workspaces/workspace-platform-services/index.md
  pages/dkp/kommander/2.0/workspaces/workspace-platform-services/platform-service-dependencies/index.md
  pages/dkp/kommander/2.0/workspaces/workspace-platform-services/platform-service-requirements/index.md
Labels: Kommander 2.0, ready to merge

#3658 doc: Manually copy konvoy2 latest docs
  pages/dkp/konvoy/2.0/install/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.0/quick-start-aws/index.md
  pages/dkp/konvoy/2.0/quick-start-azure/index.md
Labels: Konvoy 2.0

#3662 fixing konvoy quickstarts
  pages/dkp/konvoy/2.0/quick-start-azure/index.md
  pages/dkp/konvoy/2.0/quick-start/index.md
Labels: Konvoy 2.0

#3663 kommander2: Manually sync latest kommander 2.0 docs
  pages/dkp/kommander/2.0/clusters/attach-cluster/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/requirements-for-attaching/index.md
  pages/dkp/kommander/2.0/clusters/index.md
  pages/dkp/kommander/2.0/clusters/management-cluster/index.md
  pages/dkp/kommander/2.0/custom-git/index.md
  pages/dkp/kommander/2.0/index.md
  pages/dkp/kommander/2.0/install/index.md
  pages/dkp/kommander/2.0/projects/project-configmaps/index.md
  pages/dkp/kommander/2.0/projects/project-policies/index.md
  pages/dkp/kommander/2.0/projects/project-quotas-limit-range/index.md
  pages/dkp/kommander/2.0/projects/project-roles/index.md
  pages/dkp/kommander/2.0/projects/project-secrets/index.md
  pages/dkp/kommander/2.0/workspaces/index.md
  pages/dkp/kommander/2.0/workspaces/workspace-platform-services/index.md
  pages/dkp/kommander/2.0/workspaces/workspace-platform-services/platform-service-dependencies/index.md
  pages/dkp/kommander/2.0/workspaces/workspace-platform-services/platform-service-requirements/index.md
Labels: Kommander 2.0

#3667 Specify Python as an OS prerequisite in air-gapped clusters
  pages/dkp/konvoy/1.7/include/os-svc-nodes.tmpl
  pages/dkp/konvoy/1.7/install/install-airgapped/index.md
  pages/dkp/konvoy/1.8/include/os-svc-nodes.tmpl
  pages/dkp/konvoy/1.8/install/install-airgapped/index.md
Labels: Konvoy, ready to merge

#3672 adding new support terms
  pages/dkp/kommander/1.3/version-policy/index.md
  pages/dkp/kommander/1.4/version-policy/index.md
Labels: Kommander, ready to merge

#3673 Update kaptain version-policy
  pages/dkp/kaptain/1.2.0-1.1.0/version-policy/index.md
Labels: Kaptain, ready to merge
