Repository mesosphere/dcos-docs-site, pull requests merged in 2021-05, with the labels that each got.

#3584 spaces/formating on pages/dkp/kommander/1.4/clusters/attach-cluster/g…
  pages/dkp/kommander/1.4/clusters/attach-cluster/generate-kubeconfig/index.md
Labels: Kommander, ready to merge

#3582 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/image-builder/create-ami/index.md
  pages/dkp/konvoy/2.0/image-builder/create-bootstrap-cluster/index.md
  pages/dkp/konvoy/2.0/image-builder/index.md
Labels: Konvoy 2.0

#3587 [Doc]{Kommander] Updated Release Notes for 1.4 Kommander.
  pages/dkp/kommander/1.4/release-notes/index.md
Labels: Kommander

#3583 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/clusters/attach-cluster/attach-eks-cluster/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/cluster-no-network-restrictions/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/generate-kubeconfig/index.md
  pages/dkp/kommander/2.0/clusters/attach-cluster/index.md
  pages/dkp/kommander/2.0/clusters/edit-cluster/index.md
  pages/dkp/kommander/2.0/clusters/index.md
  pages/dkp/kommander/2.0/clusters/management-cluster/index.md
Labels: Kommander 2.0

#3566 Document the sync-to-project annotation
  pages/dkp/kommander/1.4/operations/access-control/index.md
Labels: GA, Kommander, ready to merge

#3579 updating latest for GAs
  index.js
Labels: GA, Kommander, Konvoy, doc tools

#3589 Update kommander 1.4.0 RN
  pages/dkp/kommander/1.4/release-notes/index.md
Labels: GA, Kommander, ready to merge

#3592 deleting as a placeholder pages/dkp/konvoy/1.8/frequently-asked-quest…
  pages/dkp/konvoy/1.8/frequently-asked-questions/index.md
Labels: backport, ready to merge

#3600 konvoy: Update 1.8 docs with Russ Feedback
  pages/dkp/konvoy/1.8/upgrade/upgrade-cli/index.md
Labels: Konvoy, backport, ready to merge

#3597 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/air-gapped/index.md
  pages/dkp/konvoy/2.0/quick-start/index.md
Labels: Konvoy 2.0

#3594 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/install/install-airgapped/index.md
  pages/dkp/konvoy/1.6/install/install-aws/index.md
  pages/dkp/konvoy/1.6/install/install-azure/index.md
  pages/dkp/konvoy/1.6/install/install-dev/index.md
  pages/dkp/konvoy/1.6/install/install-onprem/index.md
  pages/dkp/konvoy/1.6/install/install-secured/index.md
  pages/dkp/konvoy/1.6/install/provision-a-custom-cluster/index.md
  pages/dkp/konvoy/1.6/quick-start/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/v1beta1/index.md
  pages/dkp/konvoy/1.6/reference/cluster-configuration/v1beta2/index.md
  pages/dkp/konvoy/1.6/upgrade/upgrade-cli/index.md
  pages/dkp/konvoy/1.6/upgrade/upgrade-kubernetes-addons/index.md
  pages/dkp/konvoy/1.6/version-policy/index.md
Labels: Konvoy, ready to merge

#3602 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/image-builder/create-ami/index.md
  pages/dkp/konvoy/2.0/image-builder/create-bootstrap-cluster/index.md
  pages/dkp/konvoy/2.0/index.md
  pages/dkp/konvoy/2.0/install/air-gapped/bootstrap/index.md
  pages/dkp/konvoy/2.0/install/air-gapped/configure_drivers/index.md
  pages/dkp/konvoy/2.0/install/air-gapped/delete/index.md
  pages/dkp/konvoy/2.0/install/air-gapped/explore/index.md
  pages/dkp/konvoy/2.0/install/air-gapped/index.md
  pages/dkp/konvoy/2.0/install/air-gapped/new/index.md
  pages/dkp/konvoy/2.0/install/air-gapped/prerequisites/index.md
  pages/dkp/konvoy/2.0/install/index.md
  pages/dkp/konvoy/2.0/quick-start/index.md
Labels: Konvoy 2.0, ready to merge

#3605 COPS-6936: Fix frontmatter for Kaptain support page
  pages/dkp/kaptain/1.2.0-1.0.0/support/index.md
  pages/dkp/kaptain/1.2.0-1.1.0/support/index.md
Labels: Kaptain, ready to merge

#3610 chore: Updated kommander, yakcl, and kubetunnel oss attributions
  pages/dkp/kommander/1.4/release-notes/open-source-attributions/index.md
Labels: oss, ready to merge

#3615 fix: updating redirects for Arch and latest
  s3config.json
Labels: Kommander, Konvoy, ready to merge

#3616 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/quick-start/index.md
Labels: Konvoy 2.0

#3617 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/quick-start/index.md
Labels: Konvoy 2.0

#3625 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/projects/index.md
  pages/dkp/kommander/2.0/projects/project-deployments/index.md
Labels: Kommander 2.0, ready to merge
