Repository mesosphere/dcos-docs-site, pull requests merged in 2021-08, with the labels that each got.

#3704 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/release-notes/1.8.2/index.md
Labels: DO NOT MERGE

#3709 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/archives/index.md
Labels: ready to merge, Konvoy

#3710 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/archives/index.md
Labels: ready to merge, Konvoy

#3711 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/archives/index.md
Labels: ready to merge, Konvoy

#3712 adding archive instructions to Kommander
  pages/dkp/kommander/1.2/archives/index.md
  pages/dkp/kommander/1.3/archives/index.md
  pages/dkp/kommander/1.4/archives/index.md
Labels: ready to merge, Kommander

#3714 feat: combine konvoy and kommander into one pr
  Jenkinsfile.cron
  ci/pull-upstreams.sh
Labels: needs eng review, doc tools

#3715 Sync mesosphere/konvoy:release-1.8
  pages/dkp/konvoy/1.8/install/install-azure/index.md
  pages/dkp/konvoy/1.8/install/install-gcp/index.md
Labels: ready to merge, Konvoy

#3716 Sync mesosphere/konvoy:release-1.7
  pages/dkp/konvoy/1.7/install/install-azure/index.md
  pages/dkp/konvoy/1.7/install/install-gcp/index.md
Labels: ready to merge, Konvoy

#3717 Sync mesosphere/konvoy:release-1.6
  pages/dkp/konvoy/1.6/install/install-azure/index.md
  pages/dkp/konvoy/1.6/install/install-gcp/index.md
Labels: ready to merge, Konvoy

#3721 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/archives/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/advanced/certificate_renewal/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/advanced/delete/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/advanced/explore/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/advanced/new/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/advanced/self-managing/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/air-gapped/bootstrap/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/air-gapped/delete/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/air-gapped/explore/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/air-gapped/prerequisites/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/iam-policies/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/nodepools/cluster_autoscaler/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/nodepools/create/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/nodepools/delete/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/nodepools/list/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/nodepools/scale/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.0/image-builder/create-ami/index.md
Labels: ready to merge, Konvoy 2.0

#3722 Sync mesosphere/kommander:main
  pages/dkp/kommander/2.0/archives/index.md
Labels: Kommander 2.0

#3729 fix: remove model
  pages/dkp/kaptain/1.2.0/legal-notices/index.md
Labels: Kaptain

#3730 Review Kaptain 1.2 docs
  pages/dkp/kaptain/1.2.0/custom-configuration/custom-domain-certs/index.md
  pages/dkp/kaptain/1.2.0/custom-configuration/external-dex/index.md
  pages/dkp/kaptain/1.2.0/custom-configuration/external-spark/index.md
  pages/dkp/kaptain/1.2.0/custom-configuration/notebook-servers-configuration/index.md
  pages/dkp/kaptain/1.2.0/download/index.md
  pages/dkp/kaptain/1.2.0/install/konvoy/index.md
  pages/dkp/kaptain/1.2.0/monitoring/index.md
  pages/dkp/kaptain/1.2.0/release-notes/1.2.0/index.md
  pages/dkp/kaptain/1.2.0/sdk/credentials/index.md
  pages/dkp/kaptain/1.2.0/sdk/private-registries/index.md
  pages/dkp/kaptain/1.2.0/sdk/quickstart/index.md
  pages/dkp/kaptain/1.2.0/version-policy/index.md
Labels: ready to merge, Kaptain

#3744 Sync mesosphere/konvoy2:main
  pages/dkp/konvoy/2.0/troubleshooting/generate-a-support-bundle/index.md
Labels: ready to merge, Konvoy 2.0

#3742 Sync doc fixes from kudo-kubeflow
  pages/dkp/kaptain/1.2.0/sdk/api/index.md
  pages/dkp/kaptain/1.2.0/sdk/credentials/index.md
  pages/dkp/kaptain/1.2.0/sdk/private-registries/index.md
  pages/dkp/kaptain/1.2.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/1.2.0/tutorials/sdk/tensorflow/index.md
Labels: ready to merge, Kaptain
