Repository mesosphere/dcos-docs-site, pull requests merged in 2022-04, with the labels that each got.

#4191 [QA] - Docs Updated some commands and outputs
  .husky/pre-commit.orig
  pages/dkp/konvoy/2.1/choose-infrastructure/aks/aks-advanced/aa-new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/advanced/new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aks/aks-advanced/aa-bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aks/aks-advanced/aa-new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/new/index.md
Labels: merge conflict, Konvoy 2.1, Kommander 2.1

#4228 docs: add warning about Flux suspension after detachment
  pages/dkp/kommander/2.2/clusters/delete-cluster/index.md
Labels: DKP 2.2

#4203 feat(konvoy): add image builder azure docs
  pages/dkp/konvoy/2.2/image-builder/create-azure-image/index.md
Labels: wip, konvoy 2.2

#4239 [2.2.0 RN] Add workaround to configure KOP/TFA
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
Labels: Kommander 2.2

#4237 Brittanys wording changes
  pages/dkp/kommander/2.2/projects/project-policies/index.md
  pages/dkp/kommander/2.2/projects/project-roles/index.md
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/index.md
Labels: DKP 2.2

#4246 docs: update git precommit name
  .husky/pre-commit
Labels: ready to merge, doc tools

#4248 docs: removes note on an outdated limitation
  pages/dkp/kommander/2.2/install/configuration/custom-domain/index.md
Labels: ready to merge, DKP 2.2, documentation, Kommander 2.2

#4247 Update API docs for Kommander 2.2
  pages/dkp/kommander/2.2/reference/kommander/v1beta1/index.md
Labels: Kommander 2.2

#4233 docs: Add info about DKP catalog apps git repo archive
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.2/install/configuration/enterprise-catalog/index.md
Labels: needs eng review, DKP 2.2, Kommander 2.2

#4252 docs: replacing kommander cli with dkp
  pages/dkp/kommander/2.2/gpu/kommander-config/index.md
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.2/install/configuration/custom-domain/index.md
  pages/dkp/kommander/2.2/install/configuration/enterprise-catalog/index.md
  pages/dkp/kommander/2.2/install/configuration/http-proxy/index.md
  pages/dkp/kommander/2.2/install/configuration/index.md
  pages/dkp/kommander/2.2/install/networked/index.md
Labels: ready to merge, Kommander, Kommander 2.2

#4256 Just fixing a link
  pages/dkp/kommander/2.2/dkp-upgrade/index.md
Labels: DKP 2.2, documentation

#4213 Konvoy 2.2 Release Note: Default update strategy changed to "delete first" for Preprovisioned clusters
  pages/dkp/konvoy/2.2/release-notes/index.md
Labels: ready to merge, DKP 2.2

#4254 COPS7231 Added Self-Managed
  pages/dkp/konvoy/2.2/choose-infrastructure/aks/aks-advanced/index.md
Labels: DKP 2.2

#4255 users must back up prior to upgrading
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
Labels: DKP 2.2, documentation, Kommander 2.2

#4240 docs: screenshot and copy updates - projects
  pages/dkp/kommander/2.2/projects/project-quotas-limit-range/index.md
  pages/dkp/kommander/2.2/projects/project-secrets/index.md
Labels: DKP 2.2

#4226 [DKP 2.2] Licensing Update
  pages/dkp/kommander/2.2/img/dkpenterprisediagram.png
  pages/dkp/kommander/2.2/img/dkpenterprisediagramv2.png
  pages/dkp/kommander/2.2/img/dkpessentialdiagram.png
  pages/dkp/kommander/2.2/licensing/enterprise/index.md
  pages/dkp/kommander/2.2/licensing/essential/index.md
  pages/dkp/kommander/2.2/licensing/index.md
Labels: DO NOT MERGE, DKP 2.2

#4230 [Konvoy 2.2] Upgrade Docs
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-konvoy/essential/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-konvoy/index.md
Labels: konvoy 2.2

#4268 docs: fixing some spelling mistakes
  pages/dkp/konvoy/2.2/choose-infrastructure/destroy-with-one-command/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/quick-start/index.md
Labels: ready to merge, Konvoy, konvoy 2.2

#4263 Insight Docs Tweaks
  pages/dkp/kommander/2.2/insights/index.md
  pages/dkp/kommander/2.2/insights/insights-setup/index.md
  pages/dkp/kommander/2.2/insights/insights-view/index.md
Labels: DKP 2.2, Kommander 2.2

#4249 docs: updating eks section for date with dkp 2.2
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/delete/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/quick-start/index.md
Labels: Konvoy, konvoy 2.2

#4273 [kommander] init command
  pages/dkp/kommander/2.2/install/configuration/enterprise-catalog/index.md
Labels: Kommander, DKP 2.2, Kommander 2.2

#4242 Add identity secret cretimg for bootstrap clusters running inside Azure
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/bootstrap/index.md
Labels: Konvoy 2.1, DKP 2.2

#4275 Fixing some links to direct to specific headers
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
Labels: DKP 2.2, documentation, Kommander 2.2

#4264 [Kommander] Update platform app requirements table
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/platform-application-requirements/index.md
Labels: DKP 2.2, Kommander 2.2

#4278 docs: Update appdeployment examples with new versions
  pages/dkp/kommander/2.2/logging/disable-audit-logs/index.md
  pages/dkp/kommander/2.2/logging/enable-logging/restrict-logging/index.md
  pages/dkp/kommander/2.2/logging/multi-tenant-logging/create-appdeployment/index.md
  pages/dkp/kommander/2.2/monitoring/index.md
  pages/dkp/kommander/2.2/projects/applications/platform-applications/application-deployment/index.md
  pages/dkp/kommander/2.2/workspaces/applications/catalog-applications/application-deployment/index.md
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/application-deployment/index.md
Labels: DKP 2.2, Kommander 2.2

#4279 [Kommander 2.2] Provide instructions to detach < 2.2 metallb from kommander
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
Labels: Kommander 2.2

#4272 Copying all upgrade docs over to Konvoy
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/update/control-plane/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/update/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/update/node-pool/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/update/control-plane/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/update/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/update/node-pool/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/upgrade/control-plane/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/upgrade/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/upgrade/node-pool/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/custom-apps/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/essential/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/index.md
Labels: GA, konvoy 2.2, DKP 2.2, documentation, Kommander 2.2

#4223 [Kommander] Management cluster app requirements
  pages/dkp/kommander/2.2/install/mgmt-cluster-apps/index.md
Labels: GA, DKP 2.2, Kommander 2.2

#4282 docs: replace metallb with istio in the WS config override example
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/application-deployment/index.md
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/index.md
Labels: DKP 2.2, Kommander 2.2

#4281 docs: Differentiate between workspace and project catalog upgrades
  pages/dkp/kommander/2.2/dkp-upgrade/index.md
  pages/dkp/kommander/2.2/projects/applications/catalog-applications/index.md
  pages/dkp/kommander/2.2/projects/applications/catalog-applications/upgrading-applications/index.md
  pages/dkp/kommander/2.2/workspaces/applications/catalog-applications/upgrading-applications/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/index.md
Labels: ready to merge, DKP 2.2, Kommander 2.2

#4285 [DOC][Konvoy 2.2] vSphere - added new StorageClass procedure to the air-gapped workflow
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/air-gapped/explore/index.md
Labels: ready to merge, konvoy 2.2, documentation

#4287 updates for enable dkp insights engine steps
  pages/dkp/kommander/2.2/insights/insights-setup/index.md
Labels: DKP 2.2, Kommander 2.2

#4289 docs: A few fixes for 2.1.1 airgapped docs
  pages/dkp/kommander/2.1/install/air-gapped/index.md
Labels: Kommander 2.1

#4284 [DKP] Added Upgrade paths table
  pages/dkp/kommander/2.2/dkp-upgrade/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/index.md
Labels: wip, DO NOT MERGE, DKP 2.2

#4290 [DKP 2.2] Upgrade Doc Tweaks
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-konvoy/essential/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/essential/index.md
Labels: DKP 2.2

#4292 re-add deleted line
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
Labels: Kommander 2.2

#4297 changing download instructions
  pages/dkp/kommander/2.2/download/index.md
  pages/dkp/konvoy/2.2/download/index.md
Labels: DKP 2.2

#4299 docs: updating links for konv download page
  pages/dkp/kommander/2.2/download/index.md
  pages/dkp/konvoy/2.2/download/index.md
Labels: ready to merge, Kommander, Konvoy, konvoy 2.2, Kommander 2.2

#4300 docs: fix excerpts and links for cluster mgmt
  pages/dkp/kommander/2.0/clusters/applications/index.md
  pages/dkp/kommander/2.0/clusters/management-cluster/index.md
  pages/dkp/kommander/2.1/clusters/applications/index.md
  pages/dkp/kommander/2.1/clusters/management-cluster/index.md
  pages/dkp/kommander/2.2/clusters/applications/index.md
  pages/dkp/kommander/2.2/clusters/management-cluster/index.md
Labels: ready to merge, Kommander, Kommander 2.2

#4305 [DKP 2.2] Updated Release Notes for date & misc
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/index.md
Labels: DKP 2.2

#4270 [Konvoy] airgapped bundles
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/gpu/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/create-cluster/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/define-infrastructure/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites/index.md
  pages/dkp/konvoy/2.2/image-builder/create-ami/index.md
  pages/dkp/konvoy/2.2/image-builder/create-azure-image/index.md
  pages/dkp/konvoy/2.2/image-builder/override-files/create-custom-or-files/airgapped-or-files/index.md
  pages/dkp/konvoy/2.2/image-builder/override-files/create-custom-or-files/container-image-or-files/index.md
  pages/dkp/konvoy/2.2/image-builder/override-files/create-custom-or-files/fips-airgapped-or-files/index.md
  pages/dkp/konvoy/2.2/image-builder/override-files/default-or-files/index.md
Labels: GA, DKP 2.2

#4312 Kaptain 2.0.0 Docs download folder
  pages/dkp/kaptain/2.0.0/download/index.md
Labels: Kaptain, Kaptain 2.0

#4314 Kaptain 2.0.0 Docs introducing folder
  pages/dkp/kaptain/2.0.0/introducing/index.md
Labels: Kaptain, Kaptain 2.0

#4326 Kaptain 2.0.0 Docs version-policy folder
  pages/dkp/kaptain/2.0.0/version-policy/index.md
Labels: Kaptain, Kaptain 2.0

#4321 Kaptain 2.0.0 Docs support folder
  pages/dkp/kaptain/2.0.0/support/index.md
Labels: Kaptain, Kaptain 2.0

#4324 Kaptain 2.0.0 Docs upgrade folder
  pages/dkp/kaptain/2.0.0/upgrade/index.md
Labels: Kaptain, Kaptain 2.0

#4328 chore: removed duplicated output line
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
Labels: documentation

#4330 Kaptain 2.0.0 Docs - Add Kaptain specific accepted terms
  .github/styles/Vocab/Docs/accept.txt
Labels: Kaptain, Kaptain 2.0

#4302 doce: Update RN component chart with app versions
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/index.md
Labels: DKP 2.2, Kommander 2.2

#4325 Kaptain 2.0.0 Docs user-management folder
  pages/dkp/kaptain/2.0.0/user-management/index.md
Labels: Kaptain, Kaptain 2.0

#4320 Kaptain 2.0.0 Docs secrets-management folder
  pages/dkp/kaptain/2.0.0/secrets-management/index.md
Labels: Kaptain, Kaptain 2.0

#4322 Kaptain 2.0.0 Docs troubleshooting folder
  pages/dkp/kaptain/2.0.0/troubleshooting/index.md
Labels: Kaptain, Kaptain 2.0

#4310 docs: Add section on how to force reconcile HRs
  pages/dkp/kommander/2.1/install/networked/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/install/networked/index.md
Labels: Kommander 2.1, Kommander 2.2

#4266 removing hiding of 2.2 for GA
  config.json
  index.js
  s3config.json
Labels: DO NOT MERGE, doc tools, GA, DKP 2.2

#4301 docs: note attaching cluster with cert-manager
  pages/dkp/kommander/2.2/clusters/attach-cluster/requirements-for-attaching/index.md
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
Labels: ready to merge, DKP 2.2, Kommander 2.2

#4333 docs: adding first go of open source licenses
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.2/legal/open-source/index.md
  pages/dkp/konvoy/2.2/legal/open-source/index.md
Labels: wip, DO NOT MERGE, Kommander, Konvoy, konvoy 2.2, Kommander 2.2

#4308 docs: Restructure upgrade path table
  pages/dkp/kommander/2.2/dkp-upgrade/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/index.md
Labels: DKP 2.2

#4331 docs: Update spark permissions
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/spark/index.md
  pages/dkp/kommander/2.2/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/spark/index.md
Labels: ready to merge, Kommander 2.1, DKP 2.2, DKP 2.1.1, Kommander 2.2

#4338 Update Kaptain configuration page
  pages/dkp/kaptain/2.0.0/configuration/index.md
Labels: ready to merge, Kaptain, Kaptain 2.0

#4335 update kaptain generated docs
  pages/dkp/kaptain/2.0.0/sdk/1.0.x/api/index.md
Labels: Kaptain, Kaptain 2.0

#4307 docs: add the missing label value
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
Labels: ready to merge, DKP 2.2, Kommander 2.2

#4343 [DOC][Konvoy 2.2] indentation errors causing procedure numbering in 4 topics
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/air-gapped/create-capi-vm-image/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/air-gapped/explore/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/create-capi-vm-image/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/explore/index.md
Labels: ready to merge, konvoy 2.2, documentation

#4332 [Insights] Added the Tech preview information
  pages/dkp/kommander/2.2/insights/index.md
  pages/dkp/kommander/2.2/legal/version-policy/index.md
Labels: DKP 2.2

#4340 [Kaptain]: Managed and Attached clusters support
  pages/dkp/kaptain/2.0.0/install/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4354 Quick URL fix
  pages/dkp/kommander/2.2/insights/index.md
Labels: DKP 2.2

#4346 [kommander] Move ws upgrade section to correct ws page instead of project
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/projects/applications/platform-applications/index.md
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/index.md
Labels: Kommander 2.2

#4357 More locations about clusters for AKS per Dev
  pages/dkp/konvoy/2.1/choose-infrastructure/aks/aks-quickstart/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aks/aks-quickstart/index.md
Labels: DKP 2.2, DKP 2.1.1

#4342 [kommander] Add and update mgmt/platform app tables
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/index.md
  pages/dkp/kommander/2.1/workspaces/applications/platform-applications/platform-application-requirements/index.md
  pages/dkp/kommander/2.2/install/mgmt-cluster-apps/index.md
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/platform-application-requirements/index.md
Labels: Kommander 2.1, Kommander 2.2

#4350 docs: fixing yaml and spelling for linter
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/air-gapped/explore/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/explore/index.md
Labels: ready to merge, Konvoy, konvoy 2.2, DKP 2.2

#4349 Update Insight to Insights
  pages/dkp/kommander/2.2/insights/insights-licensing/index.md
Labels: DKP 2.2, insights

#4216 fix: updates to support arm64 machines
  .node-version
  README.md
  ci/clean-up-buckets.sh
  ci/deploy.sh
  docker/Dockerfile
  docker/Dockerfile.production
  package-lock.json
  package.json
  scss/vendor/_typebase.scss
Labels: ready to merge, DO NOT MERGE, doc tools

#4360 chore: adding gitea lowercase in accept words
  .github/styles/Vocab/Docs/accept.txt
Labels: ready to merge, doc tools, documentation

#4359 fix invalid markdown crashing vale
  pages/dkp/kaptain/1.2.0/install/konvoy/index.md
  pages/dkp/kaptain/1.2.0/upgrade/index.md
  pages/dkp/kaptain/1.3.0/install/konvoy-dkp/index.md
Labels: Kaptain, Kaptain 2.0

#4361 docs: Fix 2.0 broken konv airgapped links
  pages/dkp/kommander/2.0/install/air-gapped/index.md
Labels: Kommander 2.0

#4345 [Kaptain] Update Commands for Dex Client Creation
  pages/dkp/kaptain/2.0.0/configuration/external-dex/index.md
Labels: Kaptain, Kaptain 2.0

#4348 Co/version policy
  pages/dkp/kommander/2.2/legal/version-policy/index.md
  pages/dkp/konvoy/2.2/legal/version-policy/index.md
Labels: ready to merge, DKP 2.2

#4363 [Kaptain] Fixing install links
  pages/dkp/kaptain/2.0.0/install/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4347 docs: adds prereqs from dkp 1.x to 2.2
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites/index.md
Labels: ready to merge, DKP 2.2

#4364 docs: updating flatcar
  pages/dkp/konvoy/2.2/supported-operating-systems/index.md
Labels: ready to merge, Konvoy, konvoy 2.2, DKP 2.2, documentation

#4368 [Kaptain] Fixed links & fine-tuning
  pages/dkp/kaptain/2.0.0/install/deploy-kaptain/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/install/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4372 Ychen/fix spark workaround steps fix yaml
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/index.md
Labels: ready to merge

#4371 Adding Kaptain info in Kommander docs
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.2/workspaces/applications/catalog-applications/dkp-applications/kaptain/index.md
Labels: Kaptain, DKP 2.2, documentation, Kommander 2.2, Kaptain 2.0

#4370 setupRBAC_Jira78938
  pages/dkp/konvoy/1.6/access-authentication/install-rbac/index.md
  pages/dkp/konvoy/1.7/access-authentication/install-rbac/index.md
  pages/dkp/konvoy/1.8/access-authentication/install-rbac/index.md
Labels: Konvoy 1.8.5

#4367 Remove kudo commands from troubleshooting
  pages/dkp/kaptain/2.0.0/install/air-gapped-dkp/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/secrets-management/index.md
  pages/dkp/kaptain/2.0.0/troubleshooting/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4373 [Kaptain] fixed dropdown menu order
  layouts/kaptain-docs-landing.pug
  pages/dkp/kaptain/1.2.0/index.md
  pages/dkp/kaptain/1.3.0/index.md
  pages/dkp/kaptain/2.0.0/index.md
  pages/dkp/kaptain/index.md
Labels: Kaptain, Kaptain 2.0

#4366 [Kaptain]: on-prem install & fixing menu weights
  pages/dkp/kaptain/2.0.0/install/deploy-kaptain/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/install/on-premise/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4365 docs: fix spark workaround steps
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/index.md
Labels: ready to merge, DKP 2.2, Kommander 2.2

#4369 Update operations docs
  pages/dkp/kaptain/2.0.0/operations/minio/index.md
  pages/dkp/kaptain/2.0.0/operations/mysql-cluster/index.md
Labels: ready to merge, Kaptain, Kaptain 2.0

#4380 [Kaptain]: Knative is optional if KServe is configured to work in `RawDeployment` mode
  pages/dkp/kaptain/2.0.0/configuration/auto-cleanup-settings/index.md
  pages/dkp/kaptain/2.0.0/sdk/1.0.x/troubleshooting/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4352 Instructions for migrating Kaptain to 2.0.0
  pages/dkp/kaptain/1.3.0/uninstall/index.md
  pages/dkp/kaptain/2.0.0/fresh-install/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4383 Remove helm instructions, update endpoint discovery commands
  pages/dkp/kaptain/2.0.0/configuration/external-dex/index.md
Labels: Kaptain, Kaptain 2.0

#4385 [Kaptain] Updating compatibility index for SDK
  pages/dkp/kaptain/2.0.0/sdk/compatibility/index.md
Labels: Kaptain, documentation, Kaptain 2.0, SDK

#4377 Update kaptain 2.0 version policy
  pages/dkp/kaptain/2.0.0/version-policy/index.md
Labels: Kaptain, Kaptain 2.0

#4382 Re-generate tutorials and chart configuration docs
  pages/dkp/kaptain/2.0.0/configuration/index.md
  pages/dkp/kaptain/2.0.0/tutorials/katib/index.md
  pages/dkp/kaptain/2.0.0/tutorials/pipelines/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/image-builder/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/quick-start/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/tensorflow/index.md
  pages/dkp/kaptain/2.0.0/tutorials/training/mxnet/index.md
  pages/dkp/kaptain/2.0.0/tutorials/training/pytorch/index.md
  pages/dkp/kaptain/2.0.0/tutorials/training/spark/index.md
  pages/dkp/kaptain/2.0.0/tutorials/training/tensorflow/index.md
Labels: ready to merge, Kaptain, Kaptain 2.0

#4386 REDO: addressing Alex's comment
  pages/dkp/kaptain/2.0.0/sdk/compatibility/index.md
Labels: Kaptain, documentation, Kaptain 2.0, SDK

#4388 Removes invalid hyperlink.
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.1/image-builder/override-files/create-custom-or-files/container-image-or-files/index.md
Labels: Konvoy 2.1, cops, documentation

#4387 updating URL link that's broken
  pages/dkp/kommander/2.2/projects/applications/platform-applications/index.md
Labels: DKP 2.2

#4393 Deleting Konvoy 1.x references
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/install/index.md
  pages/dkp/kaptain/2.0.0/install/on-premise/index.md
  pages/dkp/kaptain/2.0.0/monitoring/index.md
  pages/dkp/kaptain/2.0.0/user-management/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4396 docs: Add section on configuring dex token expiration
  pages/dkp/kommander/2.1/security/oidc/index.md
  pages/dkp/kommander/2.2/security/oidc/index.md
Labels: Kommander 2.1, DKP 2.2, Kommander 2.2

#4394 [Kaptain] - fixed notes
  pages/dkp/kaptain/2.0.0/sdk/1.0.x/credentials/index.md
  pages/dkp/kaptain/2.0.0/sdk/1.0.x/troubleshooting/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/quick-start/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/tensorflow/index.md
  pages/dkp/kaptain/2.0.0/tutorials/training/tensorflow/index.md
Labels: Kaptain 2.0

#4378 Kaptain 2.0.0 Release Notes
  pages/dkp/kaptain/2.0.0/release-notes/1.3.0/index.md
  pages/dkp/kaptain/2.0.0/release-notes/2.0.0/index.md
Labels: Kaptain, Kaptain 2.0

#4389 Make instructions for mysql backup a bit more foolproof
  pages/dkp/kaptain/1.2.0/operations/mysql-cluster/index.md
  pages/dkp/kaptain/1.3.0/operations/mysql-cluster/index.md
  pages/dkp/kaptain/2.0.0/operations/mysql-cluster/index.md
Labels: Kaptain 2.0

#4400 [kommander] docs: Add line to review app requirements on install/config pages
  pages/dkp/kommander/2.2/clusters/attach-cluster/requirements-for-attaching/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.2/install/configuration/index.md
  pages/dkp/kommander/2.2/install/networked/index.md
Labels: Kommander, Kommander 2.2

#4407 [Kaptain] Updated 1.3 and 2.0 OSS Dependencies
  pages/dkp/kaptain/1.3.0/legal-notices/open-source-attribution/index.md
  pages/dkp/kaptain/2.0.0/legal-notices/open-source-attribution/index.md
Labels: Kaptain, documentation, Kaptain 2.0

#4390 adding common name to tables
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.0/workspaces/workspace-platform-services/index.md
  pages/dkp/kommander/2.1/workspaces/applications/platform-applications/index.md
  pages/dkp/kommander/2.2/install/mgmt-cluster-apps/index.md
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/index.md
  pages/dkp/konvoy/2.2/release-notes/index.md
Labels: DKP 2.2, cops

#4362 [Kaptain] air-gapped install
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-dkp/index.md
  pages/dkp/kaptain/2.0.0/install/deploy-kaptain/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/install/index.md
Labels: ready to merge, Kaptain, documentation, Kaptain 2.0

#4375 Add Kaptain to DKP 2.2 release notes and enable Kaptain Docs
  config.json
  index.js
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/index.md
  s3config.json
Labels: ready to merge, Kaptain, GA, Kaptain 2.0

#4411 [Kaptain] Fixing references, links and typos
  pages/dkp/kaptain/2.0.0/download/index.md
  pages/dkp/kaptain/2.0.0/fresh-install/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
  pages/dkp/kaptain/2.0.0/install/deploy-kaptain/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/install/index.md
Labels: documentation, Kaptain 2.0

#4358 [Konvoy COPS 7154] Backporting 2.2 air-gapped bundle changes to 2.1
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/bootstrap/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/prerequisites/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/gpu/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/create-cluster/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/define-infrastructure/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/prerequisites/index.md
  pages/dkp/konvoy/2.1/image-builder/create-ami/index.md
Labels: cops, DKP 2.1.1

#4413 [Konvoy] Hotfix add->replace scripting/steps for registry seeding
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
Labels: Konvoy 2.1

#4392 docs: Fix migration table and link
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/index.md
Labels: Kommander 2.1

#4412 [Kaptain] Fixing all menu weights to show latest to oldest
  pages/dkp/kaptain/1.2.0-1.0.0/index.md
  pages/dkp/kaptain/1.2.0-1.1.0/index.md
  pages/dkp/kaptain/1.2.0/index.md
  pages/dkp/kaptain/1.3.0/index.md
  pages/dkp/kaptain/2.0.0/index.md
  pages/dkp/kommander/1.2/index.md
  pages/dkp/kommander/1.3/index.md
  pages/dkp/kommander/1.4/index.md
  pages/dkp/kommander/2.0/index.md
  pages/dkp/kommander/2.1/index.md
  pages/dkp/kommander/2.2/index.md
  pages/dkp/konvoy/1.6/index.md
  pages/dkp/konvoy/1.7/index.md
  pages/dkp/konvoy/1.8/index.md
  pages/dkp/konvoy/2.0/index.md
  pages/dkp/konvoy/2.1/index.md
  pages/dkp/konvoy/2.2/index.md
Labels: wip, Kaptain, documentation

#4414 [Konvoy 2.x] Uninstall Note
  pages/dkp/konvoy/2.0/choose_infrastructure/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/index.md
Labels: Konvoy 2.0, Konvoy 2.1, konvoy 2.2

#4416 Updating k8s version to be v1.22.8 in FIPS docs
  pages/dkp/konvoy/2.2/fips/index.md
Labels: ready to merge, Konvoy, konvoy 2.2, DKP 2.2

#4409 Qa/preprov oracle linux 7 qual
  pages/dkp/konvoy/2.2/supported-operating-systems/index.md
Labels: ready to merge, Konvoy, konvoy 2.2, DKP 2.2

#4379 JIRA78899 Arch Diag and Install parity
  pages/dkp/konvoy/1.8/concepts/index.md
  pages/dkp/konvoy/2.2/Install/index.md
  pages/dkp/konvoy/2.2/architecture/index.md
  pages/dkp/konvoy/2.2/img/DKP2ArchDiag.png
Labels: konvoy 2.2, DKP 2.2

#4417 [Kaptain] Fixing broken links from 1.2 documentation (cops)
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kaptain/1.2.0/custom-configuration/external-dex/index.md
  pages/dkp/kaptain/1.2.0/download/index.md
  pages/dkp/kaptain/1.2.0/install/konvoy/index.md
  pages/dkp/kaptain/1.2.0/install/on-premise/index.md
  pages/dkp/kaptain/1.2.0/monitoring/index.md
  pages/dkp/kaptain/1.2.0/sdk/0.3.x/private-registries/index.md
  pages/dkp/kaptain/1.2.0/sdk/0.4.x/private-registries/index.md
  pages/dkp/kaptain/1.2.0/tutorials/katib/index.md
  pages/dkp/kaptain/1.2.0/tutorials/pipelines/index.md
  pages/dkp/kaptain/1.2.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/1.2.0/tutorials/sdk/tensorflow/index.md
  pages/dkp/kaptain/1.2.0/user-management/index.md
  pages/dkp/konvoy/2.2/Install/index.md
Labels: Kaptain, cops, documentation, Kaptain 1.2
