Repository mesosphere/dcos-docs-site, pull requests merged in 2022-06, with the labels that each got.

#4456 [Komm]: bundles not compressed anymore
  pages/dkp/kommander/2.3/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.3/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.3/install/air-gapped/index.md
  pages/dkp/kommander/2.3/install/configuration/enterprise-catalog/index.md
Labels: DKP 2.3, Kommander 2.3

#4506 [Kommander] Updating supported Kubernetes versions in DKP 2.3
  pages/dkp/kommander/2.3/clusters/attach-cluster/requirements-for-attaching/index.md
  pages/dkp/kommander/2.3/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.3/projects/applications/catalog-applications/upgrading-applications/index.md
  pages/dkp/kommander/2.3/release-notes/2.3.0/index.md
  pages/dkp/kommander/2.3/workspaces/applications/catalog-applications/upgrading-applications/index.md
  pages/dkp/konvoy/2.3/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/konvoy/2.3/release-notes/2.3.0/index.md
Labels: documentation, DKP 2.3, Kommander 2.3

#4502 2.2.1 patch -- Updated Download links to v2.1.1
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/download/index.md
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.2/install/configuration/enterprise-catalog/index.md
  pages/dkp/kommander/2.2/workspaces/applications/catalog-applications/dkp-applications/index.md
  pages/dkp/kommander/2.3/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/air-gapped/create-bastion-vm/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/konvoy/2.2/download/index.md
  pages/dkp/konvoy/2.2/image-builder/override-files/create-custom-or-files/container-image-or-files/index.md
Labels: DO NOT MERGE, DKP 2.2

#4475 2.2.1 Release Notes Draft
  pages/dkp/kommander/2.2/release-notes/2.2.1/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.1/index.md
Labels: DKP 2.2, documentation

#4513 2.2.1 Release Notes fixes
  pages/dkp/kommander/2.2/release-notes/2.2.1/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.1/index.md
Labels: DKP 2.2

#4428 [Kommander] 2.1.2 Release Notes
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.1/release-notes/2.1.2/index.md
Labels: Kommander 2.1, documentation

#4516 [Konvoy 2.1.2] Release Notes
  pages/dkp/konvoy/2.1/release-notes/2.1.2/index.md
Labels: Konvoy 2.1.2

#4517 Change Docker CLI for Registry mirror
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/create-cluster/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/pre-provisioned/create-cluster/index.md
Labels: DKP 2.2, DKP 2.3

#4520 updating cli command dkp diagnose
  pages/dkp/konvoy/2.2/troubleshooting/generate-a-support-bundle/index.md
Labels: DKP 2.2

#4515 Fixing Instructions for GCP Quick Start
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/quick-start-gcp/index.md
Labels: DKP 2.3

#4524 updating yaml name in file
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/create-secrets-and-overrides/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/create-secrets-and-overrides/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/pre-provisioned/create-secrets-and-overrides/index.md
Labels: DKP 2.2, DKP 2.1.1, DKP 2.3

#4490 [Kommander] New topic on AppDeployments
  pages/dkp/kommander/2.2/projects/applications/appdeployments/index.md
  pages/dkp/kommander/2.2/workspaces/applications/appdeployments/index.md
  pages/dkp/kommander/2.3/projects/applications/appdeployments/index.md
  pages/dkp/kommander/2.3/workspaces/applications/appdeployments/index.md
Labels: Kommander, Kommander 2.2, Kommander 2.3

#4522 docs: updates to gcp quickstart
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/quick-start-gcp/index.md
Labels: DKP 2.3, Konvoy 2.3

#4532 New DKP graphic
  pages/dkp/kommander/2.2/img/dkp_platform2.png
  pages/dkp/kommander/2.2/img/platform_diagram_dark.png
  pages/dkp/kommander/2.2/introduction/index.md
  pages/dkp/kommander/2.3/img/dkp_platform2.png
  pages/dkp/kommander/2.3/img/platform_diagram_dark.png
  pages/dkp/kommander/2.3/introduction/index.md
  pages/dkp/konvoy/2.2/img/dkp_platform2.png
  pages/dkp/konvoy/2.2/img/platform_diagram_dark.png
  pages/dkp/konvoy/2.2/intro-dkp/index.md
  pages/dkp/konvoy/2.3/img/dkp_platform2.png
  pages/dkp/konvoy/2.3/img/platform_diagram_dark.png
  pages/dkp/konvoy/2.3/intro-dkp/index.md
Labels: DKP 2.2, DKP 2.3

#4534 Adding minimal permissions role for vSphere
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/prerequisites/permissions/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/prerequisites/permissions/index.md
Labels: DKP 2.2, DKP 2.3

#4529 updating quotes 2
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/quick-start-azure/index.md
Labels: DKP 2.1.1

#4535 Insights DKP 2.2.1 Release Notes.
  pages/dkp/kommander/2.2/release-notes/2.2.1/index.md
Labels: DKP 2.2

#4521 Worker node req Essential vs Enterpr
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/replace-node/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/azure/advanced/prerequisites/index.md
Labels: DKP 2.2, DKP 2.3

#4536 [Kaptain] Moving login section
  pages/dkp/kaptain/2.0.0/configuration/external-dex/index.md
  pages/dkp/kaptain/2.0.0/install/deploy-kaptain/index.md
  pages/dkp/kaptain/2.1.0/configuration/external-dex/index.md
  pages/dkp/kaptain/2.1.0/install/deploy-kaptain/index.md
Labels: documentation, Kaptain 2.0, Kaptain 2.1

#4537 Fixing broken links
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/prerequisites/permissions/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/prerequisites/permissions/index.md
Labels: DKP 2.2, DKP 2.3

#4528 updating quotes
  pages/dkp/konvoy/2.1/choose-infrastructure/aks/aks-quickstart/index.md
Labels: DKP 2.1.1

#4539 Quick Component Update to release Notes.
  pages/dkp/kommander/2.2/release-notes/2.2.1/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.1/index.md
Labels: DKP 2.2

#4527 fix: improve groups explanations
  pages/dkp/kommander/2.2/operations/access-control/index.md
  pages/dkp/kommander/2.2/operations/identity-providers/index.md
  pages/dkp/kommander/2.2/projects/project-policies/index.md
  pages/dkp/kommander/2.2/workspaces/workspace-role-bindings/index.md
  pages/dkp/kommander/2.3/operations/access-control/index.md
  pages/dkp/kommander/2.3/operations/identity-providers/index.md
  pages/dkp/kommander/2.3/projects/project-policies/index.md
  pages/dkp/kommander/2.3/workspaces/workspace-role-bindings/index.md
Labels: DKP 2.2, DKP 2.3

#4540 Adding default storage driver for Azure in storage
  pages/dkp/konvoy/2.1/storage/automated-storage/index.md
  pages/dkp/konvoy/2.2/storage/automated-storage/index.md
  pages/dkp/konvoy/2.3/storage/automated-storage/index.md
Labels: DKP 2.2, DKP 2.1.1, DKP 2.3

#4544 fix: kommander upgrade not supported in migration
  pages/dkp/konvoy/2.1/major-version-upgrade/understand-standard-config/index.md
Labels: Kommander, Konvoy

#4541 Qa/vsphere edits builds
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/create-base-os-image/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/delete/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/explore/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/self-managed/index.md
Labels: ready to merge, konvoy 2.2, DKP 2.2

#4545 [Kaptain] cert-manager workaround
  pages/dkp/kaptain/1.3.0/release-notes/1.3.0/index.md
  pages/dkp/kaptain/2.0.0/release-notes/2.0.0/index.md
Labels: Kaptain, documentation, Kaptain 2.0, kaptain 1.3

#4543 [Kommander] COPS-7308: adding more info on how to apply overrides
  pages/dkp/kommander/2.1/backup-and-restore/index.md
  pages/dkp/kommander/2.2/backup-and-restore/index.md
  pages/dkp/kommander/2.3/backup-and-restore/index.md
Labels: Kommander, documentation

#4549 RBAC command change for secrets controller
  pages/dkp/kommander/2.2/tutorials/continuous-delivery/storing-secrets-with-gitops/index.md
  pages/dkp/kommander/2.3/tutorials/continuous-delivery/storing-secrets-with-gitops/index.md
Labels: DKP 2.2, DKP 2.3

#4552 [Kaptain] REDO: adding cert-manager workaround to 2.1 docs
  pages/dkp/kaptain/2.0.0/release-notes/2.0.0/index.md
  pages/dkp/kaptain/2.1.0/release-notes/2.1.0/index.md
Labels: Kaptain, documentation

#4550 vSphere yaml variable specifics for KIB
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/create-capi-vm-image/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/create-capi-vm-image/index.md
Labels: DKP 2.2, DKP 2.3

#4555 chore: update ldap configuration to dex v2.31.0
  pages/dkp/kommander/2.2/operations/identity-providers/ldap/index.md
Labels: Kaptain
