Repository mesosphere/dcos-docs-site, pull requests merged in 2022-05, with the labels that each got.

#4420 Update index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
Labels: Kaptain 2.0

#4422 [DKP] New DKP Introduction section
  pages/dkp/kommander/2.2/img/dkp_platform2.png
  pages/dkp/kommander/2.2/introduction/index.md
  pages/dkp/kommander/2.2/release-notes/index.md
  pages/dkp/konvoy/2.2/img/dkp_platform2.png
  pages/dkp/konvoy/2.2/intro-dkp/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/index.md
Labels: DKP 2.2, documentation

#4429 JIRS87530 Other InfraStr Examples
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-konvoy/essential/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/essential/index.md
Labels: DKP 2.2

#4421 [Kaptain] COPS-7232 profile creation
  pages/dkp/kaptain/1.3.0/user-management/index.md
Labels: documentation, kaptain 1.3

#4424 Upgrade CAPI commands if from 1.8 to 2.1 first
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/enterprise/index.md
Labels: DKP 2.2, copy needed

#4425 Document work around for bug 88839
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/essential/index.md
Labels: DKP 2.2

#4430 Update sdk release notes to reflect 1.0.1 changes
  pages/dkp/kaptain/2.0.0/sdk/1.0.x/release-notes/index.md
Labels: Kaptain 2.0

#4431 Fixed Azure and AKS support in the 2.2 Docs
  pages/dkp/konvoy/2.2/supported-operating-systems/index.md
Labels: DKP 2.2

#4426 COPS-7168 - backport 2 pages to Kommander 2.1
  pages/dkp/kommander/2.1/install/mgmt-cluster-apps/index.md
  pages/dkp/kommander/2.1/workspaces/applications/platform-applications/platform-application-requirements/index.md
Labels: ready to merge, Kommander 2.1

#4435 fix: redirect for broken UI links
  s3config.json
Labels: doc tools

#4439 add broken Homebrew link
  pages/dkp/konvoy/2.2/Install/index.md
Labels: DKP 2.2

#4432 [Komm] Adding a topic on minimal installation for bug and cops
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.1/install/configuration/index.md
  pages/dkp/kommander/2.1/install/small-environment/index.md
  pages/dkp/kommander/2.2/install/configuration/index.md
  pages/dkp/kommander/2.2/install/small-environment/index.md
  pages/dkp/kommander/2.3/install/configuration/index.md
  pages/dkp/kommander/2.3/install/small-environment/index.md
Labels: Kommander 2.1, cops, documentation, Kommander 2.2, Kommander 2.3

#4441 Changed SLES 15 to SP3 link
  pages/dkp/konvoy/2.2/supported-operating-systems/index.md
  pages/dkp/konvoy/2.3/supported-operating-systems/index.md
Labels: DKP 2.2, DKP 2.3

#4440 Adding Ubuntu instead of CentOS
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/quick-start-azure/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/azure/quick-start-azure/index.md
Labels: DKP 2.2, DKP 2.3

#4446 Adding Homebrew link to 23
  pages/dkp/konvoy/2.2/Install/index.md
  pages/dkp/konvoy/2.3/Install/index.md
Labels: DKP 2.3

#4443 [Kommander 2.2] Integrate Microservices using istio
  pages/dkp/kommander/2.2/networking/use-istio/index.md
  pages/dkp/kommander/2.3/networking/use-istio/index.md
Labels: Kommander 2.2, Kommander 2.3

#4449 Fixed RHEL 8.4 kernal version name
  pages/dkp/konvoy/2.2/supported-operating-systems/index.md
Labels: DKP 2.2

#4451 adding the changes from 2.2 into 2.3 as well.
  pages/dkp/konvoy/2.3/supported-operating-systems/index.md
Labels: DKP 2.3

#4454 D2IQ-88102: add `allowMultipleInstaces` key to catalog applications
  pages/dkp/kommander/2.3/projects/applications/catalog-applications/custom-applications/application-metadata/index.md
  pages/dkp/kommander/2.3/workspaces/applications/catalog-applications/custom-applications/application-metadata/index.md
Labels: DKP 2.3, Kommander 2.3

#4436 DKP 2.2 Release Notes correction
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.0/index.md
Labels: DO NOT MERGE, DKP 2.2, documentation

#4448 COPS7213 Cluster naming
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/advanced/new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/advanced/new/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/air-gapped/new/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/quick-start-aws/index.md
Labels: DKP 2.2, DKP 2.1.1, DKP 2.3

#4459 Fixing menuweights
  pages/dkp/kommander/2.3/index.md
  pages/dkp/konvoy/2.3/index.md
Labels: DKP 2.3, Kommander 2.3

#4457 fix: HTTP proxy configuration in 2.2.0+ version
  pages/dkp/kommander/2.1/install/configuration/http-proxy/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/install/configuration/http-proxy/index.md
  pages/dkp/kommander/2.3/install/configuration/http-proxy/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-kommander/index.md
Labels: Kommander 2.1, DKP 2.2, documentation, DKP 2.1.1, Kommander 2.2, DKP 2.3, Kommander 2.3

#4464 fix: use fixed layout for table and break words in tables
  scss/base/_table.scss
Labels: needs eng review

#4460 [DKP] Added supported Kubernetes versions to DKP apps table
  pages/dkp/kommander/2.2/workspaces/applications/catalog-applications/dkp-applications/index.md
  pages/dkp/kommander/2.3/workspaces/applications/catalog-applications/dkp-applications/index.md
Labels: DKP 2.2, documentation, DKP 2.3

#4453 Add minio attributions to newest versions of Konvoy, Kommander, and Kaptain
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.2/download/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.2/download/index.md
Labels: DO NOT MERGE

#4466 changing archive references
  pages/dkp/kommander/1.4/archives/index.md
  pages/dkp/kommander/2.0/archives/index.md
  pages/dkp/kommander/2.1/archives/index.md
  pages/dkp/kommander/2.2/archives/index.md
  pages/dkp/kommander/2.3/archives/index.md
  pages/dkp/konvoy/1.6/archives/index.md
  pages/dkp/konvoy/1.8/archives/index.md
  pages/dkp/konvoy/2.0/archives/index.md
  pages/dkp/konvoy/2.1/archives/index.md
  pages/dkp/konvoy/2.2/archives/index.md
  pages/dkp/konvoy/2.3/archives/index.md
  pages/mesosphere/dcos/2.2/archives/index.md
Labels: DKP 2.2, DKP 2.1.1, DKP 2.3

#4455 docs: adds section on encapsulation
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/create-cluster/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/pre-provisioned/create-cluster/index.md
Labels: DKP 2.2, DKP 2.3

#4463 fix: Add instructions on how to disable Insights Management Component.
  pages/dkp/kommander/2.2/insights/index.md
  pages/dkp/kommander/2.2/insights/insights-setup/index.md
  pages/dkp/kommander/2.3/insights/index.md
  pages/dkp/kommander/2.3/insights/insights-setup/index.md
Labels: DKP 2.2, DKP 2.3

#4470 Added MinIO attributions for all download links
  pages/dkp/kaptain/1.2.0/download/index.md
  pages/dkp/kaptain/1.3.0/download/index.md
  pages/dkp/kaptain/2.0.0/download/index.md
  pages/dkp/kommander/2.1/download/index.md
  pages/dkp/kommander/2.1/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.1/install/air-gapped/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/download/index.md
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.2/install/configuration/enterprise-catalog/index.md
  pages/dkp/konvoy/1.8/download/index.md
  pages/dkp/konvoy/1.8/install/install-gcp/advanced-provisioning/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.1/download/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.2/download/index.md
Labels: DKP 2.2, DKP 2.1.1, Kaptain 2.0, Kaptain 1.2, kaptain 1.3, DKP 2.3, Kaptain 2.1

#4472 Updated ssh flag
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/new/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/new/index.md
Labels: DO NOT MERGE, konvoy 2.2, DKP 2.2, DKP 2.3

#4477 Added GCP Structure
  pages/dkp/konvoy/2.3/Install/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aks/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/eks/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/advanced/delete/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/advanced/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/advanced/new/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/advanced/self-managed/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/quick-start-gcp/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/index.md
  pages/dkp/konvoy/2.3/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/konvoy/2.3/dkp-upgrade/upgrade-konvoy/essential/index.md
  pages/dkp/konvoy/2.3/release-notes/2.3.0/index.md
Labels: DKP 2.3

#4480 Archiving Kaptain Docs
  pages/dkp/kaptain/1.2.0/archive/index.md
  pages/dkp/kaptain/1.3.0/archive/index.md
  pages/dkp/kaptain/2.0.0/archive/index.md
  pages/dkp/kaptain/2.1.0/archive/index.md
Labels: DO NOT MERGE, Kaptain

#4479 Download errant command line in 2x
  pages/dkp/konvoy/2.2/download/index.md
Labels: DKP 2.2, DKP 2.3

#4485 MinIO UpdateLegal Konvoy
  pages/dkp/konvoy/1.8/access-authentication/credentials-plugin/index.md
  pages/dkp/konvoy/1.8/cli-tools/helm/index.md
  pages/dkp/konvoy/1.8/cli/command-line-interface/konvoy-diagnose/index.md
  pages/dkp/konvoy/1.8/download/index.md
  pages/dkp/konvoy/1.8/gpu/index.md
  pages/dkp/konvoy/1.8/install/install-airgapped/index.md
  pages/dkp/konvoy/1.8/install/install-azure/index.md
  pages/dkp/konvoy/1.8/install/install-gcp/advanced-provisioning/index.md
  pages/dkp/konvoy/1.8/install/install-vsphere/index.md
  pages/dkp/konvoy/1.8/networking/required-domains/index.md
  pages/dkp/konvoy/1.8/release-notes/1.8.0/index.md
  pages/dkp/konvoy/1.8/release-notes/1.8.3/index.md
  pages/dkp/konvoy/1.8/release-notes/1.8.4/index.md
  pages/dkp/konvoy/1.8/release-notes/1.8.5/index.md
  pages/dkp/konvoy/2.0/choose_infrastructure/pre-provisioned/prerequisites/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.1/download/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.2/download/index.md
Labels: Konvoy 2.0, Konvoy 2.1, konvoy 2.2, Konvoy 1.8.5

#4483 [Kommander] MinIO attributions in download locations
  pages/dkp/kommander/1.4/install-airgapped/index.md
  pages/dkp/kommander/1.4/install/index.md
  pages/dkp/kommander/2.0/install/air-gapped/index.md
  pages/dkp/kommander/2.1/download/index.md
  pages/dkp/kommander/2.1/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.1/install/air-gapped/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/download/index.md
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.3/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.3/download/index.md
  pages/dkp/kommander/2.3/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.3/install/air-gapped/index.md
  pages/dkp/kommander/2.3/install/configuration/enterprise-catalog/index.md
Labels: DO NOT MERGE, Kommander 2.1, Kommander 2.2, Kommander 2.3, Kommander 1.4

#4487 Adding upgrade image info for both AWS and Azure
  pages/dkp/konvoy/2.3/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/konvoy/2.3/dkp-upgrade/upgrade-konvoy/essential/index.md
Labels: DKP 2.3

#4486 [Kaptain] Tutorial legal Attributions
  pages/dkp/kaptain/1.2.0/tutorials/pipelines/index.md
  pages/dkp/kaptain/1.2.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/1.2.0/tutorials/sdk/tensorflow/index.md
  pages/dkp/kaptain/1.3.0/tutorials/pipelines/index.md
  pages/dkp/kaptain/1.3.0/tutorials/sdk/image-builder/index.md
  pages/dkp/kaptain/1.3.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/1.3.0/tutorials/sdk/quick-start/index.md
  pages/dkp/kaptain/1.3.0/tutorials/sdk/tensorflow/index.md
  pages/dkp/kaptain/2.0.0/tutorials/pipelines/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/image-builder/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/quick-start/index.md
  pages/dkp/kaptain/2.0.0/tutorials/sdk/tensorflow/index.md
  pages/dkp/kaptain/2.1.0/tutorials/pipelines/index.md
  pages/dkp/kaptain/2.1.0/tutorials/sdk/image-builder/index.md
  pages/dkp/kaptain/2.1.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/2.1.0/tutorials/sdk/quick-start/index.md
  pages/dkp/kaptain/2.1.0/tutorials/sdk/tensorflow/index.md
Labels: Kaptain 2.0, Kaptain 1.2, kaptain 1.3, Kaptain 2.1

#4482 [Kaptain]: MinIO -> changing notes and flagging tar files
  pages/dkp/kaptain/1.2.0/download/index.md
  pages/dkp/kaptain/1.3.0/download/index.md
  pages/dkp/kaptain/1.3.0/install/air-gapped-dkp/index.md
  pages/dkp/kaptain/2.0.0/download/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
  pages/dkp/kaptain/2.1.0/download/index.md
  pages/dkp/kaptain/2.1.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.1.0/install/air-gapped-2.2/index.md
Labels: Kaptain 2.0, Kaptain 1.2, kaptain 1.3

#4488 kommander: fix bad wget | tar snippets
  pages/dkp/kommander/2.0/install/air-gapped/index.md
  pages/dkp/kommander/2.0/install/http-proxy/index.md
  pages/dkp/kommander/2.0/install/networked/index.md
  pages/dkp/kommander/2.1/install/air-gapped/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.3/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.3/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.3/install/air-gapped/index.md
Labels: Kommander, Konvoy, DKP 2.2, DKP 2.1.1

#4471 [Kaptain] requirements section
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/install/requirements/index.md
  pages/dkp/kaptain/2.1.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.1.0/install/air-gapped-2.2/index.md
  pages/dkp/kaptain/2.1.0/install/dkp/index.md
  pages/dkp/kaptain/2.1.0/install/requirements/index.md
Labels: DO NOT MERGE, Kaptain, documentation, Kaptain 2.0, Kaptain 2.1

#4494 [Kaptain/MinIO]: updating commands
  pages/dkp/kaptain/1.3.0/install/air-gapped-dkp/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
Labels: Kaptain

#4493 [Kommander] fixing yaml
  pages/dkp/kommander/2.2/install/small-environment/index.md
  pages/dkp/kommander/2.3/install/small-environment/index.md
Labels: Kommander 2.2, Kommander 2.3

#4497 Adding Update Bootstrap Command for GCP
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/advanced/explore/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/gcp/advanced/new/index.md
Labels: wip, DKP 2.3

#4500 Fix "registrationFlow" parameter
  pages/dkp/kaptain/2.0.0/user-management/index.md
  pages/dkp/kaptain/2.1.0/user-management/index.md
Labels: Kaptain, Kaptain 2.0, Kaptain 2.1

#4499 [Konvoy] adding missing files to upgrade docs]
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-konvoy/essential/index.md
Labels: DKP 2.2, DKP 2.3

#4501 docs: updating eks to specific kernel
  pages/dkp/konvoy/2.2/supported-operating-systems/index.md
Labels: ready to merge, konvoy 2.2, DKP 2.2

#4503 certificate_renewal doc correction
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/advanced/certificate_renewal/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/certificate_renewal/index.md
Labels: ready to merge, documentation, DKP 2.1.1, docs-site

#4478 Cert-manager workaround for 2.1.0 and 2.1.1
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.1/release-notes/2.1.0/index.md
  pages/dkp/kommander/2.1/release-notes/2.1.1/index.md
Labels: Kommander 2.1, documentation

#4496 docs: make metallb unmanaged in kommander upgrade correctly
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.3/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/konvoy/2.3/dkp-upgrade/upgrade-kommander/index.md
Labels: ready to merge, konvoy 2.2, Kommander 2.2
