Repository mesosphere/dcos-docs-site, pull requests merged in 2022-08, with the labels that each got.

#4601 konvoy: document details about upgrade with multiple AZs
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/aws/index.md
Labels: DO NOT MERGE

#4602 fix: AKS self managed fixes
  pages/dkp/konvoy/2.2/choose-infrastructure/aks/aks-advanced/index.md
Labels: Konvoy

#4603 KIB to DKP compatibility matrix
  pages/dkp/konvoy/2.2/image-builder/index.md
Labels: DKP 2.2

#4605 docs: Remove unused grafana-logging override
  pages/dkp/kommander/2.0/logging/enable-logging/create-appdeployment-workspace/index.md
  pages/dkp/kommander/2.1/logging/enable-logging/create-appdeployment-workspace/index.md
  pages/dkp/kommander/2.2/logging/enable-logging/create-appdeployment-workspace/index.md
  pages/dkp/kommander/2.3/logging/enable-logging/create-appdeployment-workspace/index.md
Labels: Kommander, Kommander 2.0, Kommander 2.1, Kommander 2.2, Kommander 2.3

#4604 Sortega/d2 iq 91320
  pages/dkp/konvoy/2.2/image-builder/override-files/create-custom-or-files/baseimage-or-files/index.md
Labels: DKP 2.2

#4608 FIPS Upgrade add to RN
  pages/dkp/konvoy/2.2/release-notes/2.2.0/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.1/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.2/index.md
Labels: DKP 2.2

#4607 Remove Bootstrap sections from AKS EKS
  pages/dkp/konvoy/2.2/choose-infrastructure/aks/aks-advanced/aa-bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aks/aks-advanced/aa-prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/self-managed/index.md
Labels: DKP 2.2

#4614 Updating upgrade path with link to new 2.3 version
  pages/dkp/konvoy/2.2/dkp-upgrade/index.md
Labels: DKP 2.2, cops

#4615 update upgrade paths.
  pages/dkp/konvoy/2.1/major-version-upgrade/index.md
Labels: cops, DKP 2.1.1

#4616 [Kap] Install pages improvements
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
  pages/dkp/kaptain/2.0.0/install/deploy-kaptain/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/install/index.md
  pages/dkp/kaptain/2.0.0/install/on-premise/index.md
  pages/dkp/kaptain/2.0.0/install/prerequisites/index.md
Labels: backport, Kaptain, Kaptain 2.0

#4619 adding 2.1 oses
  pages/dkp/konvoy/2.1/supported-operating-systems/index.md
Labels: DKP 2.1.1

#4613 [Incident] New Scale Up/Down Cluster Section
  pages/dkp/konvoy/2.0/choose_infrastructure/pre-provisioned/scaleup-scaledown/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/scaleup-scaledown/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/scaleup-scaledown/index.md
Labels: backport, Konvoy 2.1

#4611 2.1.3 Release Notes
  pages/dkp/kommander/2.1/release-notes/2.1.3/index.md
  pages/dkp/konvoy/2.1/release-notes/2.1.3/index.md
Labels: DKP 2.1.3

#4612 Backporting Air-gap install
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
Labels: backport, DKP 2.2

#4622 docs: fixing some links in release notes
  pages/dkp/kommander/2.1/release-notes/2.1.3/index.md
  pages/dkp/konvoy/2.1/release-notes/2.1.2/index.md
  pages/dkp/konvoy/2.1/release-notes/2.1.3/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.0/index.md
Labels: ready to merge, backport, Konvoy 2.1, Kommander 2.1, konvoy 2.2, DKP 2.1.3

#4621 docs: adding clarifying language to major upgrade
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/aws/index.md
  pages/dkp/konvoy/2.1/supported-operating-systems/index.md
Labels: ready to merge, Konvoy, backport, Konvoy 2.1
