Repository mesosphere/dcos-docs-site, pull requests merged in 2022-07, with the labels that each got.

#4553 [Kommander] custom domains and certificates for managed clusters
  pages/dkp/kommander/2.3/clusters/custom-domain-certificate/configuration/index.md
  pages/dkp/kommander/2.3/clusters/custom-domain-certificate/index.md
  pages/dkp/kommander/2.3/install/configuration/custom-domain/index.md
  pages/dkp/kommander/2.3/release-notes/2.3.0/index.md
Labels: Kommander, DKP 2.2, DKP 2.3

#4562 feat: add page with eks iam policies and roles
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/eks-cluster-iam-policies-and-roles/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/eks/advanced/eks-cluster-iam-policies-and-roles/index.md
Labels: DKP 2.2

#4564 Add AMI in new cluster
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/new/index.md
Labels: DKP 2.2

#4556 [Konvoy] Implement Kube 1.23 bump to docs site
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/advanced/explore/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/advanced/replace-node/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/nodepools/list/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/nodepools/scale/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/air-gapped/explore/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/explore/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/new/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/nodepools/list/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/replace-node/index.md
  pages/dkp/konvoy/2.3/dkp-upgrade/upgrade-konvoy/enterprise/index.md
  pages/dkp/konvoy/2.3/dkp-upgrade/upgrade-konvoy/essential/index.md
  pages/dkp/konvoy/2.3/fips/index.md
  pages/dkp/konvoy/2.3/fips/validate-fips-in-cluster/index.md
  pages/dkp/konvoy/2.3/image-builder/override-files/create-custom-or-files/container-image-or-files/index.md
  pages/dkp/konvoy/2.3/legal/version-policy/index.md
Labels: DO NOT MERGE, konvoy 2.2, Konvoy 2.3

#4566 adding secondary support section
  pages/dkp/kommander/2.1/legal/version-policy/index.md
  pages/dkp/kommander/2.2/legal/version-policy/index.md
  pages/dkp/konvoy/2.1/legal/version-policy/index.md
  pages/dkp/konvoy/2.2/legal/version-policy/index.md
Labels: DKP 2.2, DKP 2.1.1

#4565 Re-generate Kaptain docs
  pages/dkp/kaptain/2.1.0/configuration/index.md
  pages/dkp/kaptain/2.1.0/tutorials/katib/index.md
  pages/dkp/kaptain/2.1.0/tutorials/pipelines/index.md
  pages/dkp/kaptain/2.1.0/tutorials/sdk/image-builder/index.md
  pages/dkp/kaptain/2.1.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/2.1.0/tutorials/sdk/quick-start/index.md
  pages/dkp/kaptain/2.1.0/tutorials/sdk/tensorflow/index.md
  pages/dkp/kaptain/2.1.0/tutorials/training/mxnet/index.md
  pages/dkp/kaptain/2.1.0/tutorials/training/pytorch/index.md
  pages/dkp/kaptain/2.1.0/tutorials/training/spark/index.md
  pages/dkp/kaptain/2.1.0/tutorials/training/tensorflow/index.md
Labels: Kaptain

#4567 [DKP] Release Notes 2.2.2
  pages/dkp/konvoy/2.2/release-notes/2.2.2/index.md
Labels: DKP 2.2

#4557 [Konvoy] Documentation around configuring kube-vip
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/create-cluster/index.md
Labels: Konvoy

#4572 adding rn to kommander
  pages/dkp/kommander/2.2/release-notes/2.2.2/index.md
Labels: DKP 2.2

#4558 [Konvoy] Adding step to download containerd bundle for airgapped builds
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
Labels: konvoy 2.2, Konvoy 2.3

#4568 making note more visible
  pages/dkp/konvoy/2.1/major-version-upgrade/understand-standard-config/index.md
Labels: Konvoy 2.1, cops

#4570 bugfix: Wrong filename in vsphere download instructions
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/air-gapped/create-bastion-vm/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/vsphere/air-gapped/create-bastion-vm/index.md
Labels: DKP 2.2

#4576 adding packer builder type D2IQ-91418
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/air-gapped/create-capi-vm-image/index.md
Labels: needs eng review

#4571 [Kommander 2.2] Remove metal-lb from Kommander docs for 2.2+
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.2/networking/load-balancing/index.md
Labels: DKP 2.2, DKP 2.3

#4580 docs: extra spaces in dkp create cluster command
  pages/dkp/konvoy/2.3/choose-infrastructure/aws/quick-start-aws/index.md
Labels: Konvoy, DKP 2.3, Konvoy 2.3

#4573 [Kaptain]: NGC support
  pages/dkp/kaptain/2.1.0/tutorials/ngc/index.md
Labels: Kaptain, Kaptain 2.1

#4586 Backport Min Perm and Role for AWS Clustser Creation
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/permissions_role_create_cluster/index.md
Labels: DKP 2.2

#4589 GPU additional info
  pages/dkp/kommander/2.2/gpu/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/gpu/index.md
Labels: DKP 2.2

#4587 fix: Update DKP 2.2.2 app versions
  pages/dkp/kommander/2.2/release-notes/2.2.2/index.md
Labels: DKP 2.2

#4585 fix: Adding further details on how to build OS base image D2IQ-91249
  pages/dkp/konvoy/2.2/choose-infrastructure/vsphere/create-base-os-image/index.md
Labels: DKP 2.2

#4588 Qa/eks command cluster ready
  pages/dkp/konvoy/2.2/choose-infrastructure/aks/aks-advanced/aa-replace-node/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/eks-cluster-iam-policies-and-roles/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/replace-node/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/quick-start/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/aks/aks-advanced/aa-replace-node/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/eks/advanced/eks-cluster-iam-policies-and-roles/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/eks/advanced/new/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/eks/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/eks/advanced/replace-node/index.md
  pages/dkp/konvoy/2.3/choose-infrastructure/eks/quick-start/index.md
Labels: ready to merge, Konvoy, backport, konvoy 2.2, DKP 2.2, DKP 2.3, Konvoy 2.3

#4590 fix: Konvoy release-notes KBA and Kommander versions
  pages/dkp/konvoy/1.8/release-notes/1.8.5/index.md
Labels: Konvoy

#4591 Update Dex configuration docs for Kaptain
  pages/dkp/kaptain/2.0.0/configuration/external-dex/index.md
Labels: Kaptain 2.0

#4551 chore(konvoy): add airgapped upgrade
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/prepare-air-gapped/index.md
Labels: Konvoy 2.1

#4592 [Kaptain]: adding MinIO to the prerequisites of Kaptain
  pages/dkp/kaptain/2.0.0/install/index.md
Labels: Kaptain 2.0

#4593 fix: remove vsphere centos7 support
  pages/dkp/konvoy/2.2/supported-operating-systems/index.md
  pages/dkp/konvoy/2.3/supported-operating-systems/index.md
Labels: DKP 2.2, DKP 2.3
