Repository mesosphere/dcos-docs-site, pull requests merged in 2022-01, with the labels that each got.

#4013 docs: add generated kommander api docs in references for 2.2
  pages/dkp/kommander/2.1/reference/dispatch/index.md
  pages/dkp/kommander/2.1/reference/dispatch/v1alpha2/index.md
  pages/dkp/kommander/2.1/reference/kommander/v1beta1/index.md
  pages/dkp/kommander/2.2/reference/dispatch/index.md
  pages/dkp/kommander/2.2/reference/dispatch/v1alpha2/index.md
  pages/dkp/kommander/2.2/reference/kommander/v1beta1/index.md
Labels: ready to merge, kommander 2.2

#4014 docs: add generated kommander api docs in references for 2.1
  pages/dkp/kommander/2.1/reference/dispatch/index.md
  pages/dkp/kommander/2.1/reference/dispatch/v1alpha2/index.md
  pages/dkp/kommander/2.1/reference/kommander/v1beta1/index.md
Labels: ready to merge, needs docs dev review, kommander 2.1

#4018 docs: adding words that are found in api ref docs
  .github/styles/Vocab/Docs/accept.txt
Labels: ready to merge, documentation

#4019 docs: adding words from api ref docs
  .github/styles/Vocab/Docs/accept.txt
Labels: ready to merge, documentation

#4017 docs: fixing typo for kuberentes
  pages/dkp/kommander/2.1/major-upgrade/upgrade-clusters/migrate-platform-apps/index.md
  pages/dkp/kommander/2.2/major-upgrade/upgrade-clusters/migrate-platform-apps/index.md
Labels: ready to merge, Kommander, backport, kommander 2.2

#4020 docs: removing major upgrade from 2.2
  pages/dkp/kommander/2.2/major-upgrade/index.md
  pages/dkp/kommander/2.2/major-upgrade/upgrade-clusters/index.md
  pages/dkp/kommander/2.2/major-upgrade/upgrade-clusters/migrate-platform-apps/cleanup/index.md
  pages/dkp/kommander/2.2/major-upgrade/upgrade-clusters/migrate-platform-apps/index.md
  pages/dkp/kommander/2.2/major-upgrade/upgrade-clusters/migrate-platform-apps/prepare-apps/index.md
  pages/dkp/kommander/2.2/major-upgrade/upgrade-clusters/migrate-platform-apps/supported-apps/index.md
Labels: Kommander, kommander 2.2

#4021 docs: Fixes after 2.1 to 2.2 paste
  pages/dkp/kommander/2.2/gpu/kommander-config/index.md
  pages/dkp/kommander/2.2/logging/enable-logging/restrict-logging/index.md
  pages/dkp/kommander/2.2/logging/multi-tenant-logging/create-appdeployment/index.md
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/index.md
Labels: Kommander, kommander 2.2

#4022 docs: Fixes to 2.1 docs
  pages/dkp/kommander/2.1/gpu/kommander-config/index.md
  pages/dkp/kommander/2.1/logging/enable-logging/restrict-logging/index.md
  pages/dkp/kommander/2.1/release-notes/2.1.1/index.md
  pages/dkp/kommander/2.1/workspaces/applications/platform-applications/index.md
Labels: kommander 2.1

#4015 fix kommander airgapped instructions
  pages/dkp/kommander/2.1/install/air-gapped/index.md
Labels: ready to merge, kommander 2.1

#4023 updating rhel to include FIPS and Air gapped
  pages/dkp/konvoy/2.1/supported-operating-systems/index.md
Labels: ready to merge, Konvoy 2.1

#4028 adding rhel to 2.2
  pages/dkp/konvoy/2.2/supported-operating-systems/index.md
Labels: konvoy 2.2

#4030 fix: aws vpc labels for traefik during bootstrap
  pages/dkp/kommander/2.1/install/air-gapped/index.md
Labels: kommander 2.1

#4032 docs: styling
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/upgrade/control-plane/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/upgrade/node-pool/index.md
Labels: ready to merge, Konvoy, backport, konvoy 2.2

#4034 docs: editing links for kommander uninstall
  pages/dkp/kommander/1.2/uninstall/index.md
  pages/dkp/kommander/1.3/uninstall/index.md
  pages/dkp/kommander/1.4/uninstall/index.md
Labels: ready to merge, Kommander, backport

#4035 docs: backport #4030 to develop from main
  pages/dkp/kommander/2.2/install/air-gapped/index.md
Labels: backport, kommander 2.2

#4038 docs: cleaning up yaml for apps area of install
  pages/dkp/kommander/2.1/install/air-gapped/index.md
Labels: ready to merge, Kommander, kommander 2.1

#4025 [Konvoy 2.1.1] AirGap Bundle - Gov Environment Requirements(2)
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/konvoy/2.1/choose-infrastructure/awsgovcloud/clusterconfig/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/awsgovcloud/clustercontrol/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/awsgovcloud/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/awsgovcloud/prerequisites/index.md
Labels: DO NOT MERGE, Konvoy 2.1

#4039 fix: Update link in spark install instructions
  pages/dkp/kommander/2.1/workspaces/applications/catalog-applications/dkp-applications/spark-operator/index.md
Labels: ready to merge, Kommander, backport, kommander 2.1

#4040 Adding some clarifying language in branch as a source in GitHub
  README.md
Labels: ready to merge, documentation

#4043 [Konvoy 2.2] Air-gapped AWS GovCloud doc migration from 2.1->2.2
  pages/dkp/konvoy/2.2/choose-infrastructure/awsgovcloud/clusterconfig/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/awsgovcloud/clustercontrol/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/awsgovcloud/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/awsgovcloud/prerequisites/index.md
Labels: ready to merge, konvoy 2.2

#4046 fix: backticks in the old p tags
  pages/dkp/konvoy/2.1/choose-infrastructure/awsgovcloud/clusterconfig/index.md
Labels: Konvoy, backport, Konvoy 2.1

#4049 docs: nit changes on custom domain topic
  pages/dkp/kommander/2.1/install/custom-domain/index.md
Labels: ready to merge, Kommander, backport, kommander 2.1

#4051 fix: updating kaptain latest redirect
  index.js
  s3config.json
Labels: Kaptain

#4045 fix: linting and styles in p tags in docs
  pages/dkp/konvoy/2.2/choose-infrastructure/awsgovcloud/clusterconfig/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/awsgovcloud/prerequisites/index.md
Labels: ready to merge, Konvoy, konvoy 2.2

#4055 fix: updating kaptain latest
  s3config.json
Labels: ready to merge, Kaptain

#4053 adding a link to govcloud info
  pages/dkp/konvoy/2.1/release-notes/2.1.1/index.md
Labels: ready to merge, DKP 2.1.1

#4052 docs: document new helm repository related k-cli commands
  pages/dkp/kommander/2.2/install/air-gapped/index.md
Labels: DO NOT MERGE, DKP 2.2

#4054 docs: workaround for kube-oidc-proxy 2.1.1
  pages/dkp/kommander/2.1/release-notes/2.1.1/index.md
Labels: DKP 2.1.1

#4029 Docs updating eks command outputs
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/bootstrap/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/delete/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/explore/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/replace-node/index.md
Labels: ready to merge, Konvoy, Konvoy 2.1

#4044 Updated DL links 2.1
  pages/dkp/konvoy/2.1/choose-infrastructure/awsgovcloud/prerequisites/index.md
Labels: DKP 2.1.1

#4060 Moving to correct branch COPS-7143
  pages/dkp/kommander/2.1/networking/domains/index.md
  pages/dkp/kommander/2.1/networking/ingress/index.md
  pages/dkp/kommander/2.1/networking/load-balancing/index.md
  pages/dkp/kommander/2.1/networking/use-ingress-load-balancer/index.md
Labels: kommander 2.1

#4069 chore: hiding replace node for now to update
  config.json
Labels: ready to merge, Konvoy, Konvoy 2.1, documentation

#4065 docs: Add catalog application chart bundle to install instructions
  pages/dkp/kommander/2.2/install/air-gapped/index.md
Labels: needs eng review, Kommander, DKP 2.2

#4073 Update tutorial for managing Docker credentials
  pages/dkp/kaptain/1.3.0/secrets-management/index.md
Labels: Kaptain

#4071 konvoy: note about Kubernetes version for AKS
  pages/dkp/konvoy/2.1/choose-infrastructure/aks/aks-advanced/aa-explore/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aks/aks-advanced/aa-new/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aks/aks-advanced/aa-replace-node/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aks/aks-quickstart/index.md
Labels: Konvoy, Konvoy 2.1

#4075 docs: just removing eks replace node page 2.1
  config.json
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/replace-node/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/eks/advanced/self-managed/index.md
Labels: ready to merge, Konvoy, backport, Konvoy 2.1

#4067 konvoy: add a Warning about removal of Argo
  pages/dkp/konvoy/1.8/release-notes/1.8.4/index.md
Labels: Konvoy, Konvoy 2.1

#4070 konvoy: document race condition for pre-provisioned adoption
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/preprovisioned/index.md
Labels: Konvoy, DKP 2.1.1

#4076 docs: adding get kubeconfig on preprov docs
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/self-managed/index.md
Labels: ready to merge, Konvoy, Konvoy 2.1, backport needed

#4079 docs: updating to show how to retrieve kubeconfig
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/self-managed/index.md
Labels: ready to merge, Konvoy, backport, konvoy 2.2

#4080 chore: updating version for 2.2
  pages/dkp/kommander/2.2/index.md
  pages/dkp/konvoy/2.2/index.md
Labels: ready to merge, documentation

#4077 docs: Add note about using project deployments with catalog apps
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/kafka/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/spark/index.md
  pages/dkp/kommander/2.1/projects/applications/catalog-applications/dkp-applications/custom-resources-workspace-catalog/zookeeper/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/continuous-delivery/index.md
  pages/dkp/kommander/2.1/projects/project-deployments/gitops/index.md
Labels: ready to merge, Kommander, DKP 2.1.1

#4082 docs: blah typo
  pages/dkp/kommander/2.1/operations/access-control/index.md
Labels: ready to merge, Kommander, Kommander 2.1

#4081 docs: updating access control topic
  pages/dkp/kommander/2.2/img/access-control-cluster-role-bindings.png
  pages/dkp/kommander/2.2/img/access-control-cluster-roles.png
  pages/dkp/kommander/2.2/img/access-control-idp-groups.png
  pages/dkp/kommander/2.2/operations/access-control/index.md
Labels: ready to merge, Kommander, backport, Kommander 2.2
