Repository mesosphere/dcos-docs-site, pull requests merged in 2022-02, with the labels that each got.

#4084 Qa/docker hub limits update 1 x
  pages/dkp/konvoy/1.6/operations/manage-docker-hub-rate-limits/index.md
  pages/dkp/konvoy/1.7/operations/manage-docker-hub-rate-limits/index.md
  pages/dkp/konvoy/1.8/operations/manage-docker-hub-rate-limits/index.md
Labels: ready to merge, Konvoy, backport, documentation

#4083 Qa/deploy sample app 2 1
  pages/dkp/konvoy/2.1/deployments/deploy-sample-app/index.md
  pages/dkp/konvoy/2.1/deployments/index.md
Labels: ready to merge, Konvoy, backport, Konvoy 2.1, backport needed

#4086 docs: adding deploy sample workloads to 22 docs
  pages/dkp/konvoy/2.2/deployments/deploy-sample-app/index.md
  pages/dkp/konvoy/2.2/deployments/index.md
Labels: ready to merge, Konvoy, backport, konvoy 2.2

#4091 fix: metalsmith staying at 2.3.0
  package.json
Labels: docs-site

#4087 fix: MetalLB documentation for air-gapped install
  pages/dkp/kommander/2.1/install/air-gapped/index.md
Labels: ready to merge, Kommander, Kommander 2.1, documentation

#4092 docs: Clarify metallb config can be deployed to attached clusters
  pages/dkp/kommander/2.1/networking/load-balancing/index.md
Labels: Kommander 2.1

#4095 docs: Fix kubefed ns
  pages/dkp/kommander/2.1/clusters/tunnel-cli/index.md
Labels: Kommander 2.1

#4105 fix: MetalLB documentation for air-gapped install
  pages/dkp/kommander/2.2/install/air-gapped/index.md
Labels: ready to merge, DKP 2.2, documentation, Kommander 2.2

#4102 docs: Use cm import custom grafana dashboards
  pages/dkp/konvoy/1.6/monitoring/index.md
  pages/dkp/konvoy/1.7/monitoring/index.md
  pages/dkp/konvoy/1.8/monitoring/index.md
Labels: Konvoy

#4103 docs: forwardport config docs to 2.2
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.2/install/configuration/custom-domain/index.md
  pages/dkp/kommander/2.2/install/configuration/http-proxy/index.md
  pages/dkp/kommander/2.2/install/configuration/index.md
  pages/dkp/kommander/2.2/install/networked/index.md
Labels: Kommander, backport, Kommander 2.2

#4101 (kommander 2.2) Fix kommander CA secret name in kubetunnel docs
  pages/dkp/kommander/2.2/clusters/tunnel-cli/index.md
Labels: Kommander

#4106 (kommander 2.1) Fix kommander CA secret name in kubetunnel docs
  pages/dkp/kommander/2.1/clusters/tunnel-cli/index.md
Labels: Kommander, Kommander 2.1

#4100 [2.2] docs: Clarify metallb config can be deployed to attached clusters
  pages/dkp/kommander/2.2/networking/load-balancing/index.md
Labels: Kommander 2.2

#4099 Add AWS download instructions for Kaptain in Main
  pages/dkp/kaptain/1.3.0/download/index.md
Labels: Kaptain, backport needed

#4104 docs: policy control doc
  pages/dkp/kommander/2.1/security/policy-controls/gatekeeper/index.md
  pages/dkp/kommander/2.1/security/policy-controls/index.md
Labels: needs eng review

#4107 Add link to dkp-catalog-applications gitrepo for example
  pages/dkp/kommander/2.2/projects/applications/catalog-applications/custom-applications/git-repo-structure/index.md
Labels: needs docs dev review, DKP 2.2, documentation

#4111 updated 1.21 to 1.22
  pages/dkp/kommander/2.2/clusters/attach-cluster/requirements-for-attaching/index.md
Labels: wip, documentation, Kommander 2.2

#4108 Update OSS licenses for Kaptain 1.3
  .github/styles/Vocab/Docs/accept.txt
  pages/dkp/kaptain/1.3.0/legal-notices/open-source-attribution/index.md
Labels: Kaptain, backport needed

#4110 adding backup and restore file on it's own
  pages/dkp/kommander/2.1/backup-and-restore/index.md
Labels: ready to merge, Kommander 2.1

#4085 docs: adding azure to supported OS grid
  pages/dkp/konvoy/2.1/supported-operating-systems/index.md
Labels: Konvoy, Konvoy 2.1, backport needed

#4119 docs: fix grafana example config
  pages/dkp/kommander/2.1/install/configuration/index.md
  pages/dkp/kommander/2.2/install/configuration/index.md
Labels: ready to merge, Kommander 2.1, documentation, Kommander 2.2

#4122 [Konvoy] vSphere notes for v1.8.4
  pages/dkp/konvoy/1.8/install/install-vsphere/index.md
  pages/dkp/konvoy/1.8/release-notes/1.8.4/index.md
Labels: Konvoy, documentation

#4121 Update index.md
  pages/dkp/kommander/2.1/licensing/add/index.md
Labels: Kommander 2.1

#4123 Upgrade Kaptain for Konvoy 1.x
  pages/dkp/kaptain/1.3.0/upgrade/index.md
Labels: Kaptain, documentation

#4127 [COPS-7075] dkp2 docs 1 export cmd not applicable for MacOS
  pages/dkp/konvoy/2.0/choose_infrastructure/aws/advanced/update/control-plane/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/advanced/update/control-plane/index.md
Labels: DO NOT MERGE, Konvoy 2.0, Konvoy 2.1

#4126 [Konvoy] CentOS 8 EOL, update docs
  pages/dkp/konvoy/1.8/install/supported-operating-systems/index.md
Labels: DO NOT MERGE, Konvoy 1.8.5

#4130 Upgrade RN for Kommander 2.2 including scope for k8s 1.22
  pages/dkp/kommander/2.2/release-notes/index.md
Labels: documentation, Kommander 2.2

#4134 docs: adding kommander open dashboard command
  pages/dkp/kommander/2.1/install/air-gapped/index.md
  pages/dkp/kommander/2.1/install/networked/index.md
  pages/dkp/kommander/2.1/operations/identity-providers/index.md
  pages/dkp/kommander/2.1/release-notes/2.1.1/index.md
  pages/dkp/kommander/2.2/install/networked/index.md
Labels: ready to merge, Kommander, Kommander 2.1, Kommander 2.2

#4135 docs: telling users KIB version for major upgrade
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/aws/index.md
Labels: ready to merge, Konvoy, Konvoy 2.1

#4131 Update kommander air-gapped installation docs to use new airgapped flag
  pages/dkp/kommander/2.2/install/air-gapped/index.md
Labels: ready to merge, Kommander 2.2

#4133 Add some clarifications about control pre-provisioned CP nodes
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/define-control-plane-endpoint/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/define-infrastructure/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/define-control-plane-endpoint/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/define-infrastructure/index.md
Labels: Konvoy 2.1, konvoy 2.2

#4138 docs: documents custom cert federation workaround
  pages/dkp/kommander/2.1/release-notes/2.1.0/index.md
Labels: Kommander 2.1, DKP 2.1.1, backport needed

#4139 AWS marketplace requirements - Critical update!
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/index.md
  pages/dkp/konvoy/2.1/img/DKP_enterprise.png
  pages/dkp/konvoy/2.1/img/DKP_essential.png
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/index.md
  pages/dkp/konvoy/2.2/img/DKP_enterprise.png
  pages/dkp/konvoy/2.2/img/DKP_essential.png
Labels: Konvoy 2.1, documentation

#4143 chore: removing unhelpful passage
  pages/dkp/kommander/2.1/release-notes/2.1.0/index.md
Labels: chore, Kommander 2.1

#4141 docs: adding sles and sles gpu for os qual
  pages/dkp/konvoy/2.1/supported-operating-systems/index.md
Labels: ready to merge, Konvoy, Konvoy 2.1

#4140 [Docs] some update on major-version-upgrade/upgrade/aws/index.md page
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/aws/index.md
Labels: ready to merge, Konvoy 2.1

#4142 backport 2.1.1: documents custom cert federation workaround
  pages/dkp/kommander/2.1/release-notes/2.1.1/index.md
Labels: backport, Kommander 2.1, DKP 2.1.1
