Repository mesosphere/dcos-docs-site, pull requests merged in 2022-09, with the labels that each got.

#4623 feat: banner routing to new docs site
  layouts/all-products-landing.pug
  layouts/kaptain-docs-landing.pug
  layouts/kommander-docs-landing.pug
  layouts/konvoy-docs-landing.pug
  layouts/partials/header/header.pug
  scss/base/_content.scss
  scss/base/_header-dropdown.scss
  scss/base/_header.scss
  scss/pages/_landing.scss
  scss/pages/_new-landing.scss
Labels: needs eng review, needs docs dev review

#4625 [Kap] backporting multi-cluster specifications
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
  pages/dkp/kaptain/2.0.0/install/deploy-kaptain/index.md
  pages/dkp/kaptain/2.0.0/install/dkp/index.md
  pages/dkp/kaptain/2.0.0/install/prerequisites/index.md
Labels: Kaptain, Kaptain 2.0

#4629 docs: fixing code block for url location
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/create-an-ami/index.md
Labels: ready to merge, backport, konvoy 2.2, DKP 2.2

#4630 docs: Update dkp versions in 2.2 docs to latest 2.2.2
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
  pages/dkp/kommander/2.2/install/configuration/enterprise-catalog/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/bootstrap/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/konvoy/2.2/image-builder/index.md
Labels: konvoy 2.2, DKP 2.2, Kommander 2.2

#4631 Include a podinfo app deployment steps on 'Project Deployment Section Documentation' of Kommander
  pages/dkp/kommander/2.2/tutorials/continuous-delivery/deploy_app_gitops/index.md
Labels: backport, DKP 2.2

#4633 Missing link to final step in docs to make cluster self managed
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/create-cluster/index.md
Labels: backport, DKP 2.2

#4632 docs: Add documentation for containerd bundles for 2.2.2 On Prem Air Gap
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
Labels: ready to merge, DKP 2.2

#4634 [Kap] warning on upgrading a Kaptain cluster to 2.x
  pages/dkp/konvoy/2.1/major-version-upgrade/index.md
  pages/dkp/konvoy/2.1/major-version-upgrade/plan/index.md
Labels: Kaptain, DKP 2.1.1, Kaptain 2.0
