Repository mesosphere/dcos-docs-site, pull requests merged in 2022-10, with the labels that each got.

#4642 [DKP 2.1] Better Progress Monitoring for 2.1 Upgrade Status
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/aws/index.md
Labels: DKP 2.1

#4644 [Konvoy] Update fetch.yaml file in Upgrade Documentation
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/prepare-local-environment/index.md
Labels: DKP 2.1

#4643 Added workaround - 2.1x to 2.2x upgrade Minio failure
  pages/dkp/kommander/2.2/release-notes/2.2.0/index.md
  pages/dkp/kommander/2.2/release-notes/2.2.1/index.md
  pages/dkp/kommander/2.2/release-notes/2.2.2/index.md
Labels: Kommander 2.2

#4645 docs: adding new version for flatcar
  pages/dkp/konvoy/2.1/supported-operating-systems/index.md
Labels: ready to merge, backport, Konvoy 2.1, DKP 2.1

#4648 [Kap]: adding note on not supported certificates
  pages/dkp/kaptain/2.0.0/configuration/external-dex/index.md
  pages/dkp/kaptain/2.0.0/install/prerequisites/index.md
Labels: Kaptain 2.0

#4649 docs: formatting was off a bit
  pages/dkp/konvoy/2.1/major-version-upgrade/upgrade/aws/index.md
Labels: ready to merge, backport, Konvoy 2.1, DKP 2.1

#4635 2.1.4 Release Notes Draft
  pages/dkp/kommander/2.1/release-notes/2.1.4/index.md
  pages/dkp/konvoy/2.1/release-notes/2.1.4/index.md
Labels: Konvoy 2.1, Kommander 2.1, DKP 2.1.4

#4650 Update index.md
  pages/dkp/konvoy/2.1/release-notes/2.1.4/index.md
Labels: Konvoy 2.1

#4652 docs: update PV requirement for grafana-loki
  pages/dkp/kommander/2.2/workspaces/applications/platform-applications/platform-application-requirements/index.md
Labels: ready to merge, Kommander 2.2

#4656 The order of the RN was slightly different - fixes that
  pages/dkp/kommander/2.2/release-notes/2.2.3/index.md
  pages/dkp/konvoy/2.2/release-notes/2.2.3/index.md
Labels: ready to merge, backport, konvoy 2.2, DKP 2.2, Kommander 2.2, Konvoy 2.2.3, Kommander 2.2.3

#4654 [DKP] upgrade matrix
  pages/dkp/kommander/2.2/dkp-upgrade/index.md
  pages/dkp/konvoy/2.2/dkp-upgrade/index.md
Labels: DKP 2.2
