Repository mesosphere/dcos-docs-site, pull requests merged in 2022-11, with the labels that each got.

#4657 [Kap]: downloads now available from support site
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.1/index.md
  pages/dkp/kaptain/2.0.0/install/air-gapped-2.2/index.md
Labels: Kaptain 2.0

#4655 changing 2.1.1 to 2.1.4 D2iq-93808
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/bootstrap/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/air-gapped/seed-a-registry/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/prerequisites-airgapped/index.md
  pages/dkp/konvoy/2.1/major-version-upgrade/index.md
Labels: DKP 2.1

#4660 Generate Kaptain 2.2 docs
  pages/dkp/kaptain/2.2.0/configuration/index.md
  pages/dkp/kaptain/2.2.0/sdk/1.3.x/api/index.md
  pages/dkp/kaptain/2.2.0/sdk/1.3.x/index.md
  pages/dkp/kaptain/2.2.0/tutorials/feast/index.md
  pages/dkp/kaptain/2.2.0/tutorials/katib/index.md
  pages/dkp/kaptain/2.2.0/tutorials/pipelines/index.md
  pages/dkp/kaptain/2.2.0/tutorials/sdk/image-builder/index.md
  pages/dkp/kaptain/2.2.0/tutorials/sdk/pytorch/index.md
  pages/dkp/kaptain/2.2.0/tutorials/sdk/quick-start/index.md
  pages/dkp/kaptain/2.2.0/tutorials/sdk/tensorflow/index.md
  pages/dkp/kaptain/2.2.0/tutorials/training/mxnet/index.md
  pages/dkp/kaptain/2.2.0/tutorials/training/pytorch/index.md
  pages/dkp/kaptain/2.2.0/tutorials/training/tensorflow/index.md
Labels: DO NOT MERGE, Kaptain
