Repository mesosphere/dcos-docs-site, pull requests merged in 2022-03, with the labels that each got.

#4147 docs: adding export workspace to release notes
  pages/dkp/kommander/2.1/release-notes/2.1.1/index.md
Labels: ready to merge, Kommander, Kommander 2.1

#4148 prepare beta to only show konvoy
  config.json
Labels: doc tools

#4154 [Konvoy 1.7, 1.8] COPS-7156 HA Control Plane
  pages/dkp/konvoy/1.7/networking/control-plane-high-availability/index.md
  pages/dkp/konvoy/1.8/networking/control-plane-high-availability/index.md
Labels: cops, documentation

#4149 Upgrade Catalog Applications with UI and CLI
  pages/dkp/kommander/2.2/projects/applications/catalog-applications/index.md
  pages/dkp/kommander/2.2/release-notes/index.md
Labels: documentation, Kommander 2.2

#4158 Redo: Kommander Installation
  pages/dkp/kommander/2.0/install/networked/index.md
  pages/dkp/kommander/2.1/install/networked/index.md
  pages/dkp/kommander/2.2/install/networked/index.md
Labels: ready to merge, cops

#4159 changing wording of prerequs to help customers - COPS-7180
  pages/dkp/konvoy/1.6/install/install-azure/index.md
  pages/dkp/konvoy/1.7/install/install-azure/index.md
  pages/dkp/konvoy/1.8/install/install-azure/index.md
Labels: Konvoy

#4168 Updated menuweight so RNs are displayed first
  pages/dkp/kommander/2.2/release-notes/index.md
Labels: documentation, Kommander 2.2

#4170 docs: unclosed html bracket
  pages/dkp/kommander/2.2/projects/applications/catalog-applications/index.md
Labels: ready to merge, Kommander, documentation, Kommander 2.2

#4146 docs: adding default for azure and aws
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.1/choose-infrastructure/azure/quick-start-azure/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/quick-start-aws/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/prerequisites/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/quick-start-azure/index.md
Labels: ready to merge, Konvoy, Konvoy 2.1, konvoy 2.2

#4144 D2IQ-78969: Readd helm cli tools
  package-lock.json
  pages/dkp/kommander/2.0/cli-tools/helm/index.md
  pages/dkp/kommander/2.0/cli-tools/index.md
  pages/dkp/kommander/2.1/cli-tools/helm/index.md
  pages/dkp/kommander/2.1/cli-tools/index.md
  pages/dkp/kommander/2.2/cli-tools/helm/index.md
  pages/dkp/kommander/2.2/cli-tools/index.md
Labels: ready to merge, Kommander 2.0, Kommander 2.1, Kommander 2.2

#4175 docs: fixing broken test
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/advanced/prerequisites/index.md
Labels: ready to merge

#4163 docs: provision a static local volume
  pages/dkp/konvoy/2.1/storage/static-local-volume/index.md
  pages/dkp/konvoy/2.2/storage/static-local-volume/index.md
Labels: Konvoy, Konvoy 2.1, konvoy 2.2

#4174 Improvements on the docs set-up file for new contributors
  README.md
Labels: doc tools, documentation

#4178 [Kommander] COPS-7173 added note
  pages/dkp/kommander/2.1/install/networked/index.md
Labels: Kommander 2.1, cops, documentation

#4179 konvoy: use kubectl create because of large ConfigMaps
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/advanced/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/awsgovcloud/clusterconfig/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/azure/advanced/new/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/eks/advanced/new/index.md
Labels: konvoy 2.2, documentation

#4164 docs: Install -- SAML
  pages/dkp/kommander/2.1/security/howto-dex-saml-connector/index.md
  pages/dkp/kommander/2.2/security/howto-dex-saml-connector/index.md
Labels: DO NOT MERGE, Kommander, Kommander 2.1

#4181 [kommander] Update service monitor selector label for 2.2
  pages/dkp/kommander/2.0/monitoring/index.md
  pages/dkp/kommander/2.2/monitoring/index.md
Labels: Kommander, Kommander 2.2

#4183 chore: add note about restoring management cluster backup
  pages/dkp/kommander/2.1/backup-and-restore/index.md
  pages/dkp/kommander/2.2/backup-and-restore/index.md
Labels: DKP 2.2, DKP 2.1.1

#4188 COPS-7195 note
  pages/dkp/konvoy/2.1/release-notes/2.1.1/index.md
Labels: Konvoy 2.1, cops

#4169 docs: Use new push image-bundle command
  pages/dkp/kommander/2.2/install/air-gapped/index.md
Labels: ready to merge, Kommander 2.2

#4173 QA: static-local-volume-update
  pages/dkp/konvoy/1.8/storage/static-local-volume/index.md
Labels: Konvoy

#4189 COPS-7172 added URL
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/define-control-plane-endpoint/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/define-control-plane-endpoint/index.md
Labels: Konvoy 2.1, konvoy 2.2, cops

#4190 docs: rename konvoy cluster to dkp
  pages/dkp/konvoy/2.1/storage/static-local-volume/index.md
  pages/dkp/konvoy/2.2/storage/static-local-volume/index.md
Labels: Konvoy, Konvoy 2.1, konvoy 2.2

#4180 docs: updated centralized grafana clusterrole name
  pages/dkp/kommander/2.2/operations/access-control/rbac/index.md
Labels: ready to merge, DKP 2.2, Kommander 2.2

#4192 konvoy: document flag's default change in the next release
  pages/dkp/konvoy/2.2/release-notes/index.md
Labels: DO NOT MERGE, konvoy 2.2

#4177 Kommander upgrade, first draft
  pages/dkp/kommander/2.2/dkp-upgrade/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
Labels: documentation, Kommander 2.2

#4198 chore: update airgapped kommander install commands
  pages/dkp/kommander/2.2/install/air-gapped/index.md
Labels: needs docs dev review

#4184 docs: add docs on enterprise catalog
  pages/dkp/kommander/2.2/install/configuration/enterprise-catalog/index.md
Labels: ready to merge, DKP 2.2, Kommander 2.2

#4202 D2IQ-86493 feat: manually attach cluster
  pages/dkp/kommander/2.2/clusters/attach-cluster/manually-attach-cluster/index.md
  pages/dkp/kommander/2.2/clusters/index.md
Labels: ready to merge, Kommander 2.2

#4199 docs: adding verify konv install topic
  pages/dkp/konvoy/2.1/choose-infrastructure/verify-installation/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/verify-installation/index.md
Labels: ready to merge, Konvoy 2.1, konvoy 2.2, documentation

#4208 taking out drop downs
  layouts/404.pug
  layouts/all-products-landing.pug
  layouts/cn-dcos-docs-landing.pug
  layouts/dcos-docs-landing.pug
  layouts/dispatch-docs-landing.pug
  layouts/kaptain-docs-landing.pug
  layouts/kommander-docs-landing.pug
  layouts/konvoy-docs-landing.pug
  layouts/partials/header/header.pug
  layouts/search.pug
Labels: doc tools

#4209 feat: new badge style for tech previews
  layouts/partials/content.pug
  scss/shortcodes/_badge.scss
  shortcodes/index.js
Labels: DO NOT MERGE

#4211 docs: Update Create Cluster docs with advanced AWS options
  pages/dkp/kommander/2.2/clusters/creating-konvoy-cluster-aws/index.md
Labels: DKP 2.2

#4218 adding syntax for formatting
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/multi-account/index.md
Labels: ready to merge

#4221 docs: Update airgap bundle URLs
  pages/dkp/kommander/2.2/install/air-gapped/catalog/index.md
  pages/dkp/kommander/2.2/install/air-gapped/index.md
Labels: DO NOT MERGE, DKP 2.2, Kommander 2.2

#4204 DKP Upgrade overview
  pages/dkp/kommander/2.2/dkp-upgrade/index.md
Labels: konvoy 2.2, DKP 2.2, Kommander 2.2

#4215 Short upgrade info on Custom Apps
  pages/dkp/kommander/2.2/dkp-upgrade/custom-apps/index.md
Labels: platform services, DKP 2.2, documentation

#4229 Warning platform apps
  pages/dkp/kommander/2.2/projects/applications/platform-applications/index.md
Labels: platform services, DKP 2.2, documentation

#4227 Add clarification about Virtual-ip uses kube-vip
  pages/dkp/konvoy/2.1/choose-infrastructure/pre-provisioned/create-cluster/index.md
Labels: ready to merge, docs-site

#4222 docs: Update formatting to allow copy/pasting
  pages/dkp/kommander/2.2/projects/applications/catalog-applications/index.md
Labels: ready to merge, DKP 2.2, Kommander 2.2

#4217 adding Shafiques request
  pages/dkp/konvoy/2.1/choose-infrastructure/aws/multi-account/index.md
Labels: ready to merge, Konvoy 2.1

#4201 Kommander Upgrade including air-gapped scenarios
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-kommander/index.md
  pages/dkp/kommander/2.2/dkp-upgrade/upgrade-konvoy/index.md
Labels: Kommander, DKP 2.2, Kommander 2.2

#4234 Co/copying_2.1_aws
  pages/dkp/konvoy/2.2/choose-infrastructure/aws/multi-account/index.md
  pages/dkp/konvoy/2.2/choose-infrastructure/pre-provisioned/create-cluster/index.md
Labels: DKP 2.2
