Repository mesosphere/dcos-docs-site, changes with the owners that CODEOWNERS names for each.
All owners: @niartenyaw, @networking-team, @mesosphere/mesosphere-storage

CODEOWNERS:

# changes 4-12-19 CK
# Aaron should see all code changes (things not in /pages)
* @niartenyaw

# Leave out notifications for pages by leaving blank
/pages/

# Sarah for services
# change to not notify
# /pages/services/ @SarahStegall @jpe442

# Networking
# change to notify networking team only 
/pages/services/edge-lb/ @networking-team
/pages/*/networking/ @networking-team

# Storage
# change to notify storage team only
/pages/services/storage/ @mesosphere/mesosphere-storage

nginx: beta-storage redirects to storage
  docker/nginx/redirects-301.map
  docker/nginx/redirects-307.map
Owners: @niartenyaw

config: rm beta-storage rules
  config.json
Owners: @niartenyaw

pages: upgrade svc refs from beta-storage/ to storage/
  pages/1.11/installing/production/advanced-configuration/configuration-reference/index.md
  pages/1.11/release-notes/1.11.0-rc4/index.md
  pages/1.11/release-notes/1.11.0/index.md
  pages/1.11/release-notes/1.11.1/index.md
  pages/1.11/release-notes/1.11.10/index.md
  pages/1.11/release-notes/1.11.11/index.md
  pages/1.11/release-notes/1.11.2/index.md
  pages/1.11/release-notes/1.11.3/index.md
  pages/1.11/release-notes/1.11.4/index.md
  pages/1.11/release-notes/1.11.5/index.md
  pages/1.11/release-notes/1.11.6/index.md
  pages/1.11/release-notes/1.11.7/index.md
  pages/1.11/release-notes/1.11.8/index.md
  pages/1.11/release-notes/1.11.9/index.md
  pages/1.11/storage/persistent-volume/index.md
  pages/1.12/installing/production/advanced-configuration/configuration-reference/index.md
  pages/1.12/release-notes/1.12.1/index.md
  pages/1.12/release-notes/1.12.2/index.md
  pages/1.12/release-notes/1.12.3/index.md
  pages/1.12/storage/persistent-volume/index.md
  pages/1.13/release-notes/1.13.0/index.md
  pages/1.13/release-notes/1.13.1/index.md
  pages/1.14/installing/production/advanced-configuration/configuration-reference/index.md
  pages/1.14/storage/persistent-volume/index.md
  pages/cn/1.11/installing/production/advanced-configuration/configuration-reference/index.md
  pages/cn/1.11/release-notes/1.11.0-rc4/index.md
  pages/cn/1.11/release-notes/1.11.0/index.md
  pages/cn/1.11/release-notes/1.11.1/index.md
  pages/cn/1.11/release-notes/1.11.2/index.md
  pages/cn/1.11/release-notes/1.11.3/index.md
  pages/cn/1.11/release-notes/1.11.4/index.md
  pages/cn/1.11/storage/persistent-volume/index.md
  pages/cn/1.12/installing/production/advanced-configuration/configuration-reference/index.md
  pages/cn/1.12/release-notes/1.12.1/index.md
  pages/cn/1.12/release-notes/1.12.2/index.md
  pages/cn/1.12/release-notes/1.12.3/index.md
  pages/cn/1.12/storage/persistent-volume/index.md
Owners: none

pages/services/storage/1.0.0: rename beta-cassandra -> cassandra
  pages/services/storage/1.0.0/troubleshooting/index.md
  pages/services/storage/1.0.0/tutorials/cassandra-dss-volumes/index.md
Owners: @mesosphere/mesosphere-storage

Add initial copy
  pages/services/edge-lb/1.4/api-reference/edgelb/index.md
  pages/services/edge-lb/1.4/api-reference/haproxy/index.md
  pages/services/edge-lb/1.4/api-reference/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-cleanup/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-create/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-delete/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-endpoints/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-lb-config/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-list/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-ping/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-show/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-status/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-template-create/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-template-delete/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-template-show/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-template-update/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-update/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-version/index.md
  pages/services/edge-lb/1.4/cli-reference/index.md
  pages/services/edge-lb/1.4/img/edge-lb-flow.png
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/1.4/input-formats/index.md
  pages/services/edge-lb/1.4/installing/index.md
  pages/services/edge-lb/1.4/permissions/index.md
  pages/services/edge-lb/1.4/pool-configuration/index.md
  pages/services/edge-lb/1.4/pool-configuration/v1-examples/index.md
  pages/services/edge-lb/1.4/pool-configuration/v1-reference/index.md
  pages/services/edge-lb/1.4/pool-configuration/v2-examples/index.md
  pages/services/edge-lb/1.4/pool-configuration/v2-reference/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
  pages/services/edge-lb/1.4/tutorials/blue-green-deploy/index.md
  pages/services/edge-lb/1.4/tutorials/index.md
  pages/services/edge-lb/1.4/tutorials/multi-lb/index.md
  pages/services/edge-lb/1.4/tutorials/single-lb/index.md
  pages/services/edge-lb/1.4/uninstalling/index.md
  pages/services/edge-lb/1.4/upgrading/index.md
  pages/services/edge-lb/1.4/usage/index.md
Owners: @networking-team

Change links and menuweights for 1.4
  pages/services/edge-lb/1.2/index.md
  pages/services/edge-lb/1.3/index.md
  pages/services/edge-lb/1.4/api-reference/edgelb/index.md
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/1.4/installing/index.md
  pages/services/edge-lb/1.4/permissions/index.md
  pages/services/edge-lb/1.4/pool-configuration/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
  pages/services/edge-lb/1.4/tutorials/multi-lb/index.md
  pages/services/edge-lb/1.4/tutorials/single-lb/index.md
  pages/services/edge-lb/1.4/upgrading/index.md
  pages/services/edge-lb/1.4/usage/index.md
Owners: @networking-team

Grab changes from PR#2385
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-diagnostic/index.md
  pages/services/edge-lb/1.4/uninstalling/index.md
Owners: @networking-team

Cloud connector WIP
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
Owners: @networking-team

Add draft cloud provider integration section.
  pages/services/edge-lb/1.3/index.md
  pages/services/edge-lb/1.4/concepts/architecture/index.md
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/1.4/concepts/index.md
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
Owners: @networking-team

Add cloud provider LB info WIP.
  pages/services/edge-lb/1.4/concepts/index.md
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/index.md
Owners: @networking-team

Cloud connector WIP.
  pages/services/edge-lb/1.2/index.md
  pages/services/edge-lb/1.3/index.md
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/index.md
Owners: @networking-team

Add Getting started folder to 1.4
  pages/services/edge-lb/1.4/getting-started/comparing-load-balancers/index.md
  pages/services/edge-lb/1.4/getting-started/index.md
  pages/services/edge-lb/1.4/getting-started/installing/index.md
  pages/services/edge-lb/1.4/getting-started/single-lb/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
Owners: @networking-team

New cloud connector content.
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
Owners: @networking-team

Remove installing chapter, add metadata.md
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/1.4/installing/index.md
  pages/services/edge-lb/1.4/pool-configuration/METADATA.md
Owners: @networking-team

Add backticks around permissions block.
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
Owners: @networking-team

Add metadata, add x-refs between cloud connector and metadata, change pool configuration order.
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/1.4/pool-configuration/index.md
  pages/services/edge-lb/1.4/pool-configuration/metadata/index.md
  pages/services/edge-lb/1.4/pool-configuration/v1-examples/index.md
  pages/services/edge-lb/1.4/pool-configuration/v1-reference/index.md
  pages/services/edge-lb/1.4/pool-configuration/v2-examples/index.md
  pages/services/edge-lb/1.4/pool-configuration/v2-reference/index.md
Owners: @networking-team

Delete html commented lines to fix bug
  pages/services/edge-lb/1.2/release-notes/index.md
  pages/services/edge-lb/1.3/release-notes/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
Owners: @networking-team

Cloud connector WIP
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
Owners: @networking-team

Change links and menuweights for 1.4
  pages/services/edge-lb/1.2/index.md
  pages/services/edge-lb/1.3/index.md
  pages/services/edge-lb/1.4/api-reference/edgelb/index.md
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/1.4/installing/index.md
  pages/services/edge-lb/1.4/permissions/index.md
  pages/services/edge-lb/1.4/pool-configuration/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
  pages/services/edge-lb/1.4/tutorials/multi-lb/index.md
  pages/services/edge-lb/1.4/tutorials/single-lb/index.md
  pages/services/edge-lb/1.4/upgrading/index.md
  pages/services/edge-lb/1.4/usage/index.md
Owners: @networking-team

Delete html commented lines to fix bug
  pages/services/edge-lb/1.2/release-notes/index.md
  pages/services/edge-lb/1.3/release-notes/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
Owners: @networking-team

Cloud connector WIP.
  pages/services/edge-lb/1.2/index.md
  pages/services/edge-lb/1.3/index.md
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/index.md
Owners: @networking-team

Add draft cloud provider integration section.
  pages/services/edge-lb/1.3/index.md
  pages/services/edge-lb/1.4/concepts/architecture/index.md
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/1.4/concepts/index.md
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
Owners: @networking-team

Add initial copy
  pages/services/edge-lb/1.4/api-reference/edgelb/index.md
  pages/services/edge-lb/1.4/api-reference/haproxy/index.md
  pages/services/edge-lb/1.4/api-reference/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-cleanup/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-create/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-delete/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-endpoints/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-lb-config/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-list/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-ping/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-show/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-status/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-template-create/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-template-delete/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-template-show/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-template-update/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-update/index.md
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-version/index.md
  pages/services/edge-lb/1.4/cli-reference/index.md
  pages/services/edge-lb/1.4/img/edge-lb-flow.png
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/1.4/input-formats/index.md
  pages/services/edge-lb/1.4/installing/index.md
  pages/services/edge-lb/1.4/permissions/index.md
  pages/services/edge-lb/1.4/pool-configuration/index.md
  pages/services/edge-lb/1.4/pool-configuration/v1-examples/index.md
  pages/services/edge-lb/1.4/pool-configuration/v1-reference/index.md
  pages/services/edge-lb/1.4/pool-configuration/v2-examples/index.md
  pages/services/edge-lb/1.4/pool-configuration/v2-reference/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
  pages/services/edge-lb/1.4/tutorials/blue-green-deploy/index.md
  pages/services/edge-lb/1.4/tutorials/index.md
  pages/services/edge-lb/1.4/tutorials/multi-lb/index.md
  pages/services/edge-lb/1.4/tutorials/single-lb/index.md
  pages/services/edge-lb/1.4/uninstalling/index.md
  pages/services/edge-lb/1.4/upgrading/index.md
  pages/services/edge-lb/1.4/usage/index.md
Owners: @networking-team

Remove installing chapter, add metadata.md
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/1.4/installing/index.md
  pages/services/edge-lb/1.4/pool-configuration/METADATA.md
Owners: @networking-team

New cloud connector content.
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
Owners: @networking-team

Add cloud provider LB info WIP.
  pages/services/edge-lb/1.4/concepts/index.md
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/index.md
Owners: @networking-team

Add metadata, add x-refs between cloud connector and metadata, change pool configuration order.
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
  pages/services/edge-lb/1.4/pool-configuration/index.md
  pages/services/edge-lb/1.4/pool-configuration/metadata/index.md
  pages/services/edge-lb/1.4/pool-configuration/v1-examples/index.md
  pages/services/edge-lb/1.4/pool-configuration/v1-reference/index.md
  pages/services/edge-lb/1.4/pool-configuration/v2-examples/index.md
  pages/services/edge-lb/1.4/pool-configuration/v2-reference/index.md
Owners: @networking-team

Add backticks around permissions block.
  pages/services/edge-lb/1.4/concepts/cloud-connector/index.md
Owners: @networking-team

Add Getting started folder to 1.4
  pages/services/edge-lb/1.4/getting-started/comparing-load-balancers/index.md
  pages/services/edge-lb/1.4/getting-started/index.md
  pages/services/edge-lb/1.4/getting-started/installing/index.md
  pages/services/edge-lb/1.4/getting-started/single-lb/index.md
  pages/services/edge-lb/1.4/release-notes/index.md
Owners: @networking-team

Grab changes from PR#2385
  pages/services/edge-lb/1.4/cli-reference/dcos-edgelb-diagnostic/index.md
  pages/services/edge-lb/1.4/uninstalling/index.md
Owners: @networking-team

pages/services/storage/1.0.0: rename beta-cassandra -> cassandra
  pages/services/storage/1.0.0/troubleshooting/index.md
  pages/services/storage/1.0.0/tutorials/cassandra-dss-volumes/index.md
Owners: @mesosphere/mesosphere-storage

Add dcos task log --all to ref table
  pages/1.12/cli/command-reference/dcos-task/dcos-task-log/index.md
  pages/1.13/cli/command-reference/dcos-task/dcos-task-log/index.md
  pages/1.14/cli/command-reference/dcos-task/dcos-task-log/index.md
Owners: none

Add images pulled from old PRs
  pages/services/edge-lb/img/Edge-Basic-with-Hardware-LB.png
  pages/services/edge-lb/img/Edge-HAProxy-stats-2.png
  pages/services/edge-lb/img/Edge-HAProxy-stats.png
  pages/services/edge-lb/img/Edge-LB-1.png
  pages/services/edge-lb/img/Edge-LB-2.png
  pages/services/edge-lb/img/Edge-LB-3.png
  pages/services/edge-lb/img/Edge-LB-4.png
  pages/services/edge-lb/img/Edge-LB-Basic-01.png
  pages/services/edge-lb/img/Edge-LB-artifacts.png
  pages/services/edge-lb/img/Edge-LB-welcome-nginx.png
  pages/services/edge-lb/img/Edge-MLB-nginx.png
  pages/services/edge-lb/img/Simple-Load-Balancer.png
  pages/services/edge-lb/img/edge-lb-catalog-tiles.png
  pages/services/edge-lb/img/edge-lb-flow.png
  pages/services/edge-lb/img/edgelb-api-config-settings.png
  pages/services/edge-lb/img/edgelb-deployment-status.png
  pages/services/edge-lb/img/edgelb-pool-config-settings.png
  pages/services/edge-lb/img/edgelb-review-run-summary.png
  pages/services/edge-lb/img/list-edgelb-releases.png
  pages/services/edge-lb/img/support-default-packages-list.png
  pages/services/edge-lb/img/support-login-sample.png
Owners: @networking-team

Add images pulled from old PRs
  pages/services/edge-lb/img/Edge-Basic-with-Hardware-LB.png
  pages/services/edge-lb/img/Edge-HAProxy-stats-2.png
  pages/services/edge-lb/img/Edge-HAProxy-stats.png
  pages/services/edge-lb/img/Edge-LB-1.png
  pages/services/edge-lb/img/Edge-LB-2.png
  pages/services/edge-lb/img/Edge-LB-3.png
  pages/services/edge-lb/img/Edge-LB-4.png
  pages/services/edge-lb/img/Edge-LB-Basic-01.png
  pages/services/edge-lb/img/Edge-LB-artifacts.png
  pages/services/edge-lb/img/Edge-LB-welcome-nginx.png
  pages/services/edge-lb/img/Edge-MLB-nginx.png
  pages/services/edge-lb/img/Simple-Load-Balancer.png
  pages/services/edge-lb/img/edge-lb-catalog-tiles.png
  pages/services/edge-lb/img/edge-lb-flow.png
  pages/services/edge-lb/img/edgelb-api-config-settings.png
  pages/services/edge-lb/img/edgelb-deployment-status.png
  pages/services/edge-lb/img/edgelb-pool-config-settings.png
  pages/services/edge-lb/img/edgelb-review-run-summary.png
  pages/services/edge-lb/img/list-edgelb-releases.png
  pages/services/edge-lb/img/support-default-packages-list.png
  pages/services/edge-lb/img/support-login-sample.png
Owners: @networking-team

Add the previous n-1 version back to the docs site
  pages/services/cassandra/2.4.0-3.0.16/index.md
Owners: none

Remove 3.11.3 page from docs site
  pages/services/cassandra/2.5.0-3.11.3/index.md
Owners: none

Link fixes
  pages/services/edge-lb/1.2/api-reference/edgelb/index.md
  pages/services/edge-lb/1.2/pool-configuration/index.md
  pages/services/edge-lb/1.3/api-reference/edgelb/index.md
  pages/services/edge-lb/1.3/pool-configuration/index.md
  pages/services/edge-lb/1.3/tutorials/single-lb/index.md
  pages/services/edge-lb/1.4/api-reference/edgelb/index.md
  pages/services/edge-lb/1.4/pool-configuration/index.md
Owners: @networking-team

Link fixes
  pages/services/edge-lb/1.2/api-reference/edgelb/index.md
  pages/services/edge-lb/1.2/pool-configuration/index.md
  pages/services/edge-lb/1.3/api-reference/edgelb/index.md
  pages/services/edge-lb/1.3/pool-configuration/index.md
  pages/services/edge-lb/1.3/tutorials/single-lb/index.md
  pages/services/edge-lb/1.4/api-reference/edgelb/index.md
  pages/services/edge-lb/1.4/pool-configuration/index.md
Owners: @networking-team

Correct links changes from page restructure
  pages/services/edge-lb/1.4/getting-started/comparing-load-balancers/index.md
  pages/services/edge-lb/1.4/getting-started/installing/index.md
  pages/services/edge-lb/1.4/getting-started/single-lb/index.md
  pages/services/edge-lb/1.4/index.md
  pages/services/edge-lb/1.4/permissions/index.md
  pages/services/edge-lb/1.4/tutorials/multi-lb/index.md
  pages/services/edge-lb/1.4/tutorials/single-lb/index.md
  pages/services/edge-lb/1.4/upgrading/index.md
  pages/services/edge-lb/1.4/usage/index.md
  pages/services/edge-lb/index.md
Owners: @networking-team

fix link
  pages/services/edge-lb/1.4/getting-started/installing/index.md
Owners: @networking-team
